@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : agent_register.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ==================================================================
 *  div#content
 * ================================================================== */
div#content table th { width:188px; }
div#content table td p { margin-top: 10px; }
div#content table td#term * { margin-right: 4px; }
div#content table td#term span { padding: 0px; background: none; display: inline-block; margin: 0px 8px; }
div#content table td#emp div { float: left; }
div#content table td#emp div#disp_area_1 { width: 660px; padding-right: 10px; }
div#content table td#emp div#emp_btn { width: 80px; }
div#content table td#emp .button { width: 80px; }
div#content div#main_btn { text-align: right; }
div#content div#main_btn input { margin-top: 5px; }
