/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : analysis.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@charset "utf-8";

 /* ==================================================================
 *  div#content
 * ================================================================== */
 
/* ==================================================================
 *  div#main
 * ================================================================== */
/*検索エリア*/
div#main #search_area { margin-bottom: 10px; }
div#main #search_area table td.input_no  input { width: 10em; ime-mode: disable; }
div#main #search_area table td.input_str input { width: 40em; ime-mode: active; }
div#main #search_area table td.input_date input { width: 10em; ime-mode: disable; }
div#main #search_area table td.input_date a.calendar_btn { margin-right: 20px; }
div#main #search_area table td.input_label input { margin-right: 5px; }
div#main #search_area table td.input_label label { margin-right: 20px; }
div#main #search_area .button  { margin-top: 5px; }
div#main #search_area #close_search_btn  { float: right; }

/*ナビ*/
div#main #list_area #main_nav { width: 100%; }
div#main #list_area #main_nav li { float: left; margin-top: 10px; margin-left: 7px; }
div#main #list_area #main_nav li a { width: 53px; height: 49px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
div#main #list_area #main_nav li a:hover { background-position: left bottom; }
div#main #list_area #main_nav li.none a { background-position: left -50px; cursor: default; }
div#main #list_area #main_nav li.main_nav_01 { margin-left: 10px; _margin-left: 6px; }
div#main #list_area #main_nav li.main_nav_01 a { background-image: url(../inci_img/main_nav_ico01.gif); }
div#main #list_area #main_nav li.main_nav_08 a { background-image: url(../inci_img/main_nav_ico08.gif); }
div#main #list_area #main_nav li.main_nav_09 a { background-image: url(../inci_img/main_nav_ico09.gif); }
div#main #list_area #main_nav li.main_nav_90 a { background-image: url(../inci_img/main_nav_ico90.gif); }
div#main #list_area #main_nav li.main_nav_90 { float: right; margin-right: 10px; _margin-right: 6px; }

/*一覧*/
div#content div#main #list_area table { margin-top: 5px; }
div#content div#main #list_area table .ellipsis{ width: 220px; }
div#content div#main #list_area table tr.checked td { background-color: #fff9d4; }
div#content div#main #list_area table tr td span.checkbox_wrap{ display: block; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
div#content div#main #list_area table tr.checked td  span.checkbox_wrap { background-position: 0px -28px; }
div#content div#main #list_area table tr td span.disabled { background-position: 0px bottom; }
div#content div#main #list_area table tr td span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }
