/**
 * CoMedix Common Style
*/

/*
 * 機能タイトル部分
*/
#header {
    padding: 0 0 10px 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #f6f9ff;
}
#header img {
    border: 0;
    vertical-align:text-bottom;
}

/*
 * 管理者画面へ
*/
#admin {
    position:absolute;
    top: 6px;
    right: 6px;
    border: 1px solid #5279a5;
    padding: 4px;
    font-weight: bold;
}

/*
 * タブ風メニュー
*/
#menu {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid #5279a5;
    background-color: #f6f9ff;
}
#menu ul {
    margin: 0;
    padding: 0;
    height: 22px;
    width: 1280px;
}
#menu ul li {
    display: block;
    width: 120px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    background-color: #bdd1e7;
    margin-left: 5px;
    text-align: center;
    white-space: nowrap;
    float: left;
    list-style:none;
}
#menu ul li a {
    display:inline-block;
}
#menu ul li.selected {
    font-weight: bold;
    background-color: #5279a5;
}
#menu ul li.selected a {
    color: #fff;
}

/*
 * サブメニュー
*/
#submenu {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
}
#submenu ul {
    margin: 0;
    padding: 0;
    height: 22px;
    width: 1280px;
}
#submenu ul li {
    display: block;
    padding: 3px 5px;
    font-size: 12px;
    border: 3px double #bdd1e7;
    margin-left: 5px;
    text-align: center;
    white-space: nowrap;
    float: left;
    list-style:none;
}
#submenu ul li a {
    display:inline-block;
}

/*
 * タイトル部分
*/
.subheader {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

/*
 * 子画面ヘッダ
*/
div.winheader {
    margin-bottom: 5px;
    background-color: #5279a5;
    vertical-align: middle;
    padding: 0;
    width:100%;
    height:26px;
    position: relative;
}
div.winheader span.title {
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    display:block;
    position: absolute;
    top: 3px;
    left: 5px;
}
div.winheader span.close {
    cursor: pointer;
    display:block;
    position: absolute;
    top: 1px;
    right: 3px;
}

/*
 * メイン
*/
#main {
    margin:0;
    padding: 10px;
    background-color: #fff;
}

/**
 * 一覧テーブル
*/
table.list {
    border-collapse: collapse;
    border: 1px solid #5279a5;
    margin-bottom: 10px;
}
table.list tr td {
    border: 1px solid #5279a5;
    font-size: 12px;
    padding: 3px 5px;
}
table.list thead {
    background-color: #f6f9ff;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}

/**
 * フォームテーブル
*/
table.form {
    border-collapse: collapse;
    border: 1px solid #5279a5;
    margin-bottom: 10px;
}
table.form td {
    border: 1px solid #5279a5;
    font-size: 12px;
    padding: 6px 10px;
}
table.form col.header {
    padding: 6px 20px;
    background-color: #f6f9ff;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}
table.form td.header {
    padding: 6px 20px;
    background-color: #f6f9ff;
    text-align: right;
    font-size: 13px;
    width:200px;
}

/**
 * パーツ
*/
hr {
    border: 1px solid #5279a5;
    width: 100%;
}
button {
    font-size: 12px;
    padding: 2px 5px;
    margin: 3px 5px;
}
button.small {
    font-size: 9px;
    padding: 1px 1px;
    margin: 0 1px;
}
td.showDragHandle {
    background-image: url(../img/updown.gif);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: move;
}
td.center {
    text-align: center;
}
td.right {
    text-align: right;
}
div.emp_division {
}
div.emp_division div {
    position:relative;
    margin:3px;
}
div.emp_division a.close {
    display:block;
    position:absolute;
    top: 0;
    right: 10px;
}
fieldset {
    margin:10px 0;
    padding:10px;
    font-size: 12px;
}
div.attention {
    background-color: yellow;
    color: #000;
    border: 1px solid red;
    padding:10px;
    margin-bottom: 3px;
    text-align:center;
    font-weight: bold;
}
div.alert {
    background-color: lightpink;
    color: #000;
    border: 1px solid red;
    padding:3px 5px;
    font-size: 11px;
}

/**
 * 入力フォーム
*/
input.jpn {
    ime-mode: active;
}
input.eng {
    ime-mode: disabled;
}
input.num {
    ime-mode: disabled;
    text-align: right;
}

/**
 * エラー
*/
p.err {
    color:#f00;
    font-weight:bold;
}
td.err {
    background-color:#ff69b4;
}
div.err {
    background-color:#ff69b4;
    color: #000;
    border: 1px solid #000;
    padding:10px;
    font-size: 12px;
}

/**
 * DatePicker
*/
img.ui-datepicker-trigger {
    vertical-align:bottom;
    padding: 1px;
    cursor: pointer;
}
div.ui-datepicker {
    font-size: 11px;
}

/**
 * clear
 */
div.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

/**
 * clearfix
 */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* end clearfix */
