@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : common.css
 *
 *  ファントルくんメイン画面共通
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ==================================================================
 *  Base
 * ================================================================== */
body { background-color: #fff; font-family: 'ＭＳ Ｐゴシック', 'Osaka', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo; color: #5b2500; }

#top div.total_width0 { width:  990px; min-width:  990px; }
#top div.total_width1 { width: 1055px; min-width: 1055px; }
#top div.total_width2 { width: 1120px; min-width: 1120px; }
#top div.total_width3 { width: 1185px; min-width: 1185px; }
#top div.total_width4 { width: 1250px; min-width: 1250px; }

/* ==================================================================
 *  div#header
 * ================================================================== */
div#header { background-color: #fdf6dc; width: 100%; }
div#header .inner { margin: 0 auto; position: relative; font-size: 93%; padding-bottom: 22px; }
div#header .inner h1 { padding: 12px 3px; width: 262px; }
div#header .inner #admin { position: absolute; right: 0; top: 10px; }
div#header .inner #admin a { width: 67px; height: 10px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background: url(../img/btn_admin.gif) no-repeat; background-position: left 0px; }
div#header .inner #admin a:hover { background-position: left -10px; }
div#header .inner #hd_txt { position: absolute; right: 0; top: 30px; padding: 9px 13px; border: 1px dotted #000; }
div#header .inner #global_nav { width: 100%; }
div#header .inner #global_nav li { float: left; height: 70px; }
div#header .inner #global_nav li a { height: 70px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left top; }
div#header .inner #global_nav li.active a { background-position: left bottom; }
div#header .inner #global_nav li.none a { background-position: left center; cursor: default; }
div#header .inner #global_nav li.none a:hover { background-position: left center; cursor: default; }
div#header .inner #global_nav li a:hover { background-position: left bottom; }
div#header .inner #global_nav li.nav_01 a { width: 90px; background-image: url(../inci_img/global_nav_01.gif); }
div#header .inner #global_nav li.nav_02 a { width: 90px; background-image: url(../inci_img/global_nav_02.gif); }
div#header .inner #global_nav li.nav_03 a { width: 90px; background-image: url(../inci_img/global_nav_03.gif); }
div#header .inner #global_nav li.nav_04 a { width: 90px; background-image: url(../inci_img/global_nav_04.gif); }
div#header .inner #global_nav li.nav_05 a { width: 90px; background-image: url(../inci_img/global_nav_05.gif); }
div#header .inner #global_nav li.nav_06 a { width: 90px; background-image: url(../inci_img/global_nav_06.gif); }
div#header .inner #global_nav li.nav_07 a { width: 90px; background-image: url(../inci_img/global_nav_07.gif); }
div#header .inner #global_nav li.nav_08 a { width: 90px; background-image: url(../inci_img/global_nav_08.gif); }
div#header .inner #global_nav li.nav_09 a { width: 90px; background-image: url(../inci_img/global_nav_09.gif); }
div#header .inner #global_nav li.nav_10 a { width: 90px; background-image: url(../inci_img/global_nav_10.gif); }
div#header .inner #global_nav li.nav_11 a { width: 90px; background-image: url(../inci_img/global_nav_11.gif); }
div#header .inner #global_nav li.nav_12 a { width: 90px; background-image: url(../inci_img/global_nav_12.gif); }
div#header .inner #global_nav li.nav_13 { width: 65px; background-image: url(../inci_img/global_nav_13.gif); }
div#header .inner #global_nav li.nav_14 { width: 130px; background-image: url(../inci_img/global_nav_14.gif); }
div#header .inner #global_nav li.nav_15 { width: 195px; background-image: url(../inci_img/global_nav_15.gif); }
div#header .inner #global_nav li.nav_16 { width: 260px; background-image: url(../inci_img/global_nav_16.gif); }
/*---------------------------------------------------------
フレーム
-----------------------------------------------------------*/
/*01色（オレンジ）*/
div.color01 { background: url(../img/bg_01.gif); padding: 3px; }
/*02色（ブルー）*/
div.color02 { background: url(../img/bg_02.gif); padding: 3px; }
/*03色（ピンク）*/
div.color03 { background: url(../img/bg_03.gif); padding: 3px; }

/* ==================================================================
 *  div#content
 * ================================================================== */
div#content { position: relative; margin: 0 auto; min-height: 400px; font-size: 93%; padding: 22px 0 13px; }
div#content h2 { margin-top: 30px; font-weight: bold; font-size: 138.5%; }
div#content h2.type01 { background: url(../img/ico_02.gif) no-repeat 1px center; padding-left: 32px; height: 22px; }
div#content h2.type02 { background: url(../img/ico_03.gif) no-repeat left center; padding-left: 16px; height: 22px; }
div#content h2.type03 { background: url(../img/ico_06.gif) no-repeat left center; padding-left: 16px; height: 22px; }
div#content input { padding: 4px; }
div#content select { padding: 4px; }
div#content textarea { padding: 4px; }
div#content table { width: 100%; }
div#content table th { font-weight: bold; letter-spacing: 1px; }
div#content table td .ellipsis{ text-align: left; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -webkit-text-overflow: ellipsis; -o-text-overflow: ellipsis; }
div#content table tr.checked td { background-color: #fff9d4; }
/*---------------------------------------------------------
横タイトルのテーブル（行間：tdのpadding-bottom、列間：tdの中のspanの背景画像）
-----------------------------------------------------------*/
div#content table.h_title th { text-align: center; padding: 11px 12px 9px; }
div#content table.h_title td { text-align: center; padding-bottom: 2px; }
div#content table.h_title td span { padding: 11px 12px 10px; display: block; min-height: 1em; overflow: hidden; background-color: #FFF; }
/*セルの背景画像（オレンジ）*/
div#content .color01 table.h_title td span { background: url(../img/line_01.gif) no-repeat right center #FFF; }
/*セルの背景画像（ブルー）*/
div#content .color02 table.h_title td span { background: url(../img/line_02.gif) no-repeat right center #FFF; }
/*背景なし*/
div#content table.h_title td span.none { background-image: none; }
/*---------------------------------------------------------
縦タイトルのテーブル（行間：thとtdのborder-bottom、列間：なし）
-----------------------------------------------------------*/
div#content table.v_title th { text-align: left; padding: 10px; }
div#content table.v_title td { text-align: left; padding: 10px; background-color: #FFF; }
/*行間（オレンジ）*/
div#content .color01 table.v_title th { border-bottom: 3px dotted #fcc99c; }
div#content .color01 table.v_title td { border-bottom: 3px solid #ff9e48; }
/*行間（ブルー）*/
div#content .color02 table.v_title th { border-bottom: 3px dotted #cef2f6; }
div#content .color02 table.v_title td { border-bottom: 3px solid #9de5ed; }
/*行間（ピンク）*/
div#content .colro03 table.v_title th { border-bottom: 3px dotted #ffe6e5; }
div#content .colro03 table.v_title td { border-bottom: 3px solid #ffe6e5; }
/*ボーダーなし*/
div#content table.v_title th.none { border: none; }
div#content table.v_title td.none { border: none; }
/*---------------------------------------------------------
一覧タイプのテーブル（行間：border-bottom、列間：tdの背景画像）
-----------------------------------------------------------*/
div#content table.list th { text-align: center; padding: 11px 12px 9px; font-weight: lighter; }
div#content table.list td { text-align: center; padding: 10px; border-bottom: 1px solid #ececec; }
/*ヘッダセルの背景画像（ブルー）*/
div#content .color02 table.list th { background: url(../img/line_05.gif) no-repeat right bottom; }
div#content .color02 table.list th.none{background-image:none;}
/*データセルの背景画像（ブルー）*/
div#content .color02 table.list td { background: url(../img/line_03.gif) no-repeat right center #FFF; }
div#content .color02 table.list td.none{background-image:none;}
/*ボーダーなし*/
div#content table.list th.none { border: none; }
div#content table.list td span.none { border: none; }
/*---------------------------------------------------------
ページの先頭へ
-----------------------------------------------------------*/
div#content .pagetop { margin: 0 auto; padding-top: 15px; clear: both; }
div#content .pagetop a { margin: auto 0 auto auto; width: 102px; height: 12px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background: url(../img/btn_pagetop.gif) no-repeat; background-position: left 0px; }
div#content .pagetop a:hover { background-position: left -12px; }

div#content #sub { width: 179px; float: left; }
div#content #main { float: right; }
div#content .main_width0 { width:  790px; min-width:  790px; }
div#content .main_width1 { width:  855px; min-width:  855px; }
div#content .main_width2 { width:  920px; min-width:  920px; }
div#content .main_width3 { width:  985px; min-width:  985px; }
div#content .main_width4 { width: 1050px; min-width: 1050px; }

/* ==================================================================
 *  div#footer
 * ================================================================== */
div#footer { width: 100%; background: url(../img/ft_line.gif) repeat-x left top; }
div#footer p { padding: 14px; text-align: center; font-size: 93%; }

/* ==================================================================
 *  ボタン
 * ================================================================== */
div#header .button, div#content .button, div#footer .button, div#ss_content .button { width: 115px; height: 27px; padding: 5px; border: none; cursor: pointer; }
div#header .button, div#content .button, div#footer .button, div#ss_content .button { background: url(../img/btn_arrow.gif) no-repeat left center #77bc00; color: #FFF; }
div#header .button:hover, div#content .button:hover, div#footer .button:hover, div#ss_content .button:hover { background: url(../img/btn_arrow_on.gif) no-repeat left center #fffd37; color: #5b2500; }

div#header .button_disabled,
div#content .button_disabled,
div#footer .button_disabled,
div#ss_content .button_disabled { width: 115px; height: 27px; padding: 5px; border: none; background: none no-repeat left center #BCE069; color: #FFF;}

div#content .nav_btn { width: 100%; height: 24px; padding: 5px; border: none; cursor: pointer; text-align: center; }
div#content .nav_btn { background: url(../img/side_nav_btn.gif) no-repeat left top #FFF; color: #FF7800; }
div#content .nav_btn:hover { background-position: left bottom; }

div#content .calendar_btn { height: 27px; width: 27px; display: inline-block; vertical-align: top; margin-left: 2px; overflow: hidden; text-align: left; text-indent: -999em; background-image: url(../img/btn_calendar.gif); background-position: left 0px; background-repeat: no-repeat; }
div#content .calendar_btn:hover { background-position: left -27px; }

div#content .clear_btn { height: 21px; width: 60px; display: inline-block; vertical-align: top; overflow: hidden; text-align: left; text-indent: -999em; background-image: url(../img/btn_reset.gif); background-position: left 0px; background-repeat: no-repeat; }
div#content .clear_btn:hover { background-position: left -21px; }

/* ==================================================================
 *  div#main_nav
 * ================================================================== */
ul#main_nav { width: 100%; }
ul#main_nav li { float: left; margin-right: 6px; }
ul#main_nav .button { width: 100px; height: 27px; padding: 5px; border: none; color: #FFF; cursor: pointer; background: url(../img/btn_arrow.gif) no-repeat left center #77bc00; }
ul#main_nav .button_disabled { width: 100px; height: 27px; padding: 5px; border: none; color: #FFF;}
ul#main_nav .button:hover { color: #5b2500; background: url(../img/btn_arrow_on.gif) no-repeat left center #fffd37; }

/* ==================================================================
 *  datepicker IEで背景やボーダーが表示されない現象の対策
 * ================================================================== */
table.ui-datepicker-calendar{
  background-color: #fff !important; 
}

div#ui-datepicker-div { 
  background-color: #fff !important; 
  border: 1px #AAAAAA solid !important; 
  padding-top: 0.2em !important; 
  padding-left: 0.2em !important;
  padding-right: 0.2em !important; 
  border-radius: 4px !important; 
}

/* IE7で検索フォームが正しく表示されない現象の対策                 
div#search_area { 
  *height : 600px;
  _height : 600px;
}
*/ 