/* カレンダー */
div#sub .color01 { margin-bottom: 16px; }
div#sub .color01 h2 { text-align: center; padding: 12px 10px 10px; margin: 0; }
div#sub ul#sub_calendar li ul li { float: left; padding: 0; list-style-image: none; }
div#sub ul#sub_calendar li ul li a { height: 22px; width: 22px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
div#sub ul#sub_calendar li ul li a:hover { background-position: left -22px; }
div#sub ul#sub_calendar li ul li.back a { margin-left: 8px; background-image: url(../img/side_nav03_01.gif); }
div#sub ul#sub_calendar li ul li.year { width: 111px; height: 20px; font-weight: bold; text-align: center; font-size: 14px; letter-spacing: 1px; padding-top: 2px; }
div#sub ul#sub_calendar li ul li.next a { margin-right: 8px; background-image: url(../img/side_nav03_02.gif); }
div#sub ul#sub_calendar li select { margin: 6px 0 8px; padding: 4px; width:172px; color:#5b2500; }
div#sub ul#sub_calendar table { background-color: #FFF; behavior: none; border-radius: 0 0 4px 4px; margin: 0; margin-top: 8px; }
div#sub ul#sub_calendar table td { width: 42px; height: 35px; border: 2px solid #f2e9e1; }
div#sub ul#sub_calendar table a.active { background-color: rgb(255,253,55); }
div#sub ul#sub_calendar table .lineT { border-top: none; }
div#sub ul#sub_calendar table .lineL { border-left: none; }
div#sub ul#sub_calendar table .lineR { border-right: none; }
div#sub ul#sub_calendar table .lineB { border-bottom: none; }

/* 日付タイプ */
div#sub_date_type select { width: 100%; margin: 10px 0; color: inherit; }

/*期間*/
div#sub ul#sub_date { margin-top: 10px; }
div#sub ul#sub_date li.dates { background-color: #FFF; padding: 2px; margin-bottom: 3px; }
div#sub ul#sub_date li.dates input { width: 62px; }

