@charset "utf-8";


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : default.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ==================================================================
 *  Browser Style Reset
 * ================================================================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
/*
html { overflow-y:scroll; }
*/
img { border:none; }
a { outline:0; }
a img { border:none; text-decoration:none; outline:0; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
ul,ol { list-style-type:none; }
object,embed { border:0; vertical-align:bottom; outline:none; }
table { border-collapse:collapse; }
caption,th { text-align:left; }
input{ verticalalign:middle; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
strong { font-weight:bold; text-decoration:none; }	
label { cursor:pointer; }
select option { padding:0 3px; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input,textarea,select { font-family:inherit; font-size:inherit; font-weight:inherit; }
input,textarea,select { *font-size:100%; }

/* ==================================================================
 *	
 *  Font Size Adjustment
 *	
 *	77%	= 10px	|	123.1%	= 16px	|	167% = 22px	
 *	85%	= 11px	|	131%		= 17px	|	174% = 23px
 *	93%	= 12px	|	138.5%	= 18px	|	182% = 24px
 *	100%	= 13px	|	146.5%	= 19px	|	189% = 25px
 *	108%	= 14px	|	153.9%	= 20px	|	197% = 26px
 *	116% 	= 15px	|	161.6%	= 21px	|
 *
 * ================================================================== */
body { font:13px/1.231 arial,helvetica,clean,sans-serif; *font-size:small; *font:x-small; }
select,input,button,textarea { font:99% arial,helvetica,clean,sans-serif; }
table { font-size:inherit; font:100%; }
pre,code,kbd,samp,tt { font-family:monospace; *font-size:108%; line-height:100%; }

/* ==================================================================
 *  Link
 * ================================================================== */
a:link		{ color:#619900; text-decoration:underline; }
a:active		{ color:#619900; text-decoration:underline; }
a:visited	{ color:#619900; text-decoration:underline; }
a:hover		{ color:#619900; text-decoration:none; }

/* ==================================================================
 *  Default Class Style
 * ================================================================== */
/* clearfix */
.clearfix:after	{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix			{ display:inline-block; }
* html .clearfix	{ height:1%; }
.clearfix			{ display:block; }
/* End clearfix */
.hidden				{ position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0; overflow:hidden; }
.clear				{ clear:both; }
.floatL				{ display:inline; float:left; }
.floatR				{ display:inline; float:right; }
.left					{ text-align:left !important; }
.right				{ text-align:right !important; }
.center				{ text-align:center !important; }
.valignT				{ vertical-align:top; }
.valignM				{ vertical-align:middle; }
.valignB				{ vertical-align:bottom; }
div.section			{ position:relative; }
div.article			{ position:relative; }
div.unit				{ position:relative; }
div.columnL			{ display:inline; float:left; }
div.columnR			{ display:inline; float:right; }
img.imgL				{ float:left; margin-right:20px; }
img.imgR				{ float:right; margin-left:20px; }
.indent1				{ padding-left:1em; text-indent:-1em; }
.indent2				{ padding-left:2em; text-indent:-2em; }
.indent3				{ padding-left:3em; text-indent:-3em; }
.textS				{ font-size:85%; }
.hover				{}
.transparent		{}
/*
.radius				{ border-radius:5px !important; overflow:hidden; }
*/
.radius				{ border-radius:5px !important; }
.radius_mini				{ border-radius:3px !important; overflow:hidden; }
/* ---------------------------------- *
   Margin & Padding
*/
.mT0	{ margin-top:0px !important; }
.mT3	{ margin-top:3px !important; }
.mT5	{ margin-top:5px !important; }
.mT10	{ margin-top:10px !important; }
.mT15	{ margin-top:15px !important; }
.mT20	{ margin-top:20px !important; }
.mT25	{ margin-top:25px !important; }
.mT30	{ margin-top:30px !important; }
.mT40	{ margin-top:40px !important; }
.mT50	{ margin-top:50px !important; }

.mR3	{ margin-right:3px !important; }
.mR5	{ margin-right:5px !important; }
.mR10	{ margin-right:10px !important; }
.mR15	{ margin-right:15px !important; }
.mR20	{ margin-right:20px !important; }
.mR25	{ margin-right:25px !important; }
.mR30	{ margin-right:30px !important; }
.mR40	{ margin-right:40px !important; }
.mR50	{ margin-right:50px !important; }

.mB3	{ margin-bottom:3px !important; }
.mB5	{ margin-bottom:5px !important; }
.mB10	{ margin-bottom:10px !important; }
.mB15	{ margin-bottom:15px !important; }
.mB20	{ margin-bottom:20px !important; }
.mB25	{ margin-bottom:25px !important; }
.mB30	{ margin-bottom:30px !important; }
.mB40	{ margin-bottom:40px !important; }
.mB50	{ margin-bottom:50px !important; }

.mL0	{ margin-left:0px !important; }
.mL3	{ margin-left:3px !important; }
.mL5	{ margin-left:5px !important; }
.mL10	{ margin-left:10px !important; }
.mL15	{ margin-left:15px !important; }
.mL20	{ margin-left:20px !important; }
.mL25	{ margin-left:25px !important; }
.mL30	{ margin-left:30px !important; }
.mL40	{ margin-left:40px !important; }
.mL50	{ margin-left:50px !important; }

.p3	{ padding:3px !important; }
.p5	{ padding:5px !important; }
.p10	{ padding:10px !important; }
.p15	{ padding:15px !important; }
.p20	{ padding:20px !important; }
.p25	{ padding:25px !important; }
.p30	{ padding:30px !important; }
.p40	{ padding:40px !important; }
.p50	{ padding:50px !important; }

.pT3	{ padding-top:3px !important; }
.pT5	{ padding-top:5px !important; }
.pT10	{ padding-top:10px !important; }
.pT15	{ padding-top:15px !important; }
.pT20	{ padding-top:20px !important; }
.pT25	{ padding-top:25px !important; }
.pT30	{ padding-top:30px !important; }
.pT40	{ padding-top:40px !important; }
.pT50	{ padding-top:50px !important; }

.pR3	{ padding-right:3px !important; }
.pR5	{ padding-right:5px !important; }
.pR10	{ padding-right:10px !important; }
.pR15	{ padding-right:15px !important; }
.pR20	{ padding-right:20px !important; }
.pR25	{ padding-right:25px !important; }
.pR30	{ padding-right:30px !important; }
.pR40	{ padding-right:40px !important; }
.pR50	{ padding-right:50px !important; }

.pB3	{ padding-bottom:3px !important; }
.pB5	{ padding-bottom:5px !important; }
.pB10	{ padding-bottom:10px !important; }
.pB15	{ padding-bottom:15px !important; }
.pB20	{ padding-bottom:20px !important; }
.pB25	{ padding-bottom:25px !important; }
.pB30	{ padding-bottom:30px !important; }
.pB40	{ padding-bottom:40px !important; }
.pB50	{ padding-bottom:50px !important; }

.pL3	{ padding-left:3px !important; }
.pL5	{ padding-left:5px !important; }
.pL10	{ padding-left:10px !important; }
.pL15	{ padding-left:15px !important; }
.pL20	{ padding-left:20px !important; }
.pL25	{ padding-left:25px !important; }
.pL30	{ padding-left:30px !important; }
.pL40	{ padding-left:40px !important; }
.pL50	{ padding-left:50px !important; }

