html *{
    margin:0px;
    padding:0px;
    font-family: ＭＳ Ｐゴシック, Osaka;
}

table {
    border-collapse:collapse;
}

th, td {
    border:#35B341 solid 1px;
    font-size:80%;
    line-height:140%;
}

input[type="button"] {
    padding:1px 6px;
};

/************************************************
画面タイトル
************************************************/
#title{
    color:white;
    font-weight:bold;
    font-size:110%;
    letter-spacing:1px;
}

/************************************************
コンテンツ全体
************************************************/
#all_contents{
    width:100%;
}

/************************************************
ヘッダ
************************************************/
.info td{
    padding:2px;
}
#flow{
    font-size:90%;
    letter-spacing:1px;
}

/************************************************
報告書全体
************************************************/
#report_main{
    width:100%;
}

/************************************************
報告書内容
************************************************/
/*グループタイトル*/
h2{
    font-size:130%;
    background-image:url("../img/circle.png");
    background-position:0% 50%;
    background-repeat:no-repeat;
    padding-left:20px;
    margin-top:20px;
    margin-bottom:5px;
}

/************************************************
報告書内容：グループのフレーム
************************************************/
.frame{
    width:100%;    
}

.frame_topleft{
    border:none;
    width:10px;
    height:10px;
    line-height:10px;
	background-repeat:no-repeat;
	background-image:url("../img/r_1.gif");
}
.frame_topright{
    border:none;
    width:10px;
    height:10px;
    line-height:10px;
	background-repeat:no-repeat;
	background-image:url("../img/r_2.gif");
}
.frame_bottomleft{
    border:none;
    width:10px;
    height:10px;
    line-height:10px;
	background-repeat:no-repeat;
	background-image:url("../img/r_3.gif");
}
.frame_bottomright{
    border:none;
    width:10px;
    height:10px;
    line-height:10px;
	background-repeat:no-repeat;
	background-image:url("../img/r_4.gif");
}
.frame_topmiddle{
    border:none;
    height:10px;
    line-height:10px;
	background-repeat:repeat-x;
	background-image:url("../img/r_up.gif");
}
.frame_bottommiddle{
    border:none;
    height:10px;
    line-height:10px;
	background-repeat:repeat-x;
	background-image:url("../img/r_down.gif");
}
.frame_left{
    border:none;
    width:10px;
	background-repeat:repea-y;
    background-image:url("../img/r_left.gif");
}
.frame_right{
    border:none;
    width:10px;
	background-repeat:repea-y;
    background-image:url("../img/r_right.gif");
}

.data{
    border:none;
    background-color:rgb(245,255,229);
}

/************************************************
報告書内容：テーブル
************************************************/
.data table{
   width:100%;
}
.next_block{
    margin-top:10px;
}

/*テーブルの表示（条件によって表示するテーブルのうち前のテーブルと少し間隔をあけるもの）*/
table.optional_show1{
    margin-top:3px;
}

/*テーブルの表示（条件によって表示するテーブルのうち前のテーブルと間隔をあけないもの）*/
table.optional_show2 th, table.optional_show2 td{
    border-top:none;
}

/*テーブルの非表示（条件によって表示するテーブルのうち前のテーブルと少し間隔をあけるもの）*/
table.optional_hide1{
    display:none;
    margin-top:3px;
}

/*テーブルの非表示（条件によって表示するテーブルのうち前のテーブルと間隔をあけないもの）*/
table.optional_hide2{
    display:none;
}
table.optional_hide2 th, table.optional_hide2 td{
    border-top:none;
}

/*当事者テーブル*/
#parties table{
    margin:0px;
}

/************************************************
報告書内容：アイテムのタイトル列
************************************************/
.data th{
    width:250px;
    padding:10px;    
    vertical-align:top;
    text-align:left;
	background-color:#dfffdc;
}

/*必須（＊マーク）*/
.required{
    color:red;
}

/*必須（背景色）*/
.required_bg{
    background-color:#FFDDFD;
}

/*事例の詳細の場合*/
th.jirei_left, td.jirei_left{
    border-right:none;    
    width:auto;
}
th.jirei_middle, td.jirei_middle{
    border-left:none;
    border-right:none;
    width:auto;
    white-space:nowrap;
}
th.jirei_right, td.jirei_right{
    border-left:none;
    width:auto;
}

/************************************************
報告書内容：アイテムのデータ列
************************************************/
.data td{
    padding:10px;    
	background-color:#fff;
}

/*データ列*/
td.item_data{       /*選択肢以外のデータ*/
    border-right:none;
}
td.item_selection{  /*選択肢データ*/
    border-right:none;
    padding-bottom:5px;
}

/*クリアボタン列（ボタンがない場合を含む）*/
td.item_btn{
    border-left:none;
    text-align:right;
    width:40px;
    vertical-align:top;
}

/*テキストボックス(ime:active)*/
input.text_normal{
    width:250px;
    ime-mode:active;
}

/*テキストボックス(ime:disabled)*/
input.text_numeric{
    width:250px;
    ime-mode:disabled;
}

/*日付テキストボックス*/
input.text_date{
    width:100px;
    border:#35B341 solid 2px;
}

/*報告日テキストボックス*/
input.report_date{
    width:4em;
}

/*医療テキストボックス*/
input.text_iryo{
    width:90%;
}

/*テキストエリア*/
textarea{
 width:100%;
 ime-mode:active
}

/*選択肢のラジオボタンとテキストボックスなど複数の要素をセットにする*/
.item_set{
    display:inline-block;
    margin-right:1em;
    margin-bottom:5px;
    white-space:nowrap;
}

/*発生要因の区切り*/
.pause_title{
    font-weight:bold;
}

/*患者影響レベル*/
#level_info{
    margin:0px;
}
#level_info td {
    border:none;
    padding:0px;
}

/************************************************
報告書内容：ボタン
************************************************/
/*カレンダーボタン*/
.calendar_btn{
    position:relative;
    top:3px;
    z-index:1;
    cursor:pointer;
}

/*プロフィールボタン*/
.profile_btn{
    width:200px;
}

/*当事者の追加・削除ボタン*/
#party_btn{
    margin-top:3px;
}

/*事例の詳細のボタン*/
th.jirei_btn, td.jirei_btn{
    text-align:right;
    background-color:#dfffdc;
}

/************************************************
************************************************/
td.tbl_layout {border:none;}
.icon{color:#13781D;}
