@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : el_list_all.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ==================================================================
 *  div#sub
 * ================================================================== */
div#sub h2 { text-align: center; color:white; margin: 12px 10px 10px; }

/* フォルダ */
div#sub #sub_bunrui { overflow: hidden; }
div#sub #sub_bunrui .inner { background-color: #FFF; }
div#sub #sub_nav { margin-bottom: 2px; }
div#sub #sub_bunrui #b_scrollbar { width: 173px; clear: both; margin: 0 auto; background: url(../img/b_scrollbar_track.gif) no-repeat right top; }
div#sub #sub_bunrui #b_scrollbar .viewport { width: 162px; height: 280px; overflow: hidden; position: relative; }
div#sub #sub_bunrui #b_scrollbar .overview { list-style: none; position: absolute; left: 0; top: 0; }
div#sub #sub_bunrui #b_scrollbar .scrollbar { position: relative; float: right; width: 8px; }
div#sub #sub_bunrui #b_scrollbar .track { height: 100%; width: 8px; position: relative; background-color: #ffc28c; }
div#sub #sub_bunrui #b_scrollbar .thumb { height: 72px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; background: url(../img/b_scrollbar_barbottom.gif) no-repeat left bottom #fff; }
div#sub #sub_bunrui #b_scrollbar .thumb .end { overflow: hidden; height: 7px; width: 8px; background: url(../img/b_scrollbar_bartop.gif) no-repeat left top; }
div#sub #sub_bunrui #b_scrollbar .disable { display: none; }
div#sub #sub_bunrui #b_scrollbar a.selectedLabel { background-color: #fffd37; }

/* ==================================================================
 *  div#main
 * ================================================================== */
div#main div.color02 { margin-top: 5px; }
div#main #list_area table tr.checked td { background-color: #fff9d4; }
div#main #list_area table tr td span.checkbox_wrap{ margin: auto; display: block; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
div#main #list_area table tr td span.disabled { background-position: 0px bottom; }
div#main #list_area table tr.checked td  span.checkbox_wrap { background-position: 0px -28px; }
div#main #list_area table tr td span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }
