body,
button,
input,
select,
textarea {
    font-size:13px;
    font-family: 'MS PGothic', sans-serif;
}

#tab {
    padding:0;
    border-width:0;
    position: fixed;
    width: 100%;
    padding: .2em;
    zoom: 1;
    z-index: 1;
    background-color: #fff;
}
#tab ul {
    margin: 0;
    padding: .2em .2em 0;
    border-width: 0;
    padding: 0;
}
#tab li {
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    padding: .5em 1em;
    list-style: none;
    float: left;
    border: 1px solid #d3d3d3;
    border-bottom: 0 !important;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #e6e6e6;
    font-weight: normal;
    color: #555555;
}
#tab li.active {
    margin-bottom: 0;
    border: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff !important;
    background-color: #ffffff;
    font-weight: normal;
    color: #212121;
    cursor: text;
}
#search {
    margin: 0;
    padding: 4px;
    background-color: white;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

#keyword {
    ime-mode: active;
}

#lists {
    overflow: auto;
    position: absolute;
    top: 70px;
}

#emplist {
    margin: 1px 2px;
    padding:0;
    width: 680px;
    border: 1px solid black;
}

#emplist td {
    border: 1px solid black;
    font-size:10px;
    padding: 1px 2px;
}
#emplist td.emplist-button {
    width: 50px;
    text-align: center;
    white-space: nowrap;
}
#emplist td.emplist-button span {
    white-space: nowrap;
}
#emplist tbody td.emplist-name {
    font-size:12px;
}
#emplist tbody td.emplist-address {
    font-size:13px;
}
#emplist thead td {
    background-color: #5279a5;
    color: #fff;
    font-size:13px;
    font-weight:bold;
}
#emplist tbody tr.stripe {
    background-color: #f6f9ff;
}
#emplist tbody tr.hover {
    background-color: #FFFFCC !important;
}
#emplist td.emplist-group {
    font-size:12px;
    cursor: pointer;
}

#emplist td.emplist-group img {
	background-image:url("../img/icon/plus.gif");
	vertical-align:middle;
    width:20px;
    height:20px;
}

#emplist td.emplist-group img.open {
	background-image:url("../img/icon/minus.gif");
}

#close {
    cursor: pointer;
    width: 24px;
    height:24px;
    background-image: url('../img/icon/closeo.gif');
    position: fixed;
    top: 4px;
    right: 4px;
    margin:0;
    padding:0;
    z-index: 2;
}

/* IE6 position:fixed hack */
* html, * html body {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0;
}
* html #tab {
    position: absolute;
}
* html #close {
    position: absolute;
    right: 18px;
}
* html #lists {
    overflow: auto;
    position: relative;
    width:100%;
    height:530px;
}
