@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : hiyari_hiyari.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ==================================================================
 *  div#content
 * ================================================================== */
div#content { position: static; }
 
/* ==================================================================
 *  div#sub
 * ================================================================== */
div#sub .color01 { margin-bottom: 16px; }
div#sub .color01 h2 { text-align: center; padding: 10px; margin: 0; color: #fff; font-size: 100%; }
/*-----------------------------------------------
メニュー
-----------------------------------------------*/
div#sub #sub_menu ul li { margin-bottom: 3px; display: block; }
div#sub #sub_menu ul li { width: 100%; height: 32px; text-align: left; background: url(../img/side_nav02_01.gif) no-repeat left 0px; }
div#sub #sub_menu ul li.none { margin-bottom: 0px; display: block; }
div#sub #sub_menu ul li.active { background-position: left -32px; cursor: default; }
div#sub #sub_menu ul li:hover { background-position: left -32px; }
div#sub #sub_menu ul li a { color: rgb(231, 121, 38); font-weight: bold; font-size: 100%; text-decoration: none; }
div#sub #sub_menu ul li a { display: block; padding-top: 8px; padding-left: 35px; }
/*-----------------------------------------------
年月
-----------------------------------------------*/
div#sub #sub_years ul { background-color: #FFF; padding: 10px; }
div#sub #sub_years li { margin-top: 0.5em; }
div#sub #sub_years li.none { margin-top: 0; }
div#sub #sub_years ul.month li { margin-left: 1em; }
div#sub #sub_years .none { margin-bottom: 0px; }
div#sub #sub_years a.active { background-color: #fffd37; }
/*-----------------------------------------------
分類フォルダ
-----------------------------------------------*/
div#sub #sub_bunrui { overflow: hidden; }
div#sub #sub_bunrui .inner { background-color: #FFF; }
div#sub #sub_bunrui #sel_years { text-align: center; padding: 2px; margin-bottom: 3px; }
div#sub #sub_bunrui .inner ul li { border-bottom: 1px solid #ececec; display: block; width: 142px; height: 14px; font-size: 12px; padding: 8px 10px; }
div#sub #sub_bunrui .inner ul li.checked { background-color: #fff9d4; }
div#sub #sub_bunrui .inner ul li.active a { background-color: #fffd37; }
div#sub #sub_bunrui .inner ul li a:hover span { text-decoration: none; }
div#sub #sub_bunrui .inner ul li span.checkbox_wrap { display: inline-block; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
div#sub #sub_bunrui .inner ul li span.checked { background-position: 0px -28px; }
div#sub #sub_bunrui .inner ul li span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }
div#sub #sub_bunrui #folder_nav li { display: inline; }
div#sub #sub_bunrui #folder_nav .nav_btn { width: 54px; margin-top: 3px; }
div#sub #b_scrollbar { width: 173px; clear: both; margin: 0 auto; background: url(../img/b_scrollbar_track.gif) no-repeat right top; }
div#sub #b_scrollbar .viewport { width: 162px; height: 280px; overflow: hidden; position: relative; }
div#sub #b_scrollbar .overview { list-style: none; position: absolute; left: 0; top: 0; }
div#sub #b_scrollbar .scrollbar { position: relative; float: right; width: 8px; }
div#sub #b_scrollbar .track { height: 100%; width: 8px; position: relative; background-color: #ffc28c; }
div#sub #b_scrollbar .thumb { height: 72px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; background: url(../img/b_scrollbar_barbottom.gif) no-repeat left bottom #fff; }
div#sub #b_scrollbar .thumb .end { overflow: hidden; height: 7px; width: 8px; background: url(../img/b_scrollbar_bartop.gif) no-repeat left top; }
div#sub #b_scrollbar .disable { display: none; }

/* ==================================================================
 *  div#main
 * ================================================================== */
div#main {  }
div#main li { display: inline; }
div#main img { cursor: pointer; }

/*-----------------------------------------------
ナビ
-----------------------------------------------*/
div#main #main_nav { width: 100%; margin-bottom: 5px; }
div#main #main_nav li { float: left; margin-top: 10px; margin-left: 7px; }
div#main #main_nav li a { width: 53px; height: 49px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
div#main #main_nav li a:hover { background-position: left bottom; }
div#main #main_nav li.none a { background-position: left -50px; cursor: default; }
div#main #main_nav li.main_nav_08 a { background-image: url(../inci_img/main_nav_ico08.gif); }

/*-----------------------------------------------
発生件数情報
-----------------------------------------------*/
div#main #num_list table th { padding: 2px; border: 1px solid #ececec; text-align: center;}
div#main #num_list table td { padding: 2px; border: 1px solid #ececec; padding-right:10px; text-align: right; background-color: #FFF; }
div#main table th.row_title { font-weight: lighter; }
/*-----------------------------------------------
データ提出
-----------------------------------------------*/
div#main #action_btns { float:right; margin-bottom: 10px; }
div#main #target_nav { margin-top: 10px; margin-bottom: 4px; text-align: left; }
div#main #target_nav .tab { padding: 5px; cursor: pointer; background-color:#77bc00; height: 27px; color: #fff; }
div#main #target_nav .tab:hover { color: #5b2500; background-color: #fffd37; }
div#main #target_nav li.active .tab { background-color: #fffd37; color: #5b2500; }
div#main #target_nav a { text-decoration: none; }
div#main #report_list table .title { width: 300px; }
div#main #report_list table .class { width: 100px; }
div#main #report_list table .emp_name { width: 100px; text-align: left; }
div#main #report_list table .emp_name  a { color: blue; font-weight: bold; cursor: pointer; text-decoration: none; }
div#main #report_list table tr.checked td { background-color: #fff9d4; }
/*-----------------------------------------------
チェックボックス
-----------------------------------------------*/
span.checkbox_wrap{ display: inline-block; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
tr.checked span.checkbox_wrap { background-position: 0px -28px; }
span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }
/*-----------------------------------------------
匿名ポップアップ
-----------------------------------------------*/
.ui-tooltip {
  background: black;
  border: 1px solid white;
  color: white;
  font-family:inherit;
  font-size:93%;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
