	P.line1 {
		padding: 4px;
		width: 100%;
		text-align: center;
		border-width: 1pt;
		border-style: solid;
		margin: 10px;
	}

	P.line2 {
		padding: 4px;
		width: 100%;
		text-align: left;
		border-width: 2pt;
		border-style: solid;
		margin: 10px;
	}
