@charset "euc-jp";

body, table, textarea, input, select { font-family:"Hiragino Kaku Gothic Pro W3","ヒラギノ角ゴ Pro W3",Osaka,"MS P Gothic","ＭＳ Ｐゴシック",sans-serif; }

body, table, textarea, select { font-size:13px; }


form { margin:0; padding:0; }
body { background-color:#fff; color:#000; margin:0; padding:0px; line-height:1.3; }
table { background-color:transparent; margin:0; padding:0; line-height:1.3; border:0; border-collapse:collapse; }
th, td { padding:0; }
img { border:0; margin:0; padding:0; vertical-align:bottom; }
label { cursor:pointer; white-space:nowrap; }
textarea, select { font-size:13px; padding:1px; margin:0; }

textarea { padding:2px; line-height:1.3; }

/* DOCTYPEがゆるいため、以下は一部のブラウザでは判別できない。*/
input[type="button"], input[type="submit"], input[type="reset"], button { cursor:pointer }
input[type="radio"], input[type="checkbox"] { cursor:pointer; }


.td_pad1px td {padding:1px; }
.td_pad2px td {padding:2px; }

/* 標準リンクカラー */
a:link    { color:#05d; }
a:visited { color:#96c; }
a:hover   { color:#f50; }

/* VISIEDを表現しないリンクカラー */
a.always_blue:link { color:#05d; }
a.always_blue:visited { color:#05d; }
a.always_blue:hover { color:#f50; }

/* 画像アライン、CHECKBOX/RADIOアライン用 */
.baseline { vertical-align:baseline }

.hankaku { ime-mode:disabled; }

.bg-top{
	background: url(img/bg-top.gif) top repeat-x;
}

.bg-top-line{
	background: url(img/bg-top-line.gif) top repeat-x;
}

.bg-icon-line{
	background: url(img/bg-icon-line.gif) top repeat-x;
}

.bg-pepo-line{
	background: url(img/bg-repo-line.gif) top repeat-y;
}

.bg-b-gura{
	background: url(img/bg-b-gura.gif) top repeat-x;
}

.bg-naiyou{
	background: url(img/bg-naiyou.gif) ;
}

.bg-tag-gura{
	background: url(img/bg-gray-gura.gif) top repeat-x;
}

.bg-blue-gura{
	background: url(img/bg-blue-gura.gif) top repeat-x;
}

.bg-b-bar{
	background: url(img/b-bar.gif);
}

.bg-mail{
	background: url(img/bg-mail.gif) top repeat-x;
}

/* ヘッダ部にグラデ背景がついた<TABLE>タグスタイル。 一覧表示用だったが、一覧表示では利用されなくなった。*/
.list_table { width:100%; border-collapse:separate; border-spacing:1px; background-color:#9bc8ec; empty-cells:show; }
.list_table tr { background-color:#fff }
.list_table th { padding:5px 1px; font-weight:normal; text-align:left; background:url(img/bg-b-gura.gif) top repeat-x; }
.list_table td { padding:1px; }

/* ヘッダ部がプレーンの一覧表示用<TABLE>タグスタイル。ヘッダ背景色のブルーは、prop_tableと比較して、やや濃い。 */
.listp_table { width:100%; border-collapse:separate; border-spacing:1px; background-color:#9bc8ec; }
.listp_table tr { background-color:#fff }
.listp_table th { padding:3px 1px; font-weight:normal; text-align:left; background-color:#e1effb; }
.listp_table td { padding:1px; }

/* プロパティ表示用などに利用される<TABLE>タグスタイル。ヘッダ背景色のブルーが薄い。 */
.prop_table { width:100%; border-collapse:separate; border-spacing:1px; background-color:#9bc8ec; empty-cells:show; }
.prop_table tr { background-color:#fff }
.prop_table th { padding:3px 1px; font-weight:normal; background-color:#eff9fd }
.prop_table td { padding:1px; vertical-align:middle }

/* ダイアログのタイトルヘッダの<TABLE>タグスタイル。summary_common.phpのsummary_common_show_dialog_header() を参照 */
.dialog_titletable { width:100%; color:#fff; border-collapse:collapse; background-color:#4baaf8; border-bottom:1px solid #2e79be; border-top:1px solid #8ac8fb; }
.dialog_titletable th { padding:0; padding-left:6px; text-align:left }
.dialog_titletable td { padding:2px; text-align:right; }

/* ダイアログに利用される検索条件フィールドの<DIV>タグスタイル。内側には<TABLE>があるかもしれない。*/
/* 背景は濃いめの青だが、ヘッダよりは薄い。さほど多くは利用箇所がない。 */
.dialog_searchfield { margin-top:4px; text-align:left; border-collapse:collapse; border-bottom:1px solid #8ebce1; border-top:1px solid #d2eafd; background-color:#bee0fc }
.dialog_searchfield table { margin:2px; border-collapse:collapse; border:0; }
.dialog_searchfield td { padding:2px; white-space:nowrap; }

/* 検索ボタンを配置するための<TABLE>タグスタイル。背景は薄い灰色で、右寄せ。上下に空間がある。 */
.search_button_div { background-color:#F4F4F4; text-align:right; padding-top:5px; padding-bottom:5px }

/* お知らせ、患者検索などの、ボタンメニューの<TABLE>タグスタイル。*/
/* summary_common.phpのsummary_common_show_main_tab_menu()、summary_common_show_report_tab_menu() を参照 */
.main_tab_menu td { padding-left:5px; }

/* ヘルプ用の<TABLE>タグスタイル。tmpl_OndobanCare.phpを参照 */
.help_content { border:1px solid #ffddff; margin-top:6px; background-color:#fff;}
.help_content_frame { border:1px solid #ffb9ff }
.help_content_head { color:#b841b8; background-color:#ffb9ff; border-bottom:1px solid #c691d7; padding:2px; padding-left:4px }
.help_content_body { padding:4px; font-size:12px; vertical-align:top; line-height:1.5; }
.help_content_body ul { padding-left:16px; margin:0; }
.help_content_body span { color:#f06 }

/* 印刷時の指定。*/
/* <TABLE>タグの罫線は、ボーダーではなく背景色で表現している。これは、<TABLE>のWIDTH:100%を指定したときに、 */
/* ブラウザによっては、<TABLE>タグの外に罫線を引くため、画面から罫線分の幅があふれて見えなくなってしまうため。*/
/* ただし、背景色で描いた罫線は、ブラウザ基本設定では印刷されない。 */
/* よって印刷時は背景色で罫線を見せかけるのではなく、本当にボーダーを引く。白黒で引く。 */
@media print {
	.list_table { width:100%; border-collapse:collapse; }
	.list_table tr { background-color:#fff }
	.list_table th { padding:5px 1px; font-weight:normal; text-align:left; border:1px solid #aaa; }
	.list_table td { padding:1px; border:1px solid #aaa; }

	.listp_table { width:100%; border-collapse:collapse; }
	.listp_table tr { background-color:#fff }
	.listp_table th { padding:5px 1px; font-weight:normal; text-align:left; border:1px solid #aaa; }
	.listp_table td { padding:1px; border:1px solid #aaa; }

	.prop_table { width:100%; border-collapse:collapse; }
	.prop_table tr { background-color:#fff }
	.prop_table th { padding:3px 1px; font-weight:normal; border:1px solid #aaa; }
	.prop_table td { padding:1px; vertical-align:middle; border:1px solid #aaa; }
}

