@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : new_menu.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

 /* ==================================================================
 *  div#content
 * ================================================================== */

/* ==================================================================
 *  div#sub
 * ================================================================== */
div#sub .color01 h2 { text-align: center; padding: 12px 10px 10px; margin: 0; }
div#sub #sub_menu ul li { margin-bottom: 3px; }
div#sub #sub_menu ul li.none { margin-bottom: 0px; }
div#sub #sub_menu ul li { width: 100%; height: 32px; text-align: left; }
div#sub #sub_menu ul li { background: url(../img/side_nav02_01.gif) no-repeat left 0px; }
div#sub #sub_menu ul li.active { background-position: left -32px; cursor: default; }
div#sub #sub_menu ul li:hover { background-position: left -32px; }
div#sub #sub_menu ul li a { color: rgb(231, 121, 38); font-weight: bold; font-size: 100%; text-decoration: none; }
div#sub #sub_menu ul li a { display: block; padding-top: 8px; padding-left: 35px; }

/* ==================================================================
 *  div#main
 * ================================================================== */
/*お知らせ管理・参照者一覧*/
div#main_list #main_nav { width: 100%; }
div#main_list #main_nav li { float: left; margin-top: 10px; margin-left: 7px; }
div#main_list #main_nav li a { width: 53px; height: 49px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
div#main_list #main_nav li a:hover { background-position: left bottom; }
div#main_list #main_nav li.none a { background-position: left -50px; cursor: default; }
div#main_list #main_nav li.main_nav_90 a { background-image: url(../inci_img/main_nav_ico90.gif); }
div#main_list #main_nav li.main_nav_90 { float: right; margin-right: 10px; _margin-right: 6px; }
div#main_list table td span.ellipsis { width: 230px; }
div#content div#main_list table tr.checked td { background-color: #fff9d4; }

div#content div#main_list table tr td span.checkbox_wrap{ display: block; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
div#content div#main_list table tr.checked td  span.checkbox_wrap { background-position: 0px -28px; }
div#content div#main_list table tr td span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }

/*お知らせ登録・詳細*/
div#news_edit { margin-bottom: 5px; }
div#news_edit table th { width: 120px; }
div#news_edit table td table td { border-bottom: #cccccc 1px solid; }
div#news_edit table td textarea { width: 100%; height: 70px; resize: vertical; }
div#news_edit table td select { margin: 0px 8px 0px 12px; }
div#news_edit table td .radio { margin-right: 7px; }
div#news_edit table #attach p { margin-bottom: 5px; }
div#news_edit table #attach  input { width: 60px; border-radius:3px !important; }
div#main_btn { text-align: right; }

/*参照者一覧*/
div#ref_info table th { padding: 10px; border-bottom: 3px dotted #ffe6e5; }
div#ref_info table th.none { border-bottom: none; }
div#ref_info table td { padding:0px; padding-bottom: 3px; }
div#ref_info table td.none { padding-bottom: 0px; }
div#ref_info table td span { padding: 11px 12px 10px; display: block; min-height: 1em; overflow: hidden; background-color: #FFF; }