@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : news.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ==================================================================
 *  div#content
 * ================================================================== */
div#content .color01, div#content .color02 { margin-top: 11px; margin-bottom: 30px; }

/*-----------------------------------------------
警告と未読件数
-----------------------------------------------*/
div#content p.notice { background: url(../img/ico_01.gif) no-repeat 12px center #fffd37 !important; padding: 15px 50px 14px; color: #f46200; font-weight: bold; letter-spacing: 1px; margin-bottom: 35px; border: 1px dotted #000; }

/*-----------------------------------------------
お知らせ一覧
-----------------------------------------------*/
div#content #news_list tr.has_detail td { padding-bottom: 0px; }

/*-----------------------------------------------
評価予定期日の報告書件数
-----------------------------------------------*/
div#content h2.report_cnt { margin-bottom: 11px; }
div#content span.post_name { font-weight: bold; }

/*-----------------------------------------------
出来事分析の評価予定期日一覧
-----------------------------------------------*/
/* 要素に直書きしないとIE6で上手く表示されない
div#content div.color02 table#analysis_list td span { width: 84px; }
div#content div.color02 table#analysis_list td span.ellipsis{ width: 88px; }
*/

/*-----------------------------------------------
お知らせ詳細(sub screen:子画面)
-----------------------------------------------*/
div.ss_header h1 { margin-left: 20px; font-size: 2em; font-weight: bold; color: rgb(119,188,0); }
div#ss_content { position: relative; width: 100%; margin: 0 auto; font-size: 93%; padding: 22px 0 13px; }
div#ss_content #ss_main { padding: 0 20px; }
div#ss_content #ss_main table{ width: 100%; line-height: 1.6em; }
div#ss_content table.v_title th { text-align: left; padding: 10px; }
div#ss_content table.v_title td { text-align: left; padding: 10px; background-color: #FFF; }
div#ss_content .color02 { background: url(../img/bg_02.gif); padding: 4px; }
div#ss_content .color02 table.v_title th { border-bottom: 3px dotted #cef2f6; }
div#ss_content .color02 table.v_title td { border-bottom: 3px solid #9de5ed; }
div#ss_content table.v_title th.none { border: none; }
div#ss_content table.v_title td.none { border: none; }
div#ss_content #ss_main #referred { width: 100%; text-align: right; margin-bottom: 5px; }
div#ss_content #ss_main #detail  table th { width: 70px; }