@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : operation_flow.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ==================================================================
 *  div#flow_img
 * ================================================================== */
div#flow_img { position: relative; }
div#flow_img div { position:absolute; text-align: center; width:162px; }
div#flow_img div#frame1 { top:30px; left:65px; }
div#flow_img div#frame2 { top:234px; left:65px; }
div#flow_img div#frame3 { top:236px; left:328px; }
div#flow_img div#frame4 { top:224px; left:598px; }
div#flow_img div#frame5 { top:244px; left:598px; }
div#flow_img div#frame6 { top:332px; left:598px; }
div#flow_img div#frame7 { top:476px; left:598px; }
div#flow_img span{ font-size: 15px; color: black; white-space: nowrap; }
