@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : pagination.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#pagination { margin: 15px auto; text-align: center !important; }
#pagination li { padding: 0 6px; display: inline; }
#pagination li a { color: #5b2500; width: 22px; height: 18px; padding-top: 4px; display: inline-block; overflow: hidden; text-decoration: none; text-align: center; }
#pagination li a { background-image: url(../img/main_nav_btn1.gif); background-repeat: no-repeat; background-position: left 0px; }
#pagination li.current a { background-image: url(../img/main_nav_btn2.gif); cursor: default; }
#pagination li.active a:hover { color: #1bbbcd; background-position: left -22px; }
