/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/02/09, 14:30:27
    Author     : y-yamamoto
*/

@charset "utf-8";
/* ==================================================================
 *  div#header
 * ================================================================== */
div#header .inner { width: 990px; min-width: 990px; padding: 0; }
div#header .inner h1 { padding: 30px 1px; }
div#header .inner .sub_nav { position: absolute; top: 19px; right: 0px; }
div#header .inner .sub_nav li { float: left; padding-left: 12px; }
div#header .inner .sub_nav li a { width: 51px; height: 47px; overflow: hidden; text-align: left; text-indent: -999em; display: block; background-position: left 0px; background-repeat: no-repeat; }
div#header .inner .sub_nav li a:hover { background-position: left -94px; }
div#header .inner .sub_nav li.none a { background-position: left -47px; cursor: default; }
div#header .inner .sub_nav li.active a { background-position: left -94px; }
div#header .inner .sub_nav li.sub_nav_edit  a { background-image: url(../inci_img/sub_nav_ico_edit.gif); }
div#header .inner .sub_nav li.sub_nav_confirm  a { background-image: url(../inci_img/sub_nav_ico_confirm.gif); }
div#header .inner .sub_nav li.sub_nav_next  a { background-image: url(../inci_img/sub_nav_ico_next.gif); }
div#header .inner .sub_nav li.sub_nav_edit_comment  a { background-image: url(../inci_img/sub_nav_ico_edit_comment.gif); }
div#header .inner .sub_nav li.sub_nav_analysis a { background-image: url(../inci_img/sub_nav_ico_analysis.gif); }
div#header .inner .sub_nav li.sub_nav_draft a { background-image: url(../inci_img/sub_nav_ico_draft.gif); }
div#header .inner .sub_nav li.sub_nav_temporary a { background-image: url(../inci_img/sub_nav_ico_temporary.gif); }
div#header .inner .sub_nav li.sub_nav_update a { background-image: url(../inci_img/sub_nav_ico_update.gif); }
div#header .inner .sub_nav li.sub_nav_send  a { background-image: url(../inci_img/sub_nav_ico_send.gif); }
div#header .inner .sub_nav li.sub_nav_replay a { background-image: url(../inci_img/sub_nav_ico_replay.gif); }
div#header .inner .sub_nav li.sub_nav_forward a { background-image: url(../inci_img/sub_nav_ico_forward.gif); }
div#header .inner .sub_nav li.sub_nav_progress a { background-image: url(../inci_img/sub_nav_ico_progress.gif); }
div#header .inner .sub_nav li.sub_nav_label a { background-image: url(../inci_img/sub_nav_ico_label.gif); }
div#header .inner .sub_nav li.sub_nav_print a { background-image: url(../inci_img/sub_nav_ico_print.gif); }
div#header .inner .sub_nav li.sub_nav_return a { background-image: url(../inci_img/sub_nav_ico_return.gif); }

h1 { color: rgb(119,188,0); font-weight: bold; font-size: 26px; }

div#header .inner p { padding: 0; padding-bottom:14px; }
div#footer .inner p { padding: 0; padding-top: 14px; }
div#header .inner p.action_btn { text-align: right; }
div#footer .inner p.action_btn { text-align: right; }
div#header .inner p.notice { color: red; }
div#footer .inner p.notice { color: red; }
 /* ==================================================================
 *  div#content
 * ================================================================== */

/* ==================================================================
 *  div#main
 * ================================================================== */

/*ナビ

div#main #list_area #main_nav { width: 100%; }
div#main #list_area #main_nav li { float: left; margin-top: 10px; margin-left: 7px; }
div#main #list_area #main_nav li a { width: 53px; height: 49px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
div#main #list_area #main_nav li a:hover { background-position: left bottom; }
div#main #list_area #main_nav li.none a { background-position: left -50px; cursor: default; }
div#main #list_area #main_nav li.main_nav_01 { margin-left: 10px; _margin-left: 6px; }
div#main #list_area #main_nav li.main_nav_01 a { background-image: url(../inci_img/main_nav_ico01.gif); }
div#main #list_area #main_nav li.main_nav_08 a { background-image: url(../inci_img/main_nav_ico08.gif); }
div#main #list_area #main_nav li.main_nav_09 a { background-image: url(../inci_img/main_nav_ico09.gif); }
div#main #list_area #main_nav li.main_nav_90 a { background-image: url(../inci_img/main_nav_ico90.gif); }
div#main #list_area #main_nav li.main_nav_90 { float: right; margin-right: 10px; _margin-right: 6px; }
*/

/*出来事分析一覧出力画面*/
#pastreport_list div#content #main_nav li { float: left; margin-top: 10px; margin-left: 7px; }
#pastreport_list div#content #main_nav li a { width: 53px; height: 49px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
#pastreport_list div#content #main_nav li a:hover { background-position: left bottom; }
#pastreport_list div#content #main_nav li.main_nav_10 { margin-left: 10px; _margin-left: 6px; }
#pastreport_list div#content #main_nav li.main_nav_10 a { background-image: url(../inci_img/main_nav_ico10.gif); }
#pastreport_list div#content #main_nav li.main_nav_08 a { background-image: url(../inci_img/main_nav_ico08.gif); }




/*一覧*/
/*div#content div#main #list_area table { margin-top: 5px; }
div#content div#main #list_area table .ellipsis{ width: 220px; }
div#content div#main #list_area table tr.checked td { background-color: #fff9d4; }
div#content div#main #list_area table tr td span.checkbox_wrap{ display: block; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
div#content div#main #list_area table tr.checked td  span.checkbox_wrap { background-position: 0px -28px; }
div#content div#main #list_area table tr td span.disabled { background-position: 0px bottom; }
div#content div#main #list_area table tr td span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }
*/
/*チェックボックス*/
#pastreport_list div#content table#main_list tr.checked td { background-color: #fff9d4; }
#pastreport_list div#content table#main_list tr td.select span.checkbox_wrap { display: block; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
#pastreport_list div#content table#main_list tr td.select span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }
#pastreport_list div#content table#main_list tr.checked td  span.checkbox_wrap { background-position: 0px -28px; }

