@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : profile.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ==================================================================
 *  div#content
 * ================================================================== */
div#content table th { width:188px; }
div#content table td textarea { width: 750px; height: 70px; resize: vertical; }
div#content table td select { margin: 0px 8px 0px 12px; }
div#content .button { margin-top: 5px;}
div#content #main_btn { text-align: right; }
