/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : report.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@charset "utf-8";

 /* ==================================================================
 *  div#content
 * ================================================================== */
 
 /* ==================================================================
 *  div#sub
 * ================================================================== */
div#sub #sub_menu ul li { padding-bottom: 3px; }
div#sub #sub_menu ul li.none { padding-bottom: 0; }
div#sub #sub_menu ul li.active a { background-position: left -32px; cursor: default; }
div#sub #sub_menu ul li a { width: 173px; height: 32px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
div#sub #sub_menu ul li a:hover { background-position: left -32px; }
div#sub #sub_menu ul li.sub_nav_01 a { background-image: url(../img/side_nav01_01.gif); }
div#sub #sub_menu ul li.sub_nav_02 a { background-image: url(../img/side_nav01_02.gif); }
div#sub #sub_menu ul li.sub_nav_03 a { background-image: url(../img/side_nav01_03.gif); }
div#sub #sub_menu ul li.sub_nav_04 a { background-image: url(../img/side_nav01_04.gif); }

/* 分類 */
div#sub #sub_bunrui { overflow: hidden; }
div#sub #sub_bunrui .inner { background-color: #FFF; }
div#sub #sub_bunrui #b_scrollbar { width: 173px; clear: both; margin: 0 auto; background: url(../img/b_scrollbar_track.gif) no-repeat right top; }
div#sub #sub_bunrui #b_scrollbar .viewport { width: 162px; height: 280px; overflow: hidden; position: relative; }
div#sub #sub_bunrui #b_scrollbar .overview { list-style: none; position: absolute; left: 0; top: 0; }
div#sub #sub_bunrui #b_scrollbar .scrollbar { position: relative; float: right; width: 8px; }
div#sub #sub_bunrui #b_scrollbar .track { height: 100%; width: 8px; position: relative; background-color: #ffc28c; }
div#sub #sub_bunrui #b_scrollbar .thumb { height: 72px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; background: url(../img/b_scrollbar_barbottom.gif) no-repeat left bottom #fff; }
div#sub #sub_bunrui #b_scrollbar .thumb .end { overflow: hidden; height: 7px; width: 8px; background: url(../img/b_scrollbar_bartop.gif) no-repeat left top; }
div#sub #sub_bunrui #b_scrollbar .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
div#sub #sub_bunrui .inner ul li { border-bottom: 1px solid #ececec; display: block; }
div#sub #sub_bunrui .inner ul li.selected  a { background-color: #fffd37; }
div#sub #sub_bunrui .inner ul li.person { background-color: #e5f8fa; }
div#sub #sub_bunrui .inner ul li.checked { background-color: #fff9d4; }
div#sub #sub_bunrui .inner ul li.person a { color: #59c2cd; }
div#sub #sub_bunrui .inner ul li.label_hover { background-color: #fbc97f; }
div#sub #sub_bunrui .inner ul li span { display: inline-block; width: 110px; height: 11px; padding: 8px 10px; font-size: 12px; overflow: hidden; text-align: left; }
div#sub #sub_bunrui .inner ul li span.fld_checkbox { width: 17px; padding-right: 0; }
div#sub #sub_bunrui .inner ul li a:hover span { text-decoration: none; }
div#sub #sub_bunrui .inner ul li span.checkbox_wrap { display: inline-block; padding: 0; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
div#sub #sub_bunrui .inner ul li span.checked { background-position: 0px -28px; }
div#sub #sub_bunrui .inner ul li span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }
div#sub #sub_bunrui ul.sub_nav_bottom li { float: left; padding-top: 3px; }
div#sub #sub_bunrui ul.sub_nav_bottom li.sub_nav_05 { padding-right: 2px; }
div#sub #sub_bunrui ul.sub_nav_bottom li.sub_nav_06 { padding-right: 2px; }
div#sub #sub_bunrui ul.sub_nav_bottom li a { padding: 0; height: 24px; text-indent: -999em; display: block; overflow: hidden; text-align: left; background-repeat: no-repeat; background-position: left 0px; }
div#sub #sub_bunrui ul.sub_nav_bottom li a:hover { background-position: left -24px; }
div#sub #sub_bunrui ul.sub_nav_bottom li.sub_nav_05 a { width: 56px; background-image: url(../img/side_nav02_02.gif); }
div#sub #sub_bunrui ul.sub_nav_bottom li.sub_nav_06 a { width: 56px; background-image: url(../img/side_nav02_03.gif); }
div#sub #sub_bunrui ul.sub_nav_bottom li.sub_nav_07 a { width: 55px; background-image: url(../img/side_nav02_04.gif); }

/* ==================================================================
 *  div#main
 * ================================================================== */
/*検索エリア*/
div#main #search_area { margin-bottom: 10px; }
div#main #search_area table td  table th { border: none; padding: 2px; background: none; font-weight: lighter; width: 60px; }
div#main #search_area table td  table td { border: none; padding: 2px; background: none; }
div#main #search_area table td.input_no  input { width: 10em; ime-mode: disable; }
div#main #search_area table td.input_str input { width: 20em; ime-mode: active; }
div#main #search_area table td.input_date input { width: 10em; ime-mode: disable; }
div#main #search_area table td.input_date a.calendar_btn { margin-right: 20px; }
div#main #search_area .button  { margin-top: 5px; }
div#main #search_area #search_btn  { float: left; }
div#main #search_area #close_search_btn  { float: right; }
div#main #search_area #search_action input  { vertical-align: middle; }
div#main #search_area span.checkbox_wrap { display: inline-block; padding: 0; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
div#main #search_area span.checked { background-position: left -42px; }
div#main #search_area span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }

/*ナビ*/
div#main #list_area #main_nav { max-width: 100%; }
div#main #list_area #main_nav li { float: left; margin-top: 10px; margin-left: 7px; }
div#main #list_area #main_nav li a { width: 53px; height: 49px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
div#main #list_area #main_nav li a:hover { background-position: left bottom; }
div#main #list_area #main_nav li.none a { background-position: left -50px; cursor: default; }
div#main #list_area #main_nav li.main_nav_01 { margin-left: 10px; _margin-left: 6px; }
div#main #list_area #main_nav li.main_nav_01 a { background-image: url(../inci_img/main_nav_ico01.gif); }
div#main #list_area #main_nav li.main_nav_02 a { background-image: url(../inci_img/main_nav_ico02.gif); }
div#main #list_area #main_nav li.main_nav_03 a { background-image: url(../inci_img/main_nav_ico03.gif); }
div#main #list_area #main_nav li.main_nav_04 a { background-image: url(../inci_img/main_nav_ico04.gif); }
div#main #list_area #main_nav li.main_nav_05 a { background-image: url(../inci_img/main_nav_ico05.gif); }
div#main #list_area #main_nav li.main_nav_06 a { background-image: url(../inci_img/main_nav_ico06.gif); }
div#main #list_area #main_nav li.main_nav_07 a { background-image: url(../inci_img/main_nav_ico07.gif); }
div#main #list_area #main_nav li.main_nav_08 a { background-image: url(../inci_img/main_nav_ico08.gif); }
div#main #list_area #main_nav li.main_nav_09 a { background-image: url(../inci_img/main_nav_ico09.gif); }
div#main #list_area #main_nav li.main_nav_10 a { background-image: url(../inci_img/main_nav_ico10.gif); }
div#main #list_area #main_nav li.main_nav_90 a { background-image: url(../inci_img/main_nav_ico90.gif); }
div#main #list_area #main_nav li.main_nav_91 a { background-image: url(../inci_img/main_nav_ico91.gif); }
div#main #list_area #main_nav li.main_nav_99 a { background-image: url(../inci_img/main_nav_ico99.gif); }
div#main #list_area #main_nav li.main_nav_90 { float: right; margin-right: 10px; _margin-right: 6px; }
div#main #list_area #main_nav li.main_nav_99 { float: right; margin-right: 10px; _margin-right: 6px; }

/*下書き用ナビ*/
div#main #target_nav { margin-top: 10px; margin-bottom: 4px; text-align: left; }
div#main #target_nav li { display: inline; }
div#main #target_nav .tab { padding: 5px 20px; cursor: pointer; background-color:#77bc00; height: 27px; color: #fff; }
div#main #target_nav .tab:hover { color: #5b2500; background-color: #fffd37; }
div#main #target_nav li.active .tab { background-color: #fffd37; color: #5b2500; }
div#main #target_nav a { text-decoration: none; }

/*一覧*/
div#content div#main table.list th { padding: 0px; }
div#content div#main table.list th ul { font-size: 10px; text-align: center; margin: 0 auto; }
div#content div#main table.list th ul li { float: left; padding: 0 3px 6px; }
div#content div#main table.list td { padding: 11px 5px; }
div#content div#main table.list th ul { text-align: center; margin: 0 auto; }
div#content div#main table.list td ul li { float: left; }
div#content div#main table.list td ul li a { display: block; overflow: hidden; text-align: left; text-indent: -999em; }
div#content div#main table.list td  table td { border: none; background: none; padding: 0; }
div#content div#main table.list td.subject span { width: 140px; }
div#content div#main table.list td.belong span { width: 4em; }
div#content div#main table.list td.emp_name { text-align:left; }
div#content div#main table.list td.emp_name span { width: 40px; }
div#content div#main table.list td.emp_name span.anonymous  a { font-weight: bold; color: blue; cursor: pointer; text-decoration: none; }
div#content div#main table.list td.emp_name span.ellipsis  a { color:#5b2500; text-decoration: none; }
div#content div#main table.list tr.report_hover td { background-color: #fbc97f; }
/*行の色*/
div#content div#main table.list tr.kidoku td { background-color: rgb(232,232,232); }
div#content div#main table.list tr.checked td { background-color: #fff9d4; }
/*チェックボックス*/
div#content div#main table.list tr td span.checkbox_wrap { display: block; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
div#content div#main table.list tr.kidoku td span.checkbox_wrap { background-position: 0px -14px; }
div#content div#main table.list tr.kidoku td span.checked { background-position: 0px -28px; }
div#content div#main table.list tr td span.checked { background-position: 0px -28px; }
div#content div#main table.list tr td span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }

div#content div#main table.list tr th span.checkbox_wrap { display: block; width: 14px; height: 14px; margin: 6px; background: url(../img/checkbox.png) no-repeat; }
div#content div#main table.list tr th span.checked { background-position: 0px -28px; }
div#content div#main table.list tr th span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }


/*ステータスアイコン*/
div#content div#main table.list td.icon5 ul { width: 105px; }
div#content div#main table.list td.icon4 ul { width: 85px; }
div#content div#main table.list td.icon3 ul { width: 65px; }
div#content div#main table.list td.icon2 ul { width: 45px; }
div#content div#main table.list td ul.icon { margin: -4px auto; }
div#content div#main table.list td ul.icon li { padding: 0; height: 20px; width: 20px; background-position: left -20px; text-indent: -999em; border:none;}
div#content div#main table.list td ul.icon li.eval { cursor: pointer; }
div#content div#main table.list td ul.icon li.active { background-position: left 0px; }
div#content div#main table.list td ul.icon li.icon_01 { background-image: url(../inci_img/mail_ico01.gif); }
div#content div#main table.list td ul.icon li.icon_02 { background-image: url(../inci_img/mail_ico02.gif); }
div#content div#main table.list td ul.icon li.icon_03 { background-image: url(../inci_img/mail_ico03.gif); }
div#content div#main table.list td ul.icon li.icon_04 { background-image: url(../inci_img/mail_ico04.gif); }
div#content div#main table.list td ul.icon li.icon_05 { background-image: url(../inci_img/mail_ico05.gif); }
div#content div#main table.list tr.kidoku td ul.icon li { background-position: left -100px; }
div#content div#main table.list tr.kidoku td ul.icon li.active { background-position: left -80px; }
div#content div#main table.list tr.checked td ul.icon li { background-position: left -60px; }
div#content div#main table.list tr.checked td ul.icon li.active { background-position: left -40px; }
div#content div#main table.list tr.report_hover td ul.icon li { background-position: left -100px; }
div#content div#main table.list tr.report_hover td ul.icon li.active { background-position: left -80px; }
/*報告ファイル関連アイコン*/
div#content div#main table.list td.drag_icon { padding: 0 3px 0; background-image: none; background-color: #fff; width:3px; }
div#content div#main table.list td.drag_icon  img { display: none; }
div#content div#main table.list td.drag_icon  p { display: none; white-space: nowrap; border: 1px solid #ececec; background-color: #fff; padding: 5px; position: absolute; left: 10px; }
div#content div#main table.list tr.houkoku td.select { padding-left: 0; }
div#content div#main table.list tr td div.report_link_status0 { width: 14px; height: 14px; }
div#content div#main table.list tr td div.report_link_status1 { width: 14px; height: 14px; background-image: url(../img/chain.gif); background-position: top; }
div#content div#main table.list tr td div.report_link_status2 { width: 14px; height: 14px; background-image: url(../img/chain.gif); background-position: bottom; }

/*進捗アイコン*/
div#content div#main table.list th ul.check2 { width: 34px;}
div#content div#main table.list th ul.check3 { width: 51px;}
div#content div#main table.list td ul.check2 { width: 34px; margin: auto;}
div#content div#main table.list td ul.check3 { width: 51px;}
div#content div#main table.list td ul.check li { padding: 2px; }
div#content div#main table.list td ul.check li a { width: 13px; height: 11px; background-image: url(../inci_img/mail_ico06.gif); background-position: left -11px; cursor: default; }
div#content div#main table.list td ul.check li a.comment { cursor: pointer; }
div#content div#main table.list td ul.check li a.active { background-position: left 0px; }
div#content div#main table.list tr.kidoku td ul.check li a { background-position: left -55px; }
div#content div#main table.list tr.kidoku td ul.check li a.active { background-position: left -44px; }
div#content div#main table.list tr.checked td ul.check li a { background-position: left -33px; }
div#content div#main table.list tr.checked td ul.check li a.active { background-position: left -22px; }
div#content div#main table.list tr.report_hover td ul.check li a { background-position: left -55px; }
div#content div#main table.list tr.report_hover td ul.check li a.active { background-position: left -44px; }

div#content div#main table.list td ul.check li span.self_check a{ width: 13px; height: 11px; background-image: url(../inci_img/mail_ico07.gif); background-position: left -11px; cursor: default; }
div#content div#main table.list td ul.check li span.self_check a.comment { cursor: pointer; }
div#content div#main table.list td ul.check li span.self_check a.active { background-position: left 0px; }
div#content div#main table.list tr.kidoku td ul.check li span.self_check a { background-position: left -55px; }
div#content div#main table.list tr.kidoku td ul.check li span.self_check a.active { background-position: left -44px; }
div#content div#main table.list tr.checked td ul.check li span.self_check a { background-position: left -33px; }
div#content div#main table.list tr.checked td ul.check li span.self_check a.active { background-position: left -22px; }
div#content div#main table.list tr.report_hover td ul.check li span.self_check a { background-position: left -55px; }
div#content div#main table.list tr.report_hover td ul.check li span.self_check a.active { background-position: left -44px; }


/*匿名ポップアップ*/
.ui-tooltip {
  background: black;
  border: 1px solid white;
  color: white;
  font-family:inherit;
  font-size:93%;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
