@charset "utf-8";
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : rm_stats.css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

 
/* ==================================================================
 *  div#content
 * ================================================================== */
div#content div.color01 { margin-bottom: 5px; }
div#content div.color01 table th { width: 100px; }

/*-----------------------------------------------
メニュー
-----------------------------------------------*/
div#content div#sub_menu { width: 460px; }
div#content div#sub_menu table { width: 100%; }
div#content div#sub_menu table th { width: 120px; padding: 0; text-indent: -999em; }
div#content div#sub_menu table th { background:url(../img/side_nav_txt01.gif) no-repeat 9px; }
div#content div#sub_menu table td { padding: 0; width: 170px; height: 32px; overflow: hidden; vertical-align: middle; }
div#content div#sub_menu table td { background:url(../img/side_nav02_01.gif) no-repeat left top; }
div#content div#sub_menu table td.active { background-position: left -32px; cursor: default; }
div#content div#sub_menu table td:hover { background-position: left -32px; }
div#content div#sub_menu table td a { color: rgb(231, 121, 38); font-weight: bold; font-size: 100%; padding-left: 35px; text-decoration: none; }

/*-----------------------------------------------
集計条件
-----------------------------------------------*/
div#content div#conditions1 table td div#busho_data { width: 80%; margin-right:10px; }
div#content div#conditions1 table td div#busho_data select { width: 130px; margin-right:5px; }
div#content div#conditions1 table td div#busho_btn { width: 20%; }
div#content div#conditions1 table td div#busho_btn .button { width: 60px; }
div#content div#conditions1 table td div { float: left; }
div#content div#conditions2 table td div#shibori_data { width: 80%; margin-right:10px; }
div#content div#conditions2 table td div#shibori_data table td { border: 1px solid #ff9e48; padding: 4px; }
div#content div#conditions2 table td div#shibori_btn { width: 120px; }
div#content div#conditions2 table td div { float: left; }
/* 要素に直書きしないとIE6で上手く表示されない
div#content div#conditions2 ul { float:right; }
div#content div#conditions2 li { float:left; margin-left: 5px; }
*/
div#content #main_btn  { text-align: right; margin-bottom: 20px; margin-right: 13px; }

/*-----------------------------------------------
集計結果
-----------------------------------------------*/
/* 要素に直書きしないとIE6で上手く表示されない
div#content div#action_btns div ul { float:right; }
*/
div#content div#action_btns div li { display:inline; margin-left:5px;}

div#content div#result_area { margin-top: 5px; }
div#content div#result_area table#axis_label { width: 50%; }
div#content div#result_area table#axis_label  th { padding: 5px; border-bottom: none; }
div#content div#result_area table#axis_label  td { padding: 5px; border-bottom: none; }

div#content div#result_area table#result { margin-top: 5px; }
div#content div#result_area table#result th { padding: 2px; border: #ececec 1px solid; font-weight: lighter; }
div#content div#result_area table#result td { padding: 2px; border: #ececec 1px solid; padding-right:10px; background-color: #FFF; }
div#content div#result_area table#result tr.col_title th { text-align: center; vertical-align: middle; border-top: none; border-bottom: none; }

/*ボタンの文字列に空白があったら改行させる（表の横幅がcontentからはみ出さないようにするため）*/
div#content div#result_area table#result tr.col_title th input { width: 23px; white-space: normal; }
/*
div#content div#result_area table#result tr.col_title th span{ writing-mode:tb-rl; }
div#content div#result_area table#result tr.col_title th input { writing-mode:tb-rl; }
*/

div#content div#result_area table#result tr.col_top th { border-top: #ececec 1px solid; }
div#content div#result_area table#result th.delimiter { border-bottom: #cef2f6 3px dotted }
div#content div#result_area table#result td.delimiter { border-bottom: #9de5ed 3px solid }
div#content div#result_area table#result th.row_title table th { border: none; }
div#content div#result_area table#result td { text-align: right;}
div#content div#result_area table#result #sum_title { padding-left: 5px; }

/*チェックボックス*/
span.checkbox_wrap{ display: inline-block; width: 14px; height: 14px; background: url(../img/checkbox.png) no-repeat; }
span.checked { background-position: 0px -42px; }
span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }

/* 絞込ボックス */
div#content div#conditions2 #shadowing { display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:10; opacity:0.5; filter: alpha(opacity=50);-ms-filter: "alpha(opacity=50)";-moz-opacity:0.5;-khtml-opacity: 0.5;zoom:1;}
div#content div#conditions2 #box {display: none;position: fixed;top: 20%;left: 30%;width: 600px;height: 320px;padding: 10px;margin:0;border: 1px solid black;background-color: white;z-index:101;}
div#content div#conditions2 #box table td { border: 1px solid #ff9e48; padding: 5px;}
