/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *
 *	file name : sub_form.css
 *  サブ画面用css
 *
 * :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@charset "utf-8";
/* ==================================================================
 *  div#header
 * ================================================================== */
div#header .inner { width: 990px; min-width: 990px; padding: 0; }
div#header .inner h1 { padding: 30px 1px; }
div#header .inner .sub_nav { position: absolute; top: 19px; right: 0px; }
div#header .inner .sub_nav li { float: left; padding-left: 12px; }
div#header .inner .sub_nav li a { width: 51px; height: 47px; overflow: hidden; text-align: left; text-indent: -999em; display: block; background-position: left 0px; background-repeat: no-repeat; }
div#header .inner .sub_nav li a:hover { background-position: left -94px; }
div#header .inner .sub_nav li.none a { background-position: left -47px; cursor: default; }
div#header .inner .sub_nav li.active a { background-position: left -94px; }
div#header .inner .sub_nav li.sub_nav_edit  a { background-image: url(../inci_img/sub_nav_ico_edit.gif); }
div#header .inner .sub_nav li.sub_nav_confirm  a { background-image: url(../inci_img/sub_nav_ico_confirm.gif); }
div#header .inner .sub_nav li.sub_nav_next  a { background-image: url(../inci_img/sub_nav_ico_next.gif); }
div#header .inner .sub_nav li.sub_nav_edit_comment  a { background-image: url(../inci_img/sub_nav_ico_edit_comment.gif); }
div#header .inner .sub_nav li.sub_nav_analysis a { background-image: url(../inci_img/sub_nav_ico_analysis.gif); }
div#header .inner .sub_nav li.sub_nav_draft a { background-image: url(../inci_img/sub_nav_ico_draft.gif); }
div#header .inner .sub_nav li.sub_nav_temporary a { background-image: url(../inci_img/sub_nav_ico_temporary.gif); }
div#header .inner .sub_nav li.sub_nav_update a { background-image: url(../inci_img/sub_nav_ico_update.gif); }
div#header .inner .sub_nav li.sub_nav_send  a { background-image: url(../inci_img/sub_nav_ico_send.gif); }
div#header .inner .sub_nav li.sub_nav_replay a { background-image: url(../inci_img/sub_nav_ico_replay.gif); }
div#header .inner .sub_nav li.sub_nav_forward a { background-image: url(../inci_img/sub_nav_ico_forward.gif); }
div#header .inner .sub_nav li.sub_nav_progress a { background-image: url(../inci_img/sub_nav_ico_progress.gif); }
div#header .inner .sub_nav li.sub_nav_label a { background-image: url(../inci_img/sub_nav_ico_label.gif); }
div#header .inner .sub_nav li.sub_nav_print a { background-image: url(../inci_img/sub_nav_ico_print.gif); }
div#header .inner .sub_nav li.sub_nav_return a { background-image: url(../inci_img/sub_nav_ico_return.gif); }
div#header .inner .sub_nav li.sub_nav_samereport a { background-image: url(../inci_img/sub_nav_ico07.gif); }

div#header .inner p { padding: 0; padding-bottom:14px; }
div#footer .inner p { padding: 0; padding-top: 14px; }
div#header .inner p.action_btn { text-align: right; }
div#footer .inner p.action_btn { text-align: right; }
div#header .inner p.notice { color: red; }
div#footer .inner p.notice { color: red; }

/* ==================================================================
 *  div#content
 * ================================================================== */
div#content { width: 990px; min-width: 990px; padding-bottom: 54px; }
div#content #pankuzu { padding: 1px 0 23px; width: 600px; float: left; }
div#content #pankuzu li { float: left; padding: 6px 12px 4px 7px; background: url(../img/arrow_img04.gif) no-repeat right center; }
div#content #pankuzu li.first { padding: 0; background: none; }
div#content #pankuzu li.last { background: none; }
div#content #pankuzu li.first a { color: #fff; padding: 5px 12px 5px 16px; margin-right: 6px; display: block; overflow: hidden; text-align: left; text-decoration: none; background: url(../img/btn_arrow.gif) no-repeat left center #77bc00; }
div#content #pankuzu li.first a:hover { color: #5b2500; background: url(../img/btn_arrow_on.gif) no-repeat left center #fffd37; }
div#content #pankuzu li.title  { color: #fff; padding: 5px 12px 5px 16px; margin-right: 6px; display: block; overflow: hidden; text-align: left; background: url(../img/btn_arrow.gif) no-repeat left center #77bc00; }
div#content #flow { border: 1px solid #5b2500; background-color: #fdf6dc; overflow: hidden; }
div#content #flow ul li { width: 247px; text-align: center; padding: 10px 0; float: left; height: 14px; overflow: hidden; }
div#content #flow ul li span.wrap { position: relative; }
div#content #flow ul li span.number_bg { position: absolute; font-size: 17px; z-index: 99; left: 0; top: -0.2em; }
div#content #flow ul li span.number { position: relative; color: #fff; padding: 0 1em 0 0.3em; z-index: 100; }
div#content #flow ul li.flow_list01 { border-right: 1px solid #5b2500; font-weight: bold; font-size: 123.1%; }
div#content #flow ul li.flow_list02 { background: url(../img/arrow_img01.gif) no-repeat right center; }
div#content #flow ul li.flow_list03 { background: url(../img/arrow_img01.gif) no-repeat right center; }
div#content #flow ul li.flow_list04 { width: 246px; }
div#content #flow ul li.active { background: url(../img/arrow_img03.gif) no-repeat right center #fffd37 !important; }
div#content #flow ul li.activeLast { background: #fffd37 !important; }
div#content #flow ul li.actived { background: url(../img/arrow_img02.gif) no-repeat right center; }
div#content #item_nav li { float: left; padding: 0 0 0 36px; }
div#content #item_nav li a { color: #5b2500; font-size: 123.1%; font-weight: bold; padding: 0 0 0 20px; background: url(../img/ico_05.gif) no-repeat left center; }
div#content table span { padding: 11px 12px 10px; display: block; min-height: 1em; overflow: hidden; }
div#content table td span.checked, div#content table td li.checked, div#content table td dl.checked { background-color: #fff9d4 !important; }
div#content .color02 table td span { background: url(../img/line_02.gif) no-repeat right center #FFF; }
div#content .color02 table td span span{ background-color: transparent; }
div#content .wrap_height tr span { display:table-cell; vertical-align:middle; }
div#content .section h2 { margin-top: 20px; margin-bottom: 10px; }
div#content .section .clear_btn { height: 21px; width: 60px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-image: url(../img/btn_reset.gif); background-position: left 0px; background-repeat: no-repeat; float: right; }
div#content .section .clear_btn:hover { background-position: left -21px; }
div#content .section .calendar_btn { height: 27px; width: 27px; display: inline-block; vertical-align: top; margin-left: 2px; overflow: hidden; text-align: left; text-indent: -999em; background-image: url(../img/btn_calendar.gif); background-position: left 0px; background-repeat: no-repeat; }
div#content .section .calendar_btn:hover { background-position: left -27px; }
div#content .section .cb_type01 { margin-top: -21px }
div#content .section .cb_type02 { margin: -4px 0; }
div#content .section .cb_type03 { margin: 2px 0; }
div#content .section .radius { padding: 6px; }
div#content .section .auth_name { font-weight: bold; }
div#content .section .color01 th { font-size: 123.1%; }
div#content .section div table { width: 100%; }
div#content .section div table th { text-align: left; padding: 7px; line-height: 1.6em; }
div#content .section div table td { text-align: left; background-color: #fff; padding: 10px; }
div#content .section div table ul li { padding: 8px 0; }
div#content .section div table ul li .text { margin: -6px 4px; width: 300px; }
div#content .section div table select { margin: 0 8px 0 12px; padding: 4px; }
div#content .section div table input { padding: 4px; }
div#content .section div table textarea { padding: 4px; width: 746px; height: 100px; resize: vertical; }
div#content .section div table textarea.big { height: 64px; }
div#content .section table td .radio { float: left; margin-right: 7px; *margin-top:-4px;margin-top: -4px\9; }
div#content .section table td .checkbox { float: left; *margin-top:-4px;margin-top: -4px\9; }
div#content .section table td div { display: inline; *float:left;}
div#content .section table .button { width: 160px; }
div#content .section table .size01 { width: 400px; }
div#content .section table .size02 { width: 110px; }
div#content .section table .size03 { width: 744px; }
div#content .section table .size04 { width: 80px !important; }
div#content .section table .size05 { width: 160px; }
div#content .section table .size06 { width: 148px; }
div#content .section table .size07 { width: 614px; *float: left;}
div#content .section table .size08 { width: 120px !important; margin-right: 0; }
div#content .section table .size09 { width: 746px; }
div#content .section table .bold { height: 100%; font-weight: bold; background-image: none; font-size: 123.1%; }
div#content .section table .lineR { background-color: transparent; padding: 0; padding-right: 4px; }
div#content .section table .lineNone { background-color: transparent; padding: 0; }
div#content .section table .last { border: none; }
div#content .section table .notice01 { background: none; color: #ff0000; display: inline; height: auto; font-size: 93%; }
div#content .section table .notice02 { background: none; display: inline; height: auto; font-weight: lighter; padding-left: 0; padding-right: 0; }
div#content .section table .notice03 { background: none; display: inline; height: auto; font-weight: lighter; padding-left: 0; font-size: 93%; }
div#content .section table .strong { font-size: 123.1%; display: inline; padding: 0; background: none; }
div#content .section .button { cursor: pointer; background: url(../img/btn_arrow.gif) no-repeat left center #77bc00; border: none; margin-right: 4px; color: #FFF; padding: 5px; height: 27px; }
div#content .section .button:hover { color: #5b2500; background: url(../img/btn_arrow_on.gif) no-repeat left center #fffd37; }
div#content .section .optionBtn { padding: 7px 7px 2px 7px; }
div#content .section .optionBtn .button { width: 80px; padding: 5px; }
div#content .section .lineWhite { display: block; height: 4px; width: 990px; background-color: #FFF; margin-left: -6px; margin-right: -6px; margin-top: 6px; overflow: hidden; margin-bottom: 5px; }
div#content .tabletype01 table th { border-bottom: 3px dotted #cef2f6; }
div#content .tabletype01 table th.lineB { border-bottom: none; }
div#content .tabletype01 table td { border-bottom: 3px solid #9de5ed; overflow: hidden; }
div#content .tabletype01 table td.lineB { border-bottom: none; }
div#content .section table td ul li select { margin: -4px 4px; }
div#content .section table td ul li input.text { width: 300px; margin: -4px 4px; padding: 2px; }
div#content .section table td.tabletype02 { background-color: transparent; padding: 0; }
div#content .section table td.tabletype02 table td { background-color: #fff; padding: 0; border-right: 2px solid #9de5ed; border-bottom: 2px solid #9de5ed; }
div#content .section table td.tabletype02 table td span { background-image: none; overflow: hidden; height: 100%; padding: 10px 8px 9px; }
div#content .section table td.tabletype02 table td label span { display: inline; padding: 0; }
div#content .section table td.tabletype02 table td span.other { display: inline; padding: 0; }
div#content .section table td.tabletype02 table td .text { width: 300px; margin: -4px 4px; padding: 2px; }
div#content .section table td.tabletype02 table td.lineR { border-right: none; }
div#content .section table td.tabletype02 table td.lineB { border-bottom: none; }
div#content .section table td.tabletype03 span { display: inline-block; background: none; padding: 6px 20px 6px 0; float: left; }
div#content .section table td.tabletype04 { background-color: transparent; padding: 0; }
div#content .section table td.tabletype04 table th { background-color: transparent; border-bottom: 0px; border-left: 3px dotted #cef2f6; margin-bottom: 3px; padding: 9px; }
div#content .section table td.tabletype04 table td { background-color: transparent; border: none; padding:0; }
div#content .section table td.tabletype04 table td span { margin-bottom: 3px; margin-right: 3px; background-image: none; }
div#content .section table td.tabletype04 table td.lineR span { margin-right: 0; }
div#content .section table td.tabletype04 table td.lineB span { margin-bottom: 0; }
div#content .section table td.tabletype04 table td .text { width: 300px; margin: -6px 4px; padding: 2px; }
div#content .section table td table.tabletype05 td { padding-bottom: 6px !important; }
div#content .section table table.tabletype05 dl { background-color: #FFF; widows: 100%; }
div#content .section table table.tabletype05 dl dt, div#content .section table table.tabletype05 dl dd { float: left; }
div#content .section table table.tabletype05 dl dt { padding: 12px 0px 12px 9px; width: 212px; }
div#content .section table table.tabletype05 dl dd { padding: 5px 0; }
div#content .section table table.tabletype05 dl dd select { margin: 0; }
div#content .section table table.tabletype05 dl dd span { padding: 7px 10px 7px 0px; margin: 0; position: relative; display: inline-block; width: 7em; background-color: transparent; }
div#content .section table table.tabletype05 td table { margin-top: 2px; }
div#content .section table table.tabletype05 td table td, div#content .section table table.tabletype05 .last { padding: 0 !important; }
div#content .section table table.tabletype05 td table td span { margin-right: 2px; margin-bottom: 2px; }
div#content .section table table.tabletype05 td table.disable tr td { padding:0px 2px 2px 0 !important; *padding:1px 1px 1px 0 !important; }
div#content .section table table.tabletype05 td table.disable tr td.lineR { padding-right:0px !important; }
div#content .section table table.tabletype05 td table.disable tr td.lineB { padding-bottom:0px !important; }
body.houkoku #content .pagetop { position: relative; padding-top: 20px; margin-bottom: -32px; z-index: 9999; }
div#content .section h3 { font-size: 100%; font-weight: bold; padding: 7px 12px 10px; border-bottom: 3px solid #cef2f6; margin: 0 -6px; }
div#content .section h3 .strong { font-size: 123.1%; }
div#content .section table.tabletype06 { margin-bottom: -6px; }
div#content .section table.tabletype06 th { padding: 7px; }
div#content .section table.tabletype06 td { background-color: transparent; border: none; padding: 6px 6px 0 0; }
div#content .section table.tabletype06 .lineL { border-left: 3px solid #cef2f6; }
div#content .section table.tabletype06 .lineR { padding-right: 0px; }
div#content .section table.tabletype06 .middle { padding-top: 4px; }
div#content .section table.tabletype06 .last { padding-top: 4px; padding-bottom: 6px; }
div#content .section table.tabletype06 span { background-image: none; padding: 10px; min-height: 1em; height: auto; max-height: 100%; }
div#content .section table.tabletype07 th { padding: 7px 8px 7px 15px; }
div#content .section table.tabletype07 td { padding: 10px; }
div#content .section table span.lighter { padding: 0; background-color: transparent; font-weight: lighter; font-size: 93%; height: auto; background-image: none; }
div#content .section table.tabletype08 th { border-bottom: 3px dotted #fcc99c; font-size: 100%; }
div#content .section table.tabletype08 td { border-bottom: 3px solid #ff9e48; overflow: hidden; }
div#content .section table.tabletype08 .last { border-bottom: none; }
div#content .section table.tabletype09 th.lineB { padding-bottom: 10px; background: url(../img/line_06.gif) repeat-x left bottom; }
div#content .section table.tabletype09 th { border-bottom: none; }
div#content .section table.tabletype09 th .btn_area { background: none; padding: 0; height: auto; }
div#content .section table.tabletype09 td textarea { width: 256px; height:40px; }
div#content .section table.tabletype09 td.lastB { border-bottom: none; }
div#content .section table.tabletype09 .clear_btn { margin-top:3px; margin-right:10px; *margin-top:-22px; }
div#content .section table .error { background-color: #ffeaea; }
div#content .tabletype01 .color03 table th { border-bottom: 3px dotted #ffe6e5; }
div#content .tabletype01 .color03 table th.last { border-bottom: 0px; }
div#content .tabletype01 .color03 table td.last { border-bottom: 0px; }
div#content .tabletype01 .color03 table td span { background-color: #ffffff; }
div#content .color03 table td { border-bottom: 3px solid #ffd8d7; overflow: hidden; }
div#content .section .color03 h3 { font-size: 100%; font-weight: bold; padding: 7px 12px 10px; border-bottom: 3px solid #ffe6e5; margin: 0 -6px; }
div#content .section .color03 table.tabletype06 .lineL { border-left: 3px solid #ffe6e5; }
div#content .wrap_height td { padding: 3px 3px 0px 0px !important; }
div#content .wrap_height .tabletype04 td { *padding: 0px !important; }
div#content .wrap_height .lineR { padding-right:0px !important; padding-left:0px !important; }
div#content .wrap_height .lineB { padding-bottom:0px !important; }
div#content .wrap_height .last { padding-bottom:3px !important; }
div#content .wrap_height .lineNone { padding-left:5px !important; padding-right:0px !important; }

div#content .section table td input.text_numeric{ ime-mode:disabled; }
div#content .section table td div.time_list{ display: block; width: 756px; margin-top: 5px; }
div#content .section table td span.item_set,
div#content .section table td li.item_set,
div#content .section table td dt.item_set{ white-space: nowrap; }
div#content .section table td li.item_set,
div#content .section table td dd span.item_set{ margin-right: 1.5em; }
div#content .section #anonymous { font-weight: bold; margin: 10px;}
div#content .section #anonymous input { margin-right: 4px; }
div#content .section table td#id_200_10_field span { background: none; padding-left: 0;}
div#content .section #progress_comment table.list td { background-image: none; background-color: #fff; border-right: 2px dotted #cef2f6; }
div#content .section #progress_comment table.list td.none { border-right: none; }
div#content .section span#doctor_have_span { padding: 0; width: 10em; display: inline-block; }
div#content .section table td.tabletype03 div.date_set1 { margin-bottom: 1em; } 
div#content .section table td.tabletype03 div.date_time,
div#content .section table td.tabletype03 ul { width: 680px; float: left; } 
div#content .section table td.tabletype03 div.date_set2 { clear: both; width: 100%; } 
div#content .section table td.tabletype03 li { float: left; } 

/*評価画面*/
div#content #window_switch_btn1  { float: right; }
div#content #window_switch_btn1 a { 
    text-decoration: none; background: url(../img/btn_arrow.gif) no-repeat left center #77bc00; color: #fff; display: inline-block; padding: 5px 12px 5px 16px; 
}
div#content #window_switch_btn1 a:hover {    
    color: #5b2500; background: url(../img/btn_arrow_on.gif) no-repeat left center #fffd37;
}
body.houkoku div#content div#report_contents_for_analysis { clear: both; margin-top: 60px; }
div#content div#report_contents_for_analysis #report_contents_header { margin-bottom: 10px; }
div#content div#report_contents_for_analysis #report_contents_header h2 { float: left; margin-top: 0;}
div#content div#report_contents_for_analysis #report_contents_header div#window_switch_btn2 { float: right; }
div#content div#report_contents_for_analysis #report_contents_header div#window_switch_btn2 a { 
    text-decoration: none; background: url(../img/btn_arrow.gif) no-repeat left center #77bc00; color: #fff; display: inline-block; padding: 5px 12px 5px 16px; 
}
div#content div#report_contents_for_analysis #report_contents_header div#window_switch_btn2 a:hover {    
    color: #5b2500; background: url(../img/btn_arrow_on.gif) no-repeat left center #fffd37;
}
div#content div#report_contents_for_analysis #report_contents_header div#window_switch_btn2 a#back_to_analysis_window_btn { display: none; }
div#content div#report_contents_for_analysis .lineWhite { margin: 0; }

/*メッセージ画面*/
div#content { z-index: 0; }
div#header { z-index: 1; }
div#header .inner { z-index: 2; }
div#header .color01 { background: url(../img/bg_01.gif); padding: 3px; }
div#header div.alert-info { display: none; width: 320px; position: absolute; top: 20px; left: 230px; font-size: 1.2em;}
div#header div.alert-info p { margin: auto; padding: 10px; font-weight: bold; }
div#header div.alert-info .close { float: right; font-size: 20px; font-weight: bold; opacity: 0.2; cursor: pointer; border: none; background: none repeat scroll 0% 0% transparent; padding: 0px; margin-top:-4px; }

div#content .section table#mail_header th { text-align: left; padding: 7px; border-bottom: 3px dotted #fcc99c; width: 188px; }
div#content .section table#mail_header td { text-align: left; padding: 10px; background-color: #FFF; border-bottom: 3px solid #ff9e48; }
div#content .section table#mail_header th.none { border: none; }
div#content .section table#mail_header td.none { border: none; }
div#content .section table#mail_header td table.to_cc td#to_disp_area { width: 300px; border-right: 1px solid #ff9e48; }
div#content .section table#mail_header td table.to_cc td#cc_disp_area { width: 300px; border-right: 1px solid #ff9e48; }
div#content .section table#mail_header td ul { width: 510px; }
div#content .section table#mail_header td ul li { display: inline; padding: 4px 2px; float: left; }
div#content .section table#mail_header #mail_subject { margin: 0; width: 90%; }
div#content .section table#mail_header select { margin: 0; }
div#content .section table#mail_header td table.to_cc th { border:none; }
div#content .section table#mail_header td table.to_cc td { border:none; }
div#content .section table td table.updated  tr.after_updated { color:#FF00FF; }
div#content .section table td table.updated  th{ border:none; padding: 0; vertical-align: top; }
div#content .section table td table.updated  td{ border:none; padding: 0; }

/*返信・転送*/
h1 { color: rgb(119,188,0); font-weight: bold; font-size: 26px; }
div#content .section div.sender_msg { padding: 7px; border-bottom: 3px dotted #ffe6e5; }
div#content .section div.none { border-bottom: none; }
div#content .section div.sender_msg p.sender { font-weight: bold; }

/*進捗画面*/
div#content div#sub_menu { width: 450px; }
div#content div#sub_menu table { width: 100%; }
div#content div#sub_menu table th { width: 230px; padding: 0; text-indent: -999em; }
div#content div#sub_menu table th { background:url(../img/side_nav_txt01.gif) no-repeat 9px; }
div#content div#sub_menu table td { padding: 0; width: 170px; height: 32px; overflow: hidden; vertical-align: middle; }
div#content div#sub_menu table td { background:url(../img/side_nav02_01.gif) no-repeat left top; }
div#content div#sub_menu table td.active { background-position: left -32px; cursor: default; }
div#content div#sub_menu table td:hover { background-position: left -32px; }
div#content div#sub_menu table td a { color: rgb(231, 121, 38); font-weight: bold; font-size: 100%; padding-left: 35px; text-decoration: none; }
div#content table#level_rireki span { padding: 0px; }
div#content table#level_rireki span.anonymous { background-image: none; }
div#content table#level_rireki span.anonymous  a { color: blue; font-weight: bold; text-decoration: none; }
div#content table#setting td.checked { background-color: #fff9d4; }
div#content table#progress tr.header th { text-align: center; font-weight: bold; background-image: none;}
div#content table#progress th { border-bottom: none; }
div#content table#progress th.auth_name { border-bottom: 3px dotted #CEF2F6; font-weight: normal; }
div#content table#progress td { padding: 7px; }
div#content table#progress .clear_btn { margin-top:3px; *margin-top:-22px; margin-right:4px;}
div#content div#edit_lock { padding: 7px; }
div#content div#main_btn { text-align: right; margin-top: 10px; }
div#content div.main_btn { text-align: right; margin-top: 10px; }

/*分析登録*/
#analysis_regist div#header .inner, #analysis_regist div#content { width: 500px; min-width: 500px;}
#analysis_regist div#content { padding-bottom: 0px; }
#analysis_regist div#content table .button { width: 70px; }

/*分類ラベル*/
#classification_label .notice { color: red; font-size: 12px; font-weight: normal;}
#classification_label div#content .section div table select { margin-left: 0; }
#classification_label div#content .section div table th.borderb { border-bottom: 3px solid #9de5ed; }
#classification_label div#content .section div table li { float: left; margin-right: 20px; }
#classification_label div#content .section .gaiyo_item_top { border-right:none;border-bottom:none;border-top:none; }
#classification_label div#content .section .gaiyo_item { border-right:none;border-bottom:none;border-top:2px #9DE5ED solid; }
#classification_label div#content .section .gaiyo_sub * { border:none; }
#classification_label div#content .section .gaiyo_sub th { border-top:2px #9DE5ED solid; border-right:2px #9DE5ED solid; }
#classification_label div#content .section .gaiyo_sub td { width: 48%; border-top:1px #9DE5ED solid; }
#classification_label div#content .section .gaiyo_sub .top_row { border-top:2px #9DE5ED solid; }
#classification_label div#content .section .gaiyo_sub .left_col { border-right:1px #9DE5ED solid; }

/*EXCEL出力(報告ファイルトレイ)*/
#excel_output_item div#header .inner, 
#excel_output_item div#content,
#excel_output_item div#footer .inner { width: 760px; min-width: 760px;}
#excel_output_item div#header .inner h1 { padding-bottom: 0; }
#excel_output_item div#sub h2 { text-align: center; color: white; margin: 12px 10px; }
#excel_output_item div#sub select { width: 100%; margin-bottom: 3px; }
#excel_output_item div#sub li { background-color:#fff; padding: 8px 10px; border-bottom: #ececec 1px solid; text-align: left; }
#excel_output_item div#sub li.checked { background-color: #fff9d4; }
#excel_output_item div#main { width: 560px; }
#excel_output_item div#main .grp_button { float: right; } 
#excel_output_item div#main th { font-weight: bold; }
#excel_output_item div#main th, #excel_output_item div#main td { background-image: none; }
#excel_output_item div#main td.checked { background-color: #fff9d4; }
#excel_output_item div#main .button { width: 100px; }

/*事案番号関連付け*/
div#content div#search_area select { min-width: 150px; }
div#content div#search_area .button { width: 60px; }
div#content div#search_btn { text-align: right; margin-top: 10px; }
div#content #linked_reports { width: 100%; }
div#content #linked_reports #entry_list { float: left; width: 40%; }
div#content #linked_reports #arrow           { float: left; width: 5%; text-align: center; padding-top: 50px; }
div#content #linked_reports #add_list     { float: left; width: 54%;}
div#content #linked_reports table th { text-align: center; }
div#content #linked_reports table th.drag_icon { padding: 3px; }
div#content #linked_reports table tr.add_report td { background-color: #FFF9D4; }
div#content #linked_reports table tr.target_report td { background-color: #FFC5C3; }
div#content #linked_reports table td { border: 1px solid #ECECEC; padding: 7px; }
div#content #linked_reports table td.drag_icon { border-right: none; padding: 0; width: 3px; }
div#content #linked_reports table .drag_icon  img { display: none; padding-left: 3px; }
div#content #linked_reports table .drag_icon  p { display: none; white-space: nowrap; border: 1px solid #ececec; background-color: #fff; padding: 5px; position: absolute; left: 10px; }
div#content #linked_reports table td.report_id { border-left: none; padding-left: 3px; }
div#content #linked_reports table .report_link_status0 { display: inline-block; width: 14px; height: 14px; }
div#content #linked_reports table .report_link_status1 { display: inline-block; width: 14px; height: 14px; background-image: url(../img/chain.gif); background-position: top; }
div#content #linked_reports table .report_link_status2 { display: inline-block; width: 14px; height: 14px; background-image: url(../img/chain.gif); background-position: bottom; }
div#content #linked_reports table .drag_handle { cursor: move; }

/*統計分析レポート表示*/
#rm_stats_report div#content #axis_label td { border-right:solid #ff9e48 3px; }
#rm_stats_report div#content #axis_label td.last { border-right:none; }
#rm_stats_report div#content #main_nav li { float: left; margin-top: 10px; margin-left: 7px; }
#rm_stats_report div#content #main_nav li a { width: 53px; height: 49px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
#rm_stats_report div#content #main_nav li a:hover { background-position: left bottom; }
#rm_stats_report div#content #main_nav li.main_nav_10 { margin-left: 10px; _margin-left: 6px; }
#rm_stats_report div#content #main_nav li.main_nav_10 a { background-image: url(../inci_img/main_nav_ico10.gif); }
#rm_stats_report div#content #main_nav li.main_nav_08 a { background-image: url(../inci_img/main_nav_ico08.gif); }
#rm_stats_report div#content table td span { background: none; padding: 0; }
#rm_stats_report div#content table td.subject span.ellipsis { width: 300px; }
#rm_stats_report div#content table td.class_nm span.ellipsis { width: 200px; }
#rm_stats_report div#content table td.emp_name span.ellipsis { width: 100px; }
#rm_stats_report div#content table td.emp_name span.anonymous  a { font-weight: bold; color: blue; cursor:pointer; text-decoration: none; }
#rm_stats_report div#content table td.count  { text-align: right; }

/*チェックボックス*/
span.checkbox_wrap input{ padding: 0; width: 14px; height: 14px; -ms-filter: "alpha( opacity=0 )"; filter: alpha( opacity=0 ); opacity: 0; }
span.checkbox_wrap,
  div#content .section span.checkbox_wrap,
  div#content .section table td.tabletype03 span.checkbox_wrap,
  div#content .section table td.tabletype02 table td span.checkbox_wrap,
  div#content .section table td.tabletype04 table td span.checkbox_wrap
    { margin: 0; padding: 0; margin-right: 7px; display: inline-block; width: 14px; height: 14px !important; background: url(../img/checkbox.png) no-repeat; }
div#content .section span.disabled,
  div#content .section table td.tabletype04 table td span.disabled
    { background-position: 0px bottom; }
li.checked span.checked,
  div#content .section span.checkbox_wrap.checked,
  div#content .section td.checked span.checkbox_wrap,
  div#content .section table td.tabletype03 span.checked,
  div#content .section table td.tabletype02 table td span.checked,
  div#content .section table td.tabletype04 table td span.checked,
  div#label .inner ul li span.checked 
    { background-position: 0px -28px; }
div#content .section #anonymous span.checked,
  div#content .section #edit_lock span.checked  
    { background-position: 0px -42px; }
    
/*書庫:コンテンツ検索*/
#el_search div#content .section table .button{ width: 80px; }
/*書庫:参照履歴*/
#el_ref div#content .section table#sort_type td { width: 33%; text-align: center; border-bottom: 3px solid #ff9e48; border-right: 3px solid #ff9e48; }
#el_ref div#content .section table#sort_type td.last_col { border-right: none; }
#el_ref div#content .section table#sort_type td.last_row { border-bottom: none; }
#el_ref div#content .section table.list th.btn { text-align: center; }
#el_ref div#content .section table.list td.btn { text-align: center; }
#el_ref div#content .section table.list td.num { text-align: right; }
#el_ref div#content .section table.list .button { width: 80px; }
/*書庫：フォルダ作成・フォルダ更新・コンテンツ登録・コンテンツ更新*/
#el_reg div#header .inner, #el_reg div#content, #el_reg div#footer .inner { width: 800px; min-width: 800px;}
#el_reg div#header .inner h1 { padding-bottom: 0; }
#el_reg div#header .inner p.notice { float: left; padding-top: 10px; }
#el_reg div#footer .inner p.notice { float: left; padding-top: 10px; }
#el_reg div#content .section span { background: none; }
#el_reg div#content .section select { margin: 0; }
#el_reg div#content .section #folder_path { float: left; padding: 5px 0; margin-right: 10px; }
#el_reg div#content .section #folder_path_btn { float: left; }
#el_reg div#content .section textarea { width: 90%; }
#el_reg div#content .section table th.borderb { border-bottom: 3px solid #9de5ed; }
#el_reg div#content .section table .button { width: 80px; }
#el_reg div#content .section table .button_disabled { width: 80px; }
#el_reg div#content .section table.busho { border-right: 3px solid #9de5ed; }
#el_reg div#content .section table.busho select { width: 150px; margin-bottom: 5px; }
#el_reg div#content .section table.busho td.busho1 { width: 150px; }
#el_reg div#content .section table.busho label { display: block; margin: 0 0 5px; }
#el_reg div#content .section table.busho td.arrow_area { width: 20px; }
#el_reg div#content .section table.busho td .arrow { background-color: #77bc00; padding: 5px; border: none; cursor: pointer; color: #FFF;}
#el_reg div#content .section table.busho td .arrow_disabled { background-color: #BCE069; padding: 5px; border: none; cursor: pointer; color: #FFF;}
#el_reg div#content .section table.busho td .arrow:hover { color: #5b2500; background-color: #fffd37; }
/*書庫：感想登録*/
div#content .section #kansou_emp { font-weight: bold; }

/*集計条件一覧*/
#stats_condition div#header .inner, #stats_condition div#content { width: 550px; min-width: 550px;}
#stats_condition #main_nav { width: 100%; }
#stats_condition #main_nav li a { width: 53px; height: 49px; display: block; overflow: hidden; text-align: left; text-indent: -999em; background-repeat: no-repeat; background-position: left 0px; }
#stats_condition #main_nav li a:hover { background-position: left bottom; }
#stats_condition #main_nav li.main_nav_90 a { background-image: url(../inci_img/main_nav_ico90.gif); }
#stats_condition #main_nav li.main_nav_90 { float: right; margin-right: 10px; _margin-right: 6px; }

/*お知らせ：ファイル添付*/
#news_attach div#header .inner, #news_attach div#content { width: 600px; min-width: 600px;}

/*ラベル登録ポップアップ*/
form#label_form{ overflow: hidden; position: absolute; z-index: 99; display: none; }
form#label_form div#label { width: 173px; }
form#label_form div#label .inner { background-color: #FFF; }
form#label_form div#label #b_scrollbar { width: 173px; clear: both; margin: 0 auto; background: url(../img/b_scrollbar_track.gif) no-repeat right top; }
form#label_form div#label #b_scrollbar .viewport { width: 162px; height: 280px; overflow: hidden; position: relative; }
form#label_form div#label #b_scrollbar .overview { width: 162px; list-style: none; position: absolute; left: 0; top: 0; }
form#label_form div#label #b_scrollbar .scrollbar { position: relative; float: right; width: 8px; }
form#label_form div#label #b_scrollbar .track { height: 100%; width: 8px; position: relative; background-color: #ffc28c; }
form#label_form div#label #b_scrollbar .thumb { height: 72px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top: 0; background: url(../img/b_scrollbar_barbottom.gif) no-repeat left bottom #fff; }
form#label_form div#label #b_scrollbar .thumb .end { overflow: hidden; height: 7px; width: 8px; background: url(../img/b_scrollbar_bartop.gif) no-repeat left top; }
form#label_form div#label #b_scrollbar .disable { display: none; }
form#label_form div#label .inner ul { background-color: #fff; }
form#label_form div#label .inner ul li { border-bottom: 1px solid #ececec; padding: 8px 10px; }
form#label_form div#label .inner ul li.person { background-color: #e5f8fa; color: #59c2cd; }
form#label_form div#label .inner ul li.checked { background-color: #fff9d4; }
form#label_form div#label .inner ul li input { margin-right: 10px; }
form#label_form div#label div .button { width: 100%; height: 27px; margin-top: 3px; padding: 5px; border: none; cursor: pointer; }
form#label_form div#label div .button { background: url(../img/btn_arrow.gif) no-repeat left center #77bc00; color: #FFF; }
form#label_form div#label div .button:hover  { background: url(../img/btn_arrow_on.gif) no-repeat left center #fffd37; color: #5b2500; }

/*匿名ポップアップ*/
.ui-tooltip {
  background: black;
  border: 1px solid white;
  color: white;
  font-family:inherit;
  font-size:93%;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


    
/* ==================================================================
 *  div#footer
 * ================================================================== */
div#footer { background-color: #fdf6dc; width: 100%; height: 85px; background-image: none; }
div#footer .inner { width: 990px; min-width: 990px; height: 85px; margin: 0 auto; position: relative; }
div#footer .inner .sub_nav { position: absolute; top: 19px; right: 0px; }
div#footer .inner .sub_nav li { float: left; padding-left: 12px; }
div#footer .inner .sub_nav li a { width: 51px; height: 47px; overflow: hidden; text-align: left; text-indent: -999em; display: block; background-position: left 0px; background-repeat: no-repeat; }
div#footer .inner .sub_nav li a:hover { background-position: left -94px; }
div#footer .inner .sub_nav li.none a { background-position: left -47px; cursor: default; }
div#footer .inner .sub_nav li.active a { background-position: left -94px; }
div#footer .inner .sub_nav li.sub_nav_edit a { background-image: url(../inci_img/sub_nav_ico_edit.gif); }
div#footer .inner .sub_nav li.sub_nav_confirm  a { background-image: url(../inci_img/sub_nav_ico_confirm.gif); }
div#footer .inner .sub_nav li.sub_nav_next a { background-image: url(../inci_img/sub_nav_ico_next.gif); }
div#footer .inner .sub_nav li.sub_nav_edit_comment a { background-image: url(../inci_img/sub_nav_ico_edit_comment.gif); }
div#footer .inner .sub_nav li.sub_nav_analysis a { background-image: url(../inci_img/sub_nav_ico_analysis.gif); }
div#footer .inner .sub_nav li.sub_nav_draft a { background-image: url(../inci_img/sub_nav_ico_draft.gif); }
div#footer .inner .sub_nav li.sub_nav_temporary a { background-image: url(../inci_img/sub_nav_ico_temporary.gif); }
div#footer .inner .sub_nav li.sub_nav_update a { background-image: url(../inci_img/sub_nav_ico_update.gif); }
div#footer .inner .sub_nav li.sub_nav_send a { background-image: url(../inci_img/sub_nav_ico_send.gif); }
div#footer .inner .sub_nav li.sub_nav_replay a { background-image: url(../inci_img/sub_nav_ico_replay.gif); }
div#footer .inner .sub_nav li.sub_nav_forward a { background-image: url(../inci_img/sub_nav_ico_forward.gif); }
div#footer .inner .sub_nav li.sub_nav_progress a { background-image: url(../inci_img/sub_nav_ico_progress.gif); }
div#footer .inner .sub_nav li.sub_nav_label a { background-image: url(../inci_img/sub_nav_ico_label.gif); }
div#footer .inner .sub_nav li.sub_nav_print a { background-image: url(../inci_img/sub_nav_ico_print.gif); }
div#footer .inner .sub_nav li.sub_nav_return a { background-image: url(../inci_img/sub_nav_ico_return.gif); }
div#footer .inner .sub_nav li.sub_nav_samereport a { background-image: url(../inci_img/sub_nav_ico07.gif); }