.radio {
    padding: 0;
    margin-bottom: 2px;
    margin-right: 2px
}

.checkbox {
    padding: 0;
    margin-bottom: 2px;
    margin-right: 2px
}

.clabel {
    padding-right: 6px
}

.rlabel {
    padding-right: 6px
}

.w35px {
    width: 35px
}

.w40px {
    width: 40px
}

.w50px {
    width: 50px
}

.pad2px {
    padding-left: 2px;
    padding-right: 2px;
}

.t1 td {
    width: 12%;
    text-align: center;
    white-space: nowrap;
}

.t1 th {
    width: 12%;
    white-space: nowrap;
}

.t2 td {
    width: 16%;
    text-align: center;
    white-space: nowrap;
}

.t2 th {
    width: 16%;
    white-space: nowrap;
}

.rp_table {
    border-collapse: collapse;
    width: 100%;
}

.rp_table tr {
    height: 22px;
    cursor: pointer;
    background-color: #fff
}

.rp_table th {
    padding: 0px;
    font-weight: normal;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #888
}

.rp_table td {
    padding: 0px;
    text-align: left;
    border: 1px solid #888;
}

.med_table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}

.med_table th {
    padding: 1px;
    padding-left: 3px;
    color: #000;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    border: 1px solid #888;
}

.med_table td {
    padding: 1px;
    padding-left: 3px;
    text-align: left;
    border: 1px solid #888;
}

.med_table_h {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff
}

.med_table_h th {
    padding: 1px;
    padding-left: 3px;
    color: #000;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    border: 1px solid #888;
}

.med_table_h td {
    padding: 1px;
    padding-left: 3px;
    text-align: left;
    border: 1px solid #888;
}

.rp_edit {
    border: 0;
    background-color: transparent;
}

.subcolor {
    color: #666;
    font-size: 12px;
    line-height: 1.3;
}

.margin2px {
    margin-left: 2px;
    margin-right: 2px;
}

.narrowbox {
    background-color: #ffd;
    margin-bottom: 3px;
    border: 1px solid #dd9;
    padding: 3px 2px;
}

.paddingleft4px td {
    padding-left: 4px;
}

.container {
    padding-top: 2px;
}

.noime {
    ime-mode: disabled
}

.btn_cyusyatiming1 {
    margin: 2px;
    border: 1px solid #aaa;
    background-color: #ddd;
    cursor: pointer;
    color: #00f;
    text-align: center;
}

.btn_cyusyatiming2 {
    margin: 2px;
    border: 1px solid #aaa;
    background-color: #ddd;
    cursor: pointer;
    color: #00f;
    text-align: center;
    float: left
}

.display_none {
    display: none;
}
