#msttable {
    border: #5279a5 solid 1px;
    border-collapse: collapse;
    margin:10px 0 0 10px;
}
#msttable td {
    border: #5279a5 solid 1px;
    font-size: 11px;
    padding:5px;
}
#msttable thead td {
    font-size: 12px;
    font-weight:bold;
    text-align:center;
    padding:6px;
}
#msttable td.id {text-align:center;}
#msttable td.number {text-align:right;}
#msttable td.date {text-align:center;}
#msttable td.check {text-align:center;}
#msttable td.button {text-align:center;}

#form {
    border-collapse: collapse;
    margin:10px;
}
#form td {
    border: #5279a5 solid 1px;
    font-size: 11px;
    padding:5px;
}
#form td.form_title {
    font-size: 12px;
    font-weight:bold;
    text-align:center;
    padding:6px;
}

.searchtable {
    border: #5279a5 double 3px;
    border-collapse: collapse;
    margin:10px 0 0 10px;
}
.searchtable td {
    border: #5279a5 solid 1px;
    font-size: 11px;
    padding:2px;
}
.searchtable td.title {
	text-align:center;
    font-weight:bold;
	background-color:#fefcdf;
	padding:0 20px;
}

.searchtable table td {
    border: 0;
}

p { font-size:12px; }

.button { margin:5px;}

#cal_oil2 {
 display          : none;
 position         : absolute;
 z-index          : 10000;
}
#cal_oil3 {
 display          : none;
 position         : absolute;
 z-index          : 10000;
}
#calContainer {
 display          : none;
 position         : absolute;
 z-index          : 10000;
}
