body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: san-serif;
}
#header {
    margin: 0;
    padding: 0;
    width: 100%;
}
#header td {
    font-size: 16px
}
#header td.icon {
    width: 32;
    height: 32;
}
#header td.kanri {
    text-align: right
}
#menu_tab {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    height: 22px;
    border-bottom: 2px solid #5279A5;
}
#menu_tab li {
    display: block;
    width: 120px;
    height: 22px;
    font-size: 13px;
    line-height: 22px;
    background-color: #bdd1e7;
    margin-right: 5px;
    text-align: center;
    float: left;
}
#menu_tab li.selected {
    font-weight: bold;
    background-color: #5279a5;
}
#menu_tab li.selected a {
    color: #fff
}
#menu2_tab {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    height: 22px;
}
#menu2_tab li {
    display: block;
    width: 100px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid #bdd1e7;
    margin-right: 5px;
    text-align: center;
    float: left;
}
#menu2_tab li.selected {
    font-weight: bold;
}
#left_menu {
    margin: 0;
    padding: 0;
    width: 120px;
    border: #5279a5 solid 1px;
    border-collapse: collapse;
}
#left_menu td {
    height: 20px;
    font-size: 12px;
    padding: 5px 0 5px 10px;
}
#left_menu td.left_menu_title {
    background-color: #5279A5;
    font-size: 13px;
    color: #fff;
    text-align: center;
    vartical-align: middle;
    height: 22px;
    font-weight: bold;
    padding: 0;
}