body { margin:0; padding:0 }
table { border:0 }
label, button { cursor:pointer }
body, table { font-size:13px; }
.list {border-collapse:collapse;}
.list tr { height:22px }
.list th, .list td {border:#5279a5 solid 1px; }

.border0, .border0 td { border:0 }

.prop_list tr { height:22px }
.prop_list th { text-align:right; font-weight:normal; background-color:#f6f9ff }

.with_border { border:1px solid #5279a5  }
.with_bg { background-color:#f6f9ff }

/*----------------------------
アプリアイコン、アプリ名、管理画面/ユーザ画面へのリンク行
----------------------------*/
div.window_title { padding:0 0 0 0; height:32px; line-height:30px; background:url(../../img/icon/b36.gif) 6px 0 no-repeat #f6f9ff; font-size:16px; }
div.window_title * { font-family:sans-serif }
div.window_title a { line-height:30px; font-weight:bold }
div.window_title .pankuzu { padding-left:43px; }
div.window_title .pankuzu2 { padding-left:0 }
div.window_title table { width:100% }
div.window_title table th { text-align:left; width:auto; height:32px; font-size:16px; line-height:30px; font-weight:normal }
div.window_title table td { text-align:right; height:32px; font-size:16px; line-height:30px }

/*----------------------------
アプリタイトル（ダイアログの場合）
----------------------------*/
table.dialog_title { width:100%; background-color:#5279a5; color:#ffffff; font-size:13px }
table.dialog_title th { height:32px; vertical-align:middle; padding-left:6px; text-align:left; }
table.dialog_title td.closebtn { width:24px; padding:4px 4px 4px 0 }
table.dialog_title td.closebtn a { display:block; width:24px; height:24px; background:url(../../img/icon/close.gif) no-repeat; }
table.dialog_title td.closebtn a:hover { background-image:url(../../img/icon/closeo.gif) }

/*----------------------------
メニュー切替行
----------------------------*/
div.basic_tab_menu { border-bottom:2px solid #5279a5 }
div.basic_tab_menu table { height:22px; }
div.basic_tab_menu table th { text-align:center; height:22px; padding-right:5px; width:90px }
div.basic_tab_menu table th a { display:block; line-height:22px; width:100%; height:100%; }
div.basic_tab_menu table th.current a { background-color:#5279a5; color:#ffffff; font-weight:bold }
div.basic_tab_menu table th.selectable a { background-color:#bdd1e7; font-weight:normal }
div.basic_tab_menu table th.w120 a { width:120px }
div.basic_tab_menu table td { width:auto }
div.basic_tab_menu button { height:22px }


/*----------------------------
部署ツリー
----------------------------*/
#main_tbody tr { height:26px; }
#main_tbody td { vertical-align:middle; line-height:20px }
#main_tbody .tr_hide { display:none }
#main_tbody tr button { width:20px; height:20px; border:0; margin:0 3px 0 0; padding:0; vertical-align:top }
#main_tbody tr button.plus { background:url("../../img/icon/plus.gif"); background-repeat: no-repeat; }
#main_tbody tr button.minus { background:url("../../img/icon/minus.gif"); background-repeat: no-repeat; }
#main_tbody .hier2 { padding-left:25px }
#main_tbody .hier3 { padding-left:50px }
#main_tbody td.busyo span { padding-left:4px; white-space:nowrap }
#main_tbody td.busyo span b { padding:0; border:1px solid #dddddd; background-color:#dddddd; margin-right:2px; font-weight:normal; }
#main_tbody td.busyo span img { vertical-align:top }


a.selected { color:#000000; font-weight:bold; text-decoration:none }