@charset "euc-jp";




/* -----------------------------------------------------------------------------
basic strictions for single-tag
----------------------------------------------------------------------------- */
/* * { font-family:Verdana,"メイリオ" } */
html { height:100%; width:100% }
body { margin:0; padding:0; height:100%; width:100%; background-color:#ffffff }
body, table, textarea, input, select, pre { font-size:13px; letter-spacing:0 }
form { margin:0; padding:0; }
body, table, textarea { line-height:1.3 }
table { border:0; border-collapse:collapse; }
th, td { padding:0; vertical-align:top; font-weight:normal; border:0; }
img { border:0; margin:0; padding:0; vertical-align:bottom; }
label { cursor:pointer; white-space:nowrap }
textarea, select { margin:0; }
select { padding:1px; }
button { cursor:pointer; white-space:nowrap; height:25px; line-height:13px; padding:2px; overflow:hidden; }
input { line-height:1; padding:2px }
input.text, textarea { padding:3px; line-height:1.3 }
input.text, select, textarea { border: 1px solid #999999; background:url(../../img/c2/bk_tbox.png) repeat-x #ffffff; }
input.text_readonly, textarea.text_readonly { background:url(../../img/c2/bk_tbox_readonly_ddd.png) repeat-x #dddddd; border: 1px solid #8f92c0; }
input.thin { padding-top:1px; padding-bottom:1px }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance:none; margin:0; -moz-appearance: none; }
input[type=number] { -moz-appearance:textfield; }

body.unselectable * { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select:none; user-select:none; -ms-user-select:none; }
table.nowrap th, table.nowrap td { white-space:nowrap }

nobr * { white-space:nowrap }

label.focussing, input.focussing, select.focussing, textarea.focussing { border: 1px solid #ffaa00; }


/* -----------------------------------------------------------------------------
general classes with important
----------------------------------------------------------------------------- */
.w10  { width:10px !important  } .w20  { width:20px !important  } .w30  { width:30px !important }
.w40  { width:40px !important  } .w50  { width:50px !important  }
.w60  { width:60px !important  } .w70  { width:70px !important  } .w80  { width:80px !important }
.w90  { width:90px !important  } .w100 { width:100px !important }
.w110 { width:110px !important } .w120 { width:120px !important } .w130 { width:130px !important }
.w140 { width:140px !important } .w150 { width:150px !important }
.w160 { width:160px !important } .w170 { width:170px !important } .w180 { width:180px !important }
.w190 { width:190px !important } .w200 { width:200px !important }
.w250 { width:250px !important }
.w300 { width:300px !important }
.w350 { width:350px !important }
.w400 { width:400px !important }
.w450 { width:450px !important }
.w500 { width:500px !important }
.nowrap { white-space:nowrap }
.imeoff { ime-mode:disabled !important }
.block  { display:block !important }
.left   { text-align:left !important }
.right  { text-align:right !important }
.center { text-align:center !important }
.top    { vertical-align:top !important }
.bottom { vertical-align:bottom !important }
.middle { vertical-align:middle !important }
.relative { position:relative !important }
.absolute { position:absolute !important }
.width100 { width:100% !important }
.float_left  { float:left !important }
.float_right { float:right !important }
.border0 { border:0 !important }
.no_underline { text-decoration:none !important }
.underline { text-decoration:underline !important }
.red { color:#ff0000 !important }
.blue { color:#0000ff !important }
.gray { color:#777777 !important }
.white { color:#ffffff !important }
.bold { font-weight: bold !important }
.font10   { font-size:10px !important }
.font11   { font-size:11px !important }
.font12   { font-size:12px !important }
.font13   { font-size:13px !important }
.font14   { font-size:14px !important }

.print-only { display:none !important }
@media print {
    .print-none { display:none !important }
    .print-only { display:initial !important }
}

.clearfix { clear:both; float:none !important; height:0 !important; line-height:0 !important; width:0; position:relative; left:0; top:0 }




/* -----------------------------------------------------------------------------
application depending
----------------------------------------------------------------------------- */


/*----------------------------
アプリアイコン、アプリ名、管理画面/ユーザ画面へのリンク行
----------------------------*/
div.window_title { padding:0 0 0 0; height:32px; line-height:30px; background:5px 0 no-repeat #f6f9ff; font-size:16px; font-weight:bold; }
div.window_title * { font-family:sans-serif }
div.window_title a { line-height:30px }
div.window_title .pankuzu { padding-left:42px; letter-spacing:1px }
div.window_title .pankuzu2 { padding-left:0 }
div.window_title table { width:100% }
div.window_title table th { text-align:left; width:auto; height:32px; font-size:16px; font-weight:bold; line-height:30px; }
div.window_title table td { text-align:right; height:32px; font-size:16px; font-weight:bold; line-height:30px; }

/*----------------------------
メニュー切替行
----------------------------*/
div.basic_tab_menu { border-bottom:2px solid #5279a5 }
div.basic_tab_menu table { height:24px; }
div.basic_tab_menu table th { text-align:center; height:24px; padding-right:2px; width:120px }
div.basic_tab_menu table th a { display:block; line-height:24px; width:100%; height:100%; }
div.basic_tab_menu table th.current a { background-color:#5279a5; color:#ffffff; font-weight:bold }
div.basic_tab_menu table th.selectable a { background-color:#bdd1e7 }
div.basic_tab_menu table td { width:auto }
div.basic_tab_menu button { height:24px }

/*----------------------------
汎用リスト
----------------------------*/
div.general_list { padding-top:10px }
.general_list th { padding-left:1px; border:1px solid #5279a5; padding:2px 4px; background-color:#f6f9ff }
.general_list td { padding-left:1px; border:1px solid #5279a5; padding:2px }

/*----------------------------
汎用ダイアログのヘッダ部
----------------------------*/
table.dialog_header { width:100%; background-color:#5279a5; color:#ffffff }
table.dialog_header a:hover { text-decoration:underline }
table.dialog_header th { text-align:left; padding:3px 0px 3px 8px }
table.dialog_header td.btn_close { text-align:right; padding:3px }
table.dialog_header td.btn_close a { color:#ffffff; }








/* -----------------------------------------------------------------------------
 ナビゲーション・ツールチップ
----------------------------------------------------------------------------- */
table#tblNavi { border:1px solid #404040; background-color:#606060; display:none; position:fixed; line-height:1.5; z-index:50000; color:#ffffff; font-size:12px }
table#tblNavi th, table#tblNavi td { vertical-align:top; padding:6px; letter-spacing:1px; text-align:left }
table#tblNavi th { font-weight:bold; }
