<!-- begin of simple blog waiting block -->
<{if ( $block.simpleblog_applicationNum ) && ( count($block.simpleblog_applicationNum) gt 0 ) }>
<table class="outer" cellspacing="1" width="95%"><tr>
  <td align="center"><b><a href="<{$xoops_url}>/modules/simpleblog/admin/index.php"><{$_MB_SIMPLEBLOG_NEW_APPLICATION}>(<{$block.simpleblog_applicationNum}>)</a></b></tr>
</tr>
</table>
<{/if}>
<!-- end of simple blog waiting block -->