#daily_fee,
#daily_fee_days,
#daily_fee_percentage,
#daily_fee_total,
#hotel_fee,
#hotel_fee_days,
#hotel_fee_percentage,
#hotel_fee_total,
#daily_fee2,
#daily_fee_days2,
#daily_fee_percentage2,
#daily_fee_total2,
#hotel_fee2,
#hotel_fee_days2,
#hotel_fee_percentage2,
#hotel_fee_total2,
#prepayment,
#tokyo_fee,
#tokyo_fee_days,
#tokyo_fee_percentage,
#tokyo_fee_total,
#tokyo_fee2,
#tokyo_fee_days2,
#tokyo_fee_percentage2,
#tokyo_fee_total2 {
 border           : 0;
}
#total_fee {
 border           : 0;
 font-size        : 16px;
}
#trip1table,
#triptable {
 border           : 0;
 border-collapse  : collapse;
 font-size        : 9pt;
 margin           : 5px;
}
#trip1table td {
 padding          : 3px;
}
#trip1table td.trip1title {
 font-weight      : bold;
 text-align       : center;
}
#triptable .tripform {
 border           : 1px solid black;
 padding          : 10px;
}
#triptable .triptitle {
 border           : 1px solid black;
 font-weight      : bold;
 padding          : 10px;
 text-align       : center;
 white-space      : nowrap;
}
#triptable input {
 color            : black;
 font-size        : 9pt;
}
#triptable input[type="number"],
#triptable input[type="text"] {
 border           : 1px solid grey;
}
#triptable select,
#triptable textarea {
 border           : 1px solid grey;
 color            : black;
 font-size        : 9pt;
}
.calContainer {
 display          : none;
 position         : absolute;
 z-index          : 10000;
}
.calContainer .wd0 {
 color            : red;
}
.calContainer .wd6 {
 color            : blue;
}
.transdiv {
 margin           : 0 0 15px 0;
}
.transtable {
 border           : 0;
 border-collapse  : collapse;
 font-size        : 8pt;
 margin           : 5px;
}
.transtable tbody td,
.transtable tfoot td {
 border           : 1px solid black;
 padding          : 1px;
 white-space      : nowrap;
}
.transtable tfoot td.tt_header {
 font-weight      : bold;
 text-align       : right;
}
.transtable thead td {
 border           : 1px solid black;
 font-weight      : bold;
 padding          : 5px;
 text-align       : center;
 white-space      : nowrap;
}
div.attension {
 background-color : khaki;
 border           : 1px solid silver;
 font-size        : 9pt;
 margin           : 5px 0 0 20px;
 padding          : 5px;
 width            : 500px;
}
img.calendar {
 cursor           : pointer;
 position         : relative;
 z-index          : 1;
}
input[type="number"] {
 text-align       : right;
}
textarea {
 width            : 500px;
}
