#triptable {
 border           : 0;
 border-collapse  : collapse;
 font-size        : 9pt;
 margin           : 5px;
}
#triptable .tripform {
 border           : 1px solid black;
 padding          : 10px;
}
#triptable .triptitle {
 border           : 1px solid black;
 font-weight      : bold;
 padding          : 10px;
 text-align       : center;
 white-space      : nowrap;
}
#triptable input {
 color            : black;
 font-size        : 9pt;
}
#triptable input[type="number"],
#triptable input[type="text"] {
 border           : 1px solid grey;
}
#triptable select,
#triptable textarea {
 border           : 1px solid grey;
 color            : black;
 font-size        : 9pt;
}
.calContainer {
 display          : none;
 position         : absolute;
 z-index          : 10000;
}
.calContainer .wd0 {
 color            : red;
}
.calContainer .wd6 {
 color            : blue;
}
div.attension {
 background-color : khaki;
 border           : 1px solid silver;
 font-size        : 9pt;
 margin           : 5px 0 0 20px;
 padding          : 5px;
 width            : 500px;
}
div.youken {
 margin           : 5px 0 0 20px;
}
div.youken div {
 color            : black;
 display          : block;
 margin-bottom    : 10px;
}
div.youken div span.youken_title {
 display          : block;
 float            : left;
 height           : 20px;
 padding          : 5px 6px 0 0;
 text-align       : right;
 vertical-align   : bottom;
 width            : 65px;
}
img.calendar {
 cursor           : pointer;
 position         : relative;
 z-index          : 1;
}
textarea {
 width            : 500px;
}
#preticket21_form,
#preticket22_form {
 margin           : 5px;
 padding          : 3px;
 border           : 1px dotted black;
}
#preticket21_form div,
#preticket22_form div {
 color            : black;
 display          : block;
 margin-bottom    : 10px;
}
#preticket21_form div span.preticket_title,
#preticket22_form div span.preticket_title  {
 display          : block;
 float            : left;
 height           : 20px;
 padding          : 5px 6px 0 0;
 text-align       : right;
 vertical-align   : bottom;
 width            : 120px;
}
