<form id="form_mst_date_status" action="trn_accept_inside_edit.php" method="post">
    <div>
        <div id="modal_status_status" class="control-group" >
            <div class="controls form-inline">
                <div style="text-align: center;">
                    <label class="radio inline"><input type="radio" name="status" value="1" />受付期間に合わせる</label>
                    <label class="radio inline"><input type="radio" name="status" value="0" />締切前でも終了とする</label>
                </div>
                <div id="error_status_status" class="help-block hide"></div>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" value="" />
    <input type="hidden" name="date_id" value="" />
    <input type="hidden" name="mode" value="status" />
    <input type="hidden" id="mode2_status" name="mode2" value="validate" />
</form>
