div.pad5px {
	padding: 5px;
}

#tooltip{
	position:absolute;
	border:1 solid black;
	background:#FFFFCC;
	color:black;
	font-size:9pt;
	width:200;
	height:30;
	padding:2;
	z-index:10;
	display:none;
}