/* Copyright © medi-system solutions co,.Ltd. All rights reserved. */

/* EUC-JPで開いてください  */
@charset "euc-jp";

/* -----------------------------------------------------------------------------
basic tag strictions
----------------------------------------------------------------------------- */
html { height:100%; width:100% }
body, table, textarea, input, select, pre { font-family:verdana, "メイリオ"; font-size:13px; letter-spacing:0 }
body { margin:0; padding:0; height:100%; width:100%; background-color:#ffffff }
form { margin:0; padding:0; }
body, table, textarea { line-height:1.3 }
table { border:0; border-collapse:collapse; }
th, td { padding:0; vertical-align:top; font-weight:normal; border:0; }
img { border:0; margin:0; padding:0; vertical-align:bottom; }
label { cursor:pointer; white-space:nowrap }
label:hover { color:#2277ff; text-decoration:underline }
label.white_label:hover { color:#ffffff }
a { cursor:pointer; outline:none }
textarea, select { margin:0; }
select { padding:1px; }
button { cursor:pointer; white-space:nowrap; height:23px; line-height:13px; padding:0 3px; overflow:hidden; }
input { line-height:1; padding:2px }
input.text, input.text_readonly, textarea { padding:3px; line-height:1.3 }
input.text, input.text_readonly, select, textarea { border: 1px solid #999999; background:url(../img/bk_tbox.png) repeat-x #ffffff; }
input.text_readonly, textarea.text_readonly { background:url(../img/c2/bk_tbox_readonly_ddd.png) repeat-x #dddddd; border: 1px solid #8f92c0; }
input.thin { padding-top:1px; padding-bottom:1px }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance:none; margin:0; -moz-appearance: none; }
input[type=number] { -moz-appearance:textfield; }
nobr * { white-space:nowrap }

/* -----------------------------------------------------------------------------
basic class restrictions
----------------------------------------------------------------------------- */
body.unselectable * { -moz-user-select:none; -khtml-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; -ms-user-select:none; }
table.nowrap th, table.nowrap td { white-space:nowrap }

textarea.script { display:none !important }

label.focussing, input.focussing, select.focussing, textarea.focussing { border: 1px solid #ffaa00; }

input.disabled, textarea.disabled, select.disabled, select.disabled option { color:#bbbbbb }


/* -----------------------------------------------------------------------------
general classes with important
----------------------------------------------------------------------------- */
.w10  { width:10px !important  } .w20  { width:20px !important  } .w30  { width:30px !important }
.w40  { width:40px !important  } .w50  { width:50px !important  }
.w60  { width:60px !important  } .w70  { width:70px !important  } .w80  { width:80px !important }
.w90  { width:90px !important  } .w100 { width:100px !important }
.w110 { width:110px !important } .w120 { width:120px !important } .w130 { width:130px !important }
.w140 { width:140px !important } .w150 { width:150px !important }
.w160 { width:160px !important } .w170 { width:170px !important } .w180 { width:180px !important }
.w190 { width:190px !important } .w200 { width:200px !important }
.w250 { width:250px !important }
.w300 { width:300px !important }
.w350 { width:350px !important }
.w400 { width:400px !important }
.w450 { width:450px !important }
.w500 { width:500px !important }
.nowrap { white-space:nowrap }
.imeoff { ime-mode:disabled !important }
.block  { display:block !important }
.left   { text-align:left !important }
.right  { text-align:right !important }
.center { text-align:center !important }
.top    { vertical-align:top !important }
.bottom { vertical-align:bottom !important }
.middle { vertical-align:middle !important }
.relative { position:relative !important }
.absolute { position:absolute !important }
.fixed { position:fixed !important }
.width100 { width:100% !important }
.float_left  { float:left !important }
.float_right { float:right !important }
.border0, table.border0 th, table.border0 td { border:0 !important }
.bg_white { background-color:#ffffff }
.no_underline { text-decoration:none !important }
.underline { text-decoration:underline !important }
.red { color:#dd4444 !important }
.green { color:#5f9d31 }
.brown { color:#b6472c }
.blue { color:#0000ff !important }
.gray { color:#777777 !important }
.lightgray { color:#999999 !important }
.silver { color:#bbbbbb }
.white { color:#ffffff !important }
.bold { font-weight: bold !important }
.font10   { font-size:10px !important }
.font11   { font-size:11px !important }
.font12   { font-size:12px !important }
.font13   { font-size:13px !important }
.font14   { font-size:14px !important }
.font16   { font-size:16px !important }
.pointer { cursor:pointer }
.print-only { display:none !important }
.break_all { word-break:break-all }

.clearfix { clear:both; float:none !important; height:0 !important; line-height:0 !important; width:0; position:relative; left:0; top:0 }
.bg_red { background-color:#dd4444; color:#ffffff }

/* -----------------------------------------------------------------------------
anchor general
----------------------------------------------------------------------------- */
a, a:visited { color:#0044dd; text-decoration:none; }
a:hover { color:#2277ff; text-decoration:underline; }
a:hover .no_decoration { text-decoration:none }
a.normal_color { color:#0044dd !important }
a.normal_color:hover { color:#2277ff !important }

a.white_link, .white_link a { color:#ffffff }
a.white_link:hover, .white_link a:hover { color:#ffffff; }
a.black_link, .black_link a { color:#000000 }
a.black_link:hover, .black_link a:hover { color:#0072e3; }

.link_hover { cursor:pointer }
.link_hover:hover { color:#0072e3; cursor:pointer; text-decoration:underline }


/* -----------------------------------------------------------------------------
application general
----------------------------------------------------------------------------- */
span.id_syozoku { color:#00aa00 } /* 所属の緑 */

span.subject1 { border:1px solid #7e96a0; background-color:#7e96a0; color:#ffffff; padding:0 2px; line-height:1.5; font-size:12px; }
span.subject2 { padding:2px }
span.subject1b { background-color:#7e96a0; color:#ffffff; padding:0 1px; }
span.subject3b { background-color:#b096a0; color:#ffffff; padding:0 1px; }

/* -----------------------------------------------------------------------------
リスト（水色ヘッダ）
----------------------------------------------------------------------------- */
table.list_table th { background-color:#e8efff; color:#505f7e }
table.list_table th, table.list_table td { border:1px solid #94acc5; padding:2px 4px }
.list_table tr.pale th { color:#505f7e }
.list_table th div { text-align:center; margin:0 auto }

/* -----------------------------------------------------------------------------
検索条件入力（灰色背景）
----------------------------------------------------------------------------- */
div.finder_box { background-color:#dddddd; padding:3px 0 0 0; border-bottom:1px solid #bbbbbb; color:#444444 }
div.finder_box div { float:left; padding:2px 5px 0 5px; height:26px }
div.finder_box div.right { float:right; }
div.finder_box div th, div.finder_box div td { height:26px; vertical-align:middle }
div.finder_box div th { padding-right:2px }

/* -----------------------------------------------------------------------------
編集ダイアログ
----------------------------------------------------------------------------- */
table.dialog_input_table th, table.dialog_input_table td { padding:4px; height:22px; line-height:22px }
table.dialog_input_table th { color:#505f7e }
table.dialog_input_table th { text-align:right !important }
table.dialog_input_table td { text-align:left !important }

.hover_colord tr:hover { background-color:#ffffcc; }
.hover_clickable tr:hover { background-color:#ffffcc; color:#ff6600; cursor:pointer }

#assist_dialog_content a:hover { background:url(../img/bk_line.gif) repeat-x }

/* -----------------------------------------------------------------------------
管理画面：共通
----------------------------------------------------------------------------- */
div.div_admin_menu { padding:5px; font-size:12px }
div.div_admin_menu a { display:block; padding:2px; color:#000000 }
div.div_admin_menu a:hover { color:#0044ee; }
div.div_admin_menu a span { letter-spacing:3px; }
div.div_admin_menu a.menu_selected { background-color:#eeee88; color:#777777 }
.section_title .section_title_abc { width:32px; text-align:center; border-right:1px solid #ffffff; }
.section_title .section_title_title { padding-left:16px }

/* -----------------------------------------------------------------------------
管理画面：D またはSQEポップアップ
----------------------------------------------------------------------------- */
div.hyoka_scroller { overflow-y:scroll }
div.hyoka_scroller label { display:block; padding:2px 8px 2px 2px; border-bottom:1px solid #94acc5 }
div.hyoka_scroller label span { color:#999999; letter-spacing:4px; padding-left:4px }
div.hyoka_scroller label.checked { background-color:#ccccff }
div.hyoka_scroller label.checked2 { background-color:#cae6ff }
div.hyoka_scroller label:hover { background-color:#ffffcc }
div.hyoka_scroller label.checked:hover { background-color:#ffff88 }
div.hyoka_scroller a.selected { background-color:#ccccff }
#hyoka_left_list a.left_selected { background-color:#eeee88 }
div#hyoka_left_list a.block:hover { background-color:#ffffcc }
div.sup { font-size:11px; color:#999999; white-space:nowrap }
tbody#mst_hyoka_sortable { background-color:#ffffcc }
tbody#mst_hyoka_sortable tr { background-color:#ffffff }
div.sqe_divtitle { padding:12px 0 3px 0 }
div.sqe_divtitle table td { line-height:22px; vertical-align:middle }
.hide_detail_options .prv_options, .hide_detail_options .hyi_options { display:none }
tr.is_row_deleted { background-color:#eedde3 }
tr.is_row_deleted td.deleted_white * { visibility:hidden }
table.btn_hyoka_table td { padding:0 2px }
table.btn_hyoka_table a { line-height:23px; height:26px; background:url(../img/btn_hyoka_s.gif) no-repeat }
table.btn_hyoka_table td.switch_on a { background-image:url(../img/btn_hyoka_y.gif); color:#777777 }

/* -----------------------------------------------------------------------------
管理画面：F
----------------------------------------------------------------------------- */
.m_f_box          { background-color:#eeeeee; border:1px solid #c5c5c5; width:240px; margin-top:4px; padding:3px; cursor:move }
.m_f_box table    { height:23px }
.m_f_box table th { color:#ffffff; padding:0 3px; width:60px; vertical-align:middle; }
.m_f_box table td { padding-left:4px; vertical-align:middle; }
.reg_td .m_f_box { width:290px }
.cancel_sortable { cursor:default }
.is_br { background-color:#dddddd; }
.other_layouted { color:#ff0000 }
div#menu_no_assign input { display:none }

/* -----------------------------------------------------------------------------
管理画面：H
----------------------------------------------------------------------------- */
td.auth_box { background:url(../img/bk_emp.gif) repeat-x #c9c9c9; cursor:pointer; border:1px solid #dddddd; color:#0044dd; }
#dialog_approval_kbn_area a { display:block; padding:1px; text-align:left; color:#000000 }
#dialog_approval_kbn_area a:hover { color:#0044ee; }
#dialog_approval_kbn_area a.selected, #field_selector_scroll tr.selected { background-color:#ccccff }

/* -----------------------------------------------------------------------------
ユーザ画面：いろいろ
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
ユーザ画面：左メニュー
----------------------------------------------------------------------------- */
.div_menu table, .div_menu a { font-size:12px }
div#div_menu_wrapper a { display:block; padding:0 2px 2px 2px; color:#000000 }
div#div_menu_wrapper a:hover { color:#2277ff }
div#div_menu_wrapper a span { letter-spacing:3px; }
div#div_menu_wrapper div.menu_container a { padding-left:12px }

.div_profile_menu a { border:1px solid #ffffff; padding-bottom:0 }
.div_profile_menu a:hover, a.with_icon:hover { color:#0072e3 }
.div_profile_menu a:visited, a.with_icon:visited { color:#000000 }
a.menu_selected { color:#1f5289 !important }

div.menu_container table td.refresh { background:url(../img/iset_mini.gif) -26px -192px no-repeat; width:18px; height:20px; visibility:hidden }
div.menu_container table td.hide { background:url(../img/iset_mini.gif) -24px -216px no-repeat; width:20px; height:20px; visibility:hidden }
div.menu_container table td.move { color:#000000; text-decoration:none; width:120px; height:20px; cursor:pointer; line-height:20px }
div.menu_container table td.move div { width:120px; overflow:hidden }

div.menu_container table td.refresh:hover { background-position:-2px -192px; }
div.menu_container table td.hide:hover { background-position:0 -216px; }
div.menu_container table td.move:hover { color:#0072e3; text-decoration:underline }

div.menu_container table tr.menu_selected td.refresh { visibility:visible; cursor:pointer }
div.menu_container table tr.menu_selected td.hide { visibility:visible; cursor:pointer }

div.menu_dai_icon { position:absolute; background:url(../img/iset_mini.gif) no-repeat -32px -291px; width:14px; height:14px; top:0 }
a:hover div.menu_dai_icon { background-position:-6px -291px; }
div.menu_dai_caption { position:absolute; left:14px; height:16px; top:0 }

/* -----------------------------------------------------------------------------
ユーザ右：ダッシュボード
----------------------------------------------------------------------------- */
table.dashboard_table th { background-color:#e8efff; color:#505f7e; text-align:center }
table.dashboard_table th, table.dashboard_table td { border:2px solid #ffffff; padding:2px 5px }
div.dashboard_pickups th { vertical-align:middle }
div.dashboard_pickups td.dashboard_pickups_left a:hover { border-right:1px solid #d8e1eb; }


/* -----------------------------------------------------------------------------
ユーザ右：セクションコンテンツ
----------------------------------------------------------------------------- */
.input_section { border-left:5px solid #ffffff; margin-bottom:40px; }
.input_children { border-left:5px solid #ffffff; margin-bottom:40px; }
.section_icon { width:32px !important; padding:0 !important; vertical-align:top !important; }
.section_icon div { background:url(../img/iset_cmd.gif) no-repeat; width:32px; height:32px !important; margin:0; padding:0; top:0 }
.section_title .updator { letter-spacing:0px; font-size:11px; color:#c4d1e1; text-align:right } /* タイトル 最終保存者 */
th.profile_head_emp_info { font-size:12px; width:150px; color:#c4d1e1 } /* タイトル職員名 */
.finder_result_section { margin-top:5px; } /* 検索の結果一覧を表示する場所 */
table.table_ym_input td { padding:0 } /* 年月入力ボックス */
table.table_ym_input th { font-size:12px; vertical-align:bottom; padding:0 6px 0 2px } /* 年月入力ボックス */
option.select_defval { background-color:#ffffff; } /* プルダウン デフォルト状態 */
img.is_hissu { position:absolute; left:-2px; top:-3px; width:7px; height:8px } /* 必須アスタリスク */
div.hide_box { background-color:#dddddd; border:1px solid #cccccc } /* 秘匿項目 */
table.table_layout_block { margin-bottom:7px; height:20px; }
table.table_layout_block th, table.table_layout_block td { vertical-align:middle; height:20px; }
div.label_box { padding:2px 3px; height:18px; line-height:17px; border:1px solid #dddddd }
table.table_layout_block th.label_box div { text-align:right; padding:0 3px 0 6px; }
th.label_box, table.table_layout_block th { color:#505f7e }
span.label_box { color:#010101; padding:0 2px }
.value_diff { background-image:url(../img/bk_tbox_y.png) !important; background-color:#ffffa1 !important } /* 入力を黄色に */
.value_error { background-image:url(../img/bk_tbox_re.png) !important; background-color:#ffcaca !important } /* 入力を赤に */
tr.row_selected { background:url(../img/row_selected.gif) 0 bottom repeat-x } /* 赤線 */

/* -----------------------------------------------------------------------------
ユーザ左：職員プロファイルの隠し詳細パネル関連
----------------------------------------------------------------------------- */
div.emp_icon_syo { margin-top:2px; background:url(../img/iset_emp20.gif) no-repeat -42px -16px; padding:0 0 0 25px; line-height:16px; }
div.emp_icon_kan { margin-top:2px; background:url(../img/iset_emp20.gif) no-repeat -42px -32px; padding:0 0 0 25px; line-height:16px; }
div.emp_icon_jin { margin-top:2px; background:url(../img/iset_emp20.gif) no-repeat -42px -48px; padding:0 0 0 25px; line-height:16px; }
div.emp_icon_adm { margin-top:2px; background:url(../img/iset_emp20.gif) no-repeat -42px -64px; padding:0 0 0 25px; line-height:16px; }
div.emp_icon_nor { margin-top:2px; background:url(../img/iset_emp20.gif) no-repeat -42px   0px; padding:0 0 0 25px; line-height:16px; }
div.emp_icon_del { margin-top:2px; background:url(../img/iset_emp20.gif) no-repeat -42px -80px; padding:0 0 0 25px; line-height:16px; }

.div_concurrent { display:none }
.show_concurrent .div_concurrent { display:block }
.emp_info_link { display:block; width:21px; height:20px; padding:0; position:relative; overflow:hidden }

div.emp_icon_container, div.emp_icon_container div { background-image:url(../img/iset_emp20.gif); background-repeat:no-repeat; width:42px; height:16px; padding:0; position:absolute; padding:0  }
div.emp_icon_container { top:3px; }

a:hover .emp_icon_container { left:-21px }
div#sect_EmpInfo a { border-bottom:1px solid #eeeeee }

/* -----------------------------------------------------------------------------
利用検索条件の選択ダイアログ
----------------------------------------------------------------------------- */
a#popup_finder_selector { position:absolute; display:block; text-align:right; width:50px; height:14px; cursor:pointer; left:100px; background:url(../img/iset_menutitle.gif) no-repeat 35px -49px; border:0; color:#ffffff }
a#popup_finder_selector:hover { background-position: 35px -71px; background-color:#70abdc }
.authinfo_users { width:100% }
.authinfo_users th, .authinfo_users td { background:url(../img/bk_calendar.gif) repeat-x; padding:2px; border-top:1px solid #ffffff; border-bottom:1px solid #ffffff }
.authinfo_users strike { color:#ff9999 }

/* -----------------------------------------------------------------------------
承認状況ダイアログ
----------------------------------------------------------------------------- */
div.dialogInnerWorkflowInfoDialog { background:url(../img/iset_cmd.gif) no-repeat #1f5289 -32px -192px }
div.dialogInnerWorkflowInfoDialog span { padding-left:30px }

/* -----------------------------------------------------------------------------
アイコンつきリンク、アイコンつきDIV、アイコンボタン
----------------------------------------------------------------------------- */
.with_icon { display:block; padding-top:3px; padding-bottom:2px; background-position:0 7px; position:relative; line-height:16px; color:#000000 }
.with_icon img { position:absolute; background:url(../img/iset_mini.gif) no-repeat; width:16px; height:16px }
.with_icon div { padding-left:16px }

.with_icon img.tie_link1 { background-position:-3px -269px }
.with_icon img.tie_link2 { background-position:-28px -269px }

.with_icon img.profile_link { background-position:-30px -77px }
.with_icon:hover img.profile_link { background-position:-6px -77px }

.with_icon img.edit_link { background-position:-30px -51px }
.with_icon:hover img.edit_link { background-position:-6px -51px }

.with_icon img.find_link { background-position:-30px -99px }
.with_icon:hover img.find_link { background-position:-6px -99px }

.with_icon img.sinsei_link { background-position:-30px -123px }
.with_icon:hover img.sinsei_link { background-position:-6px -123px }

.with_icon img.syonin_s_link { background-position:-30px -147px }
.with_icon:hover img.syonin_s_link { background-position:-6px -147px }

.with_icon img.download_link { background-position:-30px -170px }
.with_icon:hover img.download_link { background-position:-6px -170px }

a.inline_icon { display:inline; position:relative; line-height:16px; color:#000000; }
a.inline_icon:hover { color:#2277ff }
a.inline_icon img { background:url(../img/iset_mini.gif) no-repeat; width:16px; height:16px; background:url(../img/iset_mini.gif) no-repeat }

.inline_icon img.download_link { background-position:-30px -170px }
.inline_icon:hover img.download_link { background-position:-6px -170px }

.kouho_btn { padding-left:2px; vertical-align:middle; width:18px; height:20px; background:url(../img/iset_mini.gif) -26px -244px no-repeat; border:0;  }
.kouho_btn:hover { background-position:-1px -244px }

td.syonin_link { vertical-align:middle; text-align:center; cursor:pointer; padding:0 }
td.syonin_link img { width:24px; height:24px; background:url(../img/iset_mini.gif) no-repeat -24px 0px }
td.syonin_link:hover img { background-position:0 0 }

td.delete_link { vertical-align:middle; text-align:center; cursor:pointer; padding:0 }
td.delete_link img { width:24px; height:24px; background:url(../img/iset_mini.gif) no-repeat -24px -24px }
td.delete_link:hover img { background-position:0 -24px }

td.edit_link { vertical-align:middle; text-align:center; cursor:pointer; padding:0 }
td.edit_link img { width:24px; height:24px; background:url(../img/iset_mini.gif) no-repeat -24px -48px }
td.edit_link:hover img { background-position:0 -48px }

a.baritess { background:url(../img/baritess16x16.png) 0 1px no-repeat; padding-left:18px; }

/* -----------------------------------------------------------------------------
一番上部、白背景のSPFロゴ、タイトル部分
----------------------------------------------------------------------------- */
div.window_title table td { font-weight:normal }
div.window_title td.app_closebtn { padding-top:2px }
div.window_title td.app_closebtn a { width:24px; height:24px; display:block; background:url(../img/close.gif) no-repeat }
div.window_title td.app_closebtn a:hover { background-position:0 -24px }

/* -----------------------------------------------------------------------------
ユーザ画面：タブ
----------------------------------------------------------------------------- */
div#tab_container * { line-height:1; font-size:12px; font-family:verdana }
div#tab_container span { padding:0 8px; color:#ffffff }
div#tab_container table { width:auto; text-align:left; margin:0 auto 0 0 }
div#tab_container table td { padding:0; height:26px }
div#tab_container table table { position:relative }
div#tab_container table td td { background:url(../img/iset_tab.png) no-repeat right -168px; padding:0 14px 0 0; vertical-align:top }
div#tab_container a { display:block; overflow:visible; position:absolute; cursor:pointer; color:#666666; }
div#tab_container a div { padding:9px 0 0 14px; background:url(../img/iset_tab.png) 0 0 no-repeat; overflow:hidden; text-align:left; height:18px; position:static}
div#tab_container a:hover div { background-position:0 -84px; color:#0072e3 }
div#tab_container table td.tab_value_diff a td { background-position:right -196px; }
div#tab_container table td.tab_value_diff a div { background-position:0 -28px; color:#888833 }
div#tab_container table td.tab_value_diff a:hover div { background-position:0 -112px; color:#888833 }
div#tab_container table td.tab_value_error a td { background-position:right -224px; }
div#tab_container table td.tab_value_error a div { background-position:0 -56px; color:#c65959 }
div#tab_container table td.tab_value_error a:hover div { background-position:0 -140px; color:#c65959 }

/* -----------------------------------------------------------------------------
ブルーの画面タイトルバー部分
----------------------------------------------------------------------------- */
.section_title { font-size:16px; background:url(../img/bk_sect_bar.gif) repeat-x 0 -8px #4a7bac; margin-bottom:4px; letter-spacing:2px; width:100%; line-height:16px; height:38px; color:#ffffff }
.section_title th { vertical-align:middle; }
.section_title th, .section_title td { padding:0 6px 5px 6px; }
.section_title th { text-align:left }
.section_title td { text-align:right }
.section_title span { font-weight:normal; padding-right:16px; letter-spacing:1px }
.section_title .button { width:60px }
.section_title .closebtn { padding:0; width:32px }
.section_title .closebtn a { display:block; width:32px; height:31px; color:#ffffff; background:url(../img/iset_cmd.gif) -32px 0 }
.section_title .closebtn a:hover { background-position: 0 0; }

.section_title .refreshbtn { padding:0; width:32px }
.section_title .refreshbtn a { display:block; width:32px; height:31px; color:#ffffff; background:url(../img/iset_cmd.gif) -32px -32px  }
.section_title .refreshbtn a:hover { background-position: 0 -32px; }

.section_title .upperbtn { padding:0; width:32px }
.section_title .upperbtn a { display:block; width:32px; height:31px; color:#ffffff; background:url(../img/iset_cmd.gif) -32px -64px  }
.section_title .upperbtn a:hover { background-position: 0 -64px; }

.section_title .singlebtn { padding:0; width:32px }
.section_title .singlebtn a { display:block; width:32px; height:31px; color:#ffffff; background:url(../img/iset_cmd.gif) -32px -96px  }
.section_title .singlebtn a:hover { background-position: 0 -96px; }

.section_title .helplink { width:32px; font-size:12px }
.section_title .helplink a { color:#ffffff; }

/* -----------------------------------------------------------------------------
カレンダ
----------------------------------------------------------------------------- */
.calendar_btn { padding-left:2px; vertical-align:middle; width:22px; height:20px; background:url(../img/calendar_link.gif) 2px 0 no-repeat; border:0;  }
#calendar_year_scroll a { float:left; width:110px; }
#td_calendar_date div { float:left; width:34px; height:20px; padding-top:13px  }
#td_calendar_date a { float:left; width:34px; height:25px }
.calendarDialog .ui-dialog-titlebar { display:none; }

#calendar_dialog_container { overflow:hidden }
#calendar_dialog_content a { background:url(../img/bk_calendar.gif) repeat-x; cursor:pointer; display:block; height:25px; line-height:25px; text-align:center; color:#000000 }
#calendar_dialog_content a:hover { color:#2277ff; text-decoration:underline }
#calendar_dialog_content a.cal_today { background-image:url(../img/bk_calendar_td.gif); color:#000000 }
#calendar_dialog_content a.cal_selected { background-image:url(../img/bk_calendar_on.gif); color:#ffffff }
#calendar_dialog_content a.calendar_other_month { color: #999999 }

/* -----------------------------------------------------------------------------
ページャボタン
----------------------------------------------------------------------------- */
table.pager_btn { width:200px }
table.pager_btn td { padding:0; height:24px }
table.pager_btn a { display:block; height:24px; width:32px; background:url(../img/iset_pager.gif) no-repeat; }
table.pager_btn td.pager_top { background-position: 0 0 }
table.pager_btn td.pager_prev a { background-position: -32px 0 }
table.pager_btn td.pager_move a { background-position: -64px 0 }
table.pager_btn td.pager_next a { background-position: -96px 0 }
table.pager_btn td.pager_last a { background-position: -128px 0 }
table.pager_btn td.pager_top_off a { background-position: 0 -52px}
table.pager_btn td.pager_prev_off a { background-position: -32px -52px }
table.pager_btn td.pager_move_off a { background-position: -64px -52px }
table.pager_btn td.pager_next_off a { background-position: -96px -52px }
table.pager_btn td.pager_last_off a { background-position: -128px -52px }

table.pager_btn td.pager_top  a.focussing { background-position: 0px -26px }
table.pager_btn td.pager_prev a.focussing { background-position: -32px -26px }
table.pager_btn td.pager_move a.focussing { background-position: -64px -26px }
table.pager_btn td.pager_next a.focussing { background-position: -96px -26px }
table.pager_btn td.pager_last a.focussing { background-position: -128px -26px }

table.pager_btn td.pager_top:hover a { background-position: 0px -78px !important }
table.pager_btn td.pager_prev:hover a { background-position: -32px -78px !important }
table.pager_btn td.pager_move:hover a { background-position: -64px -78px !important }
table.pager_btn td.pager_next:hover a { background-position: -96px -78px !important }
table.pager_btn td.pager_last:hover a { background-position: -128px -78px !important }

.rec_count { color:#777777; padding-top:3px }
.rec_count span { font-size:16px; color:#505f7e; padding:0 3px; }

/* -----------------------------------------------------------------------------
 ナビゲーション・ツールチップ
----------------------------------------------------------------------------- */
table#tblNavi { border:1px solid #404040; background-color:#606060; display:none; position:fixed; line-height:1.5; z-index:50000; color:#ffffff; font-size:12px }
table#tblNavi th, table#tblNavi td { vertical-align:top; padding:6px; letter-spacing:1px; text-align:left }
table#tblNavi th { font-weight:bold; }

/* -----------------------------------------------------------------------------
TinyMCE Content
----------------------------------------------------------------------------- */
div.tinymce_content table th, div.tinymce_content table td, body#tinymce table th, body#tinymce table td { border:1px solid #94acc5; padding:2px 4px }
div.tinymce_content table th, body#tinymce table th { background-color:#e8efff; color:#505f7e }

/* -----------------------------------------------------------------------------
UI Dialog
----------------------------------------------------------------------------- */
.ui-dialog { background-color:#ffffff }
.ui-dialog .ui-dialog-titlebar { padding:5px 4px; background-color:#4a7bac; font-size:14px; z-index:10 }
.ui-dialog .ui-dialog-titlebar button { border:0; background:url(../img/iset_cmd.gif) no-repeat -32px -2px #4a7bac; width:31px; padding:0; height:26px }
.ui-dialog .ui-dialog-titlebar button:hover { background-position:0 -2px }
.ui-widget-header { font-weight:normal; letter-spacing:2px }

.ui-dialog-buttonset { text-align:left; padding-left:10px; }
.ui-dialog .ui-dialog-content { padding:0 0.5em 0.5em 0.5em; overflow:hidden }
.ui-dialog .ui-button-icon-primary { display:none }

/* -----------------------------------------------------------------------------
印刷
----------------------------------------------------------------------------- */
body.print .print-none { display:none !important }
body.print .print-only { display:initial !important }
@media print {
    .print-none { display:none !important }
    .print-only { display:initial !important }
    div#div_user_content { overflow-y:auto; border:0 }
}