/* make drag container visible */
#drag{
    border: 0px;
    display: table;
}

/* table */
div#drag table {

}

/* table cells */
div#drag td{

}

/* drag object (DIV inside table cell) */
.drag{

    border: 0px;
    display: block !important;
    margin: 1px
}