@charset "euc-jp";

body {
    /*
        background-color: #f4dde4;
    */
}
form {
    margin-bottom: 10px;
}
button {
    white-space: nowrap;
}

/*  */
.header h1 {
    font-size: 1.2em;
    margin: 10px 0 5px 0;
}
.header p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.emp-header {
    background: #ffffff;
    background: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
    background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #e6e6e6, #ffffff);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#f6bfbc');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e6e6e6')";
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding: 0em 1.25em;
}
.emp-name {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}
.emp-class {
    text-align: right;
    font-size: 0.9em;
    padding-bottom: 5px;
}

/* timepicker */
.timepicker {
    background-color:#ffffff;
}
/* datepicker */
.datepicker {
    background-color:#ffffff;
}

.pointer-cursor {
    cursor: pointer;
}

/* テーブルレイアウト用 */
.ldr-table td {
    vertical-align: middle !important;
}
.ldr-table th {
    text-align: center !important;
    font-size: 12px;
}
.ldr-td-date {
    text-align: center !important;
    font-size: 12px;
    white-space: nowrap;
}
.ldr-td-date-bold {
    font-size: 1.2em;
    font-weight: bold;
}
.ldr-td-date-left {
    text-align: left !important;
    font-size: 12px;
    white-space: nowrap;
}
.ldr-td-level {
    text-align: center !important;
    font-size: 13px;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    white-space: nowrap;
}
.ldr-td-text {
    font-size: 12px;
    white-space: nowrap;
}
.ldr-td-name {
    text-align: center !important;
    font-size: 12px;
    white-space: nowrap;
}
.ldr-td-number {
    text-align: right !important;
    font-size: 12px;
    white-space: nowrap;
}
.ldr-td-status {
    text-align: center !important;
    font-size: 12px;
    white-space: nowrap;
}
.ldr-td-button {
    text-align: center !important;
    white-space: nowrap;
}
.ldr-td-text-left{
    font-size: 12px;
}
.ldr-td-text-center{
    text-align: center !important;
    font-size: 12px;
}
.ldr-td-vertical-label{
    text-align: center !important;
    vertical-align: middle;
    font-size: 12px;
    width: 40px;
    font-weight:bold;
}
.ldr-td-view-period{
    text-align: center !important;
    font-size: 12px;
    width:120px;
}
.ldr-td-view-from-to{
    text-align: center !important;
    font-size: 12px;
    width:250px;
}

table td {
    word-break: break-all;
}
/* ページャ幅上書き */
.pagination {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

/* theme上書き */
.modal.large {
    width: 800px;
    margin: 0 0 0 50px;
    left: 200px;
}
.modal.small {
    width: 500px;
    margin: 0px 0 0 -200px;
}
.modal.fade.in {
    top: 5%;
}
.modal-body {
    max-height: 600px;
}

/* レベル */
.ldr-level {
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Times New Roman", serif;
}
.ldr-roman {
    font-family: "Times New Roman", serif;
}

/* dragHandle */
.dragHandle {
    cursor: move;
}

/* input-xxlargeに合わせる */
.ldr-xxlarge {
    width: 530px;
}

.input-maxlarge {
    width: 95%;
    max-width: 1030px;
}

/* 子画面で右端まで表示させる */
.input-large-modal {
    width: 95%;
}
textarea[readonly]{
    color:#000;
    background-color: rgb(252, 252, 252);
}


.ldr-th-unit {
    color: #999;
    font-size: x-small;
    width: 20px;
    text-align: left;
}

/* 色合わせ用 */
.ldr-under-line {
    border-bottom: solid 1px #999;
}

/* 様式ボタン */
.ldr-form-widget-container {
    margin-top:0.5em;
    text-align: center;
}
.ldr-form-widget-container .ldr-form-widget {
    margin-right: 10px;
    float: left;
}
.ldr-form-widget-container .ldr-form-widget .ldr-form-button {
    position: relative;
}
.ldr-form-widget-container .ldr-form-widget .ldr-form-button .title {
    font-size: 1em;
}
.ldr-form-widget-container .ldr-form-widget .ldr-form-button .detail {
    font-size: 0.8em;
    color: #555;
    margin-top: -9px;
}

/* ダッシュボード ラダー申請 */
.ldr-block-widget-container {
    margin: 0.5em 0;
    text-align: center;
}
.ldr-block-widget-container .ldr-block-widget {
    float: left;
    margin: 0.5em 0.4em;
    padding: 0.5em 0.8em;
    position: relative;
    border: 1px solid #ccc;

    background: #eeeeee;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e3e3e3), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #e3e3e3, #ffffff);
    background: -moz-linear-gradient(center bottom, #e3e3e3 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #e3e3e3, #ffffff);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#f6bfbc');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e3e3e3')";
    -webkit-box-shadow: 1px 1px 0px #ffffff;
    -moz-box-shadow: 1px 1px 0px #ffffff;
    box-shadow: 1px 1px 0px #ffffff;
    text-shadow: 1px 1px 1px #fff;
}
.ldr-block-widget-container .ldr-block-widget .ldr-block-widget-header {
    font-size: 0.8em;
    margin-bottom: 3px;
}
.ldr-block-widget-container .ldr-block-widget .ldr-block-widget-body {
    font-size: 1.1em;
    font-weight: bold;
    height: 25px;
}
.ldr-stats-widget-datetime {
    font-size: 0.9em;
    line-height:15px;
}
.ldr-block-widget-body {
    min-width: 50px;
}

/* ダッシュボード ラダー進捗 */
.ldr-stats-widget-container {
    margin: 0.5em -5px;
    text-align: center;
}
.ldr-stats-widget-container .ldr-stats-widget {
    position: relative;
    float: left;
    padding: 0.2em 0.5em;
    margin: 0 1px;
    width:11%;
}
.ldr-stats-widget-container .ldr-stats-widget .ldr-stats-widget-header {
    font-size: 11px;
    color: grey;
    margin-bottom: 4px;
}
.ldr-stats-widget-container .ldr-stats-widget .ldr-stats-widget-body {
    font-size: 24px;
    font-weight: bold;
}
.ldr-stats-widget-container .ldr-stats-widget .ldr-stats-widget-body div {
    font-size: 12px;
    color: red;
    font-weight: normal;
}
.js-progress {
    cursor: pointer;
}

/* コメント */
.ldr-comment {

}
.ldr-comment .ldr-comment-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}
.ldr-comment .ldr-comment-body {
    font-size: 13px;
    border: 1px solid #ccc;
    padding: 5px;
}
.ldr-comment .ldr-comment-self {
    background-color: yellowgreen;
    margin-left:50px;
    float:right;
}
.ldr-comment .ldr-comment-other {
    margin-right:50px;
    float:left;
}
.ldr-comment .ldr-comment-date {
    font-size: 12px;
    color: #00f;
}

/* hr */
.ldr-hr {
    margin: 5px 0;
}

.ldr-indent {
    margin-left:15px;
}
.ldr-modal-dl-horizontal {
}
.ldr-modal-dl-horizontal dl{
}
.ldr-modal-dl-horizontal dt {
    width: 55px;
    margin-bottom: 5px;
}
.ldr-modal-dl-horizontal dd {
    margin-left: 75px;
    margin-bottom: 5px;
}

.ldr-info {
    margin: 5px 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.ldr-popover {
    font-size: 12px;
}

.ldr-empbox {
    border: 1px solid #ccc;
    margin: 10px 10px 0 0;
    padding: 5px;
    float:left;
    width: 500px;
}
.ldr-empbox .label {
    padding: 4px 5px;
}

.ldr-glbox {
    margin: 10px 10px 0 0;
    width: 700px;
}
.ldr-glbox .alert {
    margin-bottom: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.ldr-glbox-modal {
    margin: 0 10px 0 0;
}
.ldr-glbox-modal .alert {
    margin-bottom: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.ldr-emp-remove {
    margin-left: 5px;
    color: #fff;
}

.tt-dropdown-menu {
    background-color: #fff;
    width:600px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.tt-suggestion {
    font-size: 13px;
    line-height: 14px;
}

.tt-is-under-cursor {
    font-weight: bold;
}

p.text-error {
    margin: 5px 0;
}

/* popoverのタイトルを消す */
.popover-title {
    display: none;
}

/* animation の抑止 */
.no-transition {
    -webkit-transition: height 1ms;
    -moz-transition: height 1ms;
    -ms-transition: height 1ms;
    -o-transition: height 1ms;
    transition: height 1ms;
}

.ldr-uneditable {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    vertical-align: middle;
    background-color: #fafafa;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    min-height: 20px;/* データがないと潰れてしまうので追加 */
    word-break:break-all;
}

#modal_comment {
    width: 700px;
}

.js-head{
    cursor: pointer;
}
.ldr-ds-contents {
    margin: 0 0 5px 0;
    overflow: hidden;/* ie8不具合対策 */

}
.block-body.js-collapse {
    margin-top: 0em;
    margin-bottom: 0em;
    overflow: hidden;
}
.i_link {
    font-size: 15px;
}

.label-lv0{
    background-color:#4169E1;
}
.label-lv0[href]{
    background-color:#4169E1;
}
.badge-lv0{
    background-color:#4169E1;
}
.badge-lv0[href]{
    background-color:#4169E1;
}
#overlay{
    width: 100%;
    height:100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.6);
    vertical-align:middle;

    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000);    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";

}
div#nowload{
    /* background-image:url(../img/xxx.gif); */
    overflow:auto;
    height:100px;
    width:150px;
    margin:auto;
    margin-top: 100px;
    color: #90EE90;
    font-size:12px;
}
/* FullCalendar */
.fc-sat {
    color: blue;
}
.fc-sun {
    color: red;
}

.th_check {
    min-width: 60px;
}
/* 必須マーク */
span.required {
    vertical-align: middle;
    margin-bottom: 2px;
    font-size: 0.8em;
    font-weight: normal;
}

.placement-lv-count {
    min-width:13px;
    width:auto;
}

.canvas {
    height: 240px;
}

.ldr-trn-row {
    margin-top: 5px;
}

.ldr-trn-block {
    padding: 5px 10px;
}

.ldr-trn-title {
    font-size: 20px;
    font-weight: bold;
}

.js-ldr-erase {
    background-color: #fff !important;
}
.js-ldr-erase > a {
    text-decoration-line: none;
}

.btn-purple {
    background-color: hsl(296, 59%, 26%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cf64d7", endColorstr="#641b69");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#cf64d7), to(#641b69));
    background-image: -moz-linear-gradient(top, #cf64d7, #641b69);
    background-image: -ms-linear-gradient(top, #cf64d7, #641b69);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cf64d7), color-stop(100%, #641b69));
    background-image: -webkit-linear-gradient(top, #cf64d7, #641b69);
    background-image: -o-linear-gradient(top, #cf64d7, #641b69);
    background-image: linear-gradient(#cf64d7, #641b69);
    border-color: #641b69 #641b69 hsl(296, 59%, 17%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.alert-primary {
    color: #4c52ef;
    background-color: #a2d6f9;
    border-color: #a1baed;
}

.alert-primary h4 {
    color: #4c52ef;
}

.alert-purple {
    color: #912dc4;
    background-color: #ebcff7;
    border-color: #b7ccf7;
}

.alert-purple h4 {
    color: #912dc4;
}

.alert-default {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #c9c9c9;
}

.alert-default h4 {
    color: #333333;
}

.bootstrap-datetimepicker-widget .disabled {
    filter: none;
}

/* typeahead */
.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    height: 30px;
    padding: 8px 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    outline: none;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 5px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.bar-change {
    cursor: pointer;
    color: blue;
}
.bar {
    position: relative;
}
.bar1 {
    position: absolute;
    top:2px;
    left:0;
    right: 0;
    z-index: 1;
    display: block;
    height: 80%;
    background-color:#FFB6C1;
    width: 100%;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}
.bar2 {
    position: absolute;
    top:2px;
    left:0;
    right: 0;
    z-index: 1;
    display: block;
    height: 80%;
    background-color:#FFB6C1;
    width: 75%;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}
.bar3 {
    position: absolute;
    top:2px;
    left:0;
    right: 0;
    z-index: 1;
    display: block;
    height: 80%;
    background-color:#FFB6C1;
    width: 50%;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}
.bar4 {
    position: absolute;
    top:2px;
    left:0;
    right: 0;
    z-index: 1;
    display: block;
    height: 80%;
    background-color:#FFB6C1;
    width: 25%;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}
.barX {
    position: absolute;
    top:2px;
    left:0;
    right: 0;
    z-index: 1;
    display: block;
    height: 80%;
    background-color:#FFB6C1;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}
.badge-ldr4-lv0, .badge-ldr4-lv0[href], .label-ldr4-lv0, .label-ldr4-lv0[href] { background-color: #b8b9cc; font-weight:normal; }
.badge-ldr4-lv1, .badge-ldr4-lv1[href], .label-ldr4-lv1, .label-ldr4-lv1[href] { background-color: #a3a7cc; font-weight:normal; }
.badge-ldr4-lv2, .badge-ldr4-lv2[href], .label-ldr4-lv2, .label-ldr4-lv2[href] { background-color: #666fcc; font-weight:normal; }
.badge-ldr4-lv3, .badge-ldr4-lv3[href], .label-ldr4-lv3, .label-ldr4-lv3[href] { background-color: #2936cc; font-weight:normal; }
.badge-ldr4-lv4, .badge-ldr4-lv4[href], .label-ldr4-lv4, .label-ldr4-lv4[href] { background-color: #1424cc; font-weight:normal; }
.badge-ldr4-lv5, .badge-ldr4-lv5[href], .label-ldr4-lv5, .label-ldr4-lv5[href] { background-color: #0011cc; font-weight:normal; }
.badge-ldr4-lv6, .badge-ldr4-lv6[href], .label-ldr4-lv6, .label-ldr4-lv6[href] { background-color: #0015ff; font-weight:normal; }

.badge-ldr3-lv0, .badge-ldr3-lv0[href], .label-ldr3-lv0, .label-ldr3-lv0[href] { background-color: #bdc3c7; font-weight:normal; }
.badge-ldr3-lv1, .badge-ldr3-lv1[href], .label-ldr3-lv1, .label-ldr3-lv1[href] { background-color: #f39c12; font-weight:normal; }
.badge-ldr3-lv2, .badge-ldr3-lv2[href], .label-ldr3-lv2, .label-ldr3-lv2[href] { background-color: #e67e22; font-weight:normal; }
.badge-ldr3-lv3, .badge-ldr3-lv3[href], .label-ldr3-lv3, .label-ldr3-lv3[href] { background-color: #d35400; font-weight:normal; }
.badge-ldr3-lv4, .badge-ldr3-lv4[href], .label-ldr3-lv4, .label-ldr3-lv4[href] { background-color: #e74c3c; font-weight:normal; }
.badge-ldr3-lv5, .badge-ldr3-lv5[href], .label-ldr3-lv5, .label-ldr3-lv5[href] { background-color: #c0392b; font-weight:normal; }
.badge-ldr3-lv6, .badge-ldr3-lv6[href], .label-ldr3-lv6, .label-ldr3-lv6[href] { background-color: #c0392b; font-weight:normal; }

.badge-ldr2-lv0, .badge-ldr2-lv0[href], .label-ldr2-lv0, .label-ldr2-lv0[href] { background-color: #bdc3c7; font-weight:normal; }
.badge-ldr2-lv1, .badge-ldr2-lv1[href], .label-ldr2-lv1, .label-ldr2-lv1[href] { background-color: #16a085; font-weight:normal; }
.badge-ldr2-lv2, .badge-ldr2-lv2[href], .label-ldr2-lv2, .label-ldr2-lv2[href] { background-color: #2ecc71; font-weight:normal; }
.badge-ldr2-lv3, .badge-ldr2-lv3[href], .label-ldr2-lv3, .label-ldr2-lv3[href] { background-color: #27ae60; font-weight:normal; }
.badge-ldr2-lv4, .badge-ldr2-lv4[href], .label-ldr2-lv4, .label-ldr2-lv4[href] { background-color: #3498db; font-weight:normal; }
.badge-ldr2-lv5, .badge-ldr2-lv5[href], .label-ldr2-lv5, .label-ldr2-lv5[href] { background-color: #2980b9; font-weight:normal; }
.badge-ldr2-lv6, .badge-ldr2-lv6[href], .label-ldr2-lv6, .label-ldr2-lv6[href] { background-color: #2980b9; font-weight:normal; }

.badge-ldr1-lv0, .badge-ldr1-lv0[href], .label-ldr1-lv0, .label-ldr1-lv0[href] { background-color: #bdc3c7; font-weight:normal; }
.badge-ldr1-lv1, .badge-ldr1-lv1[href], .label-ldr1-lv1, .label-ldr1-lv1[href] { background-color: #f39c12; font-weight:normal; }
.badge-ldr1-lv2, .badge-ldr1-lv2[href], .label-ldr1-lv2, .label-ldr1-lv2[href] { background-color: #e67e22; font-weight:normal; }
.badge-ldr1-lv3, .badge-ldr1-lv3[href], .label-ldr1-lv3, .label-ldr1-lv3[href] { background-color: #d35400; font-weight:normal; }
.badge-ldr1-lv4, .badge-ldr1-lv4[href], .label-ldr1-lv4, .label-ldr1-lv4[href] { background-color: #e74c3c; font-weight:normal; }
.badge-ldr1-lv5, .badge-ldr1-lv5[href], .label-ldr1-lv5, .label-ldr1-lv5[href] { background-color: #c0392b; font-weight:normal; }
.badge-ldr1-lv6, .badge-ldr1-lv6[href], .label-ldr1-lv6, .label-ldr1-lv6[href] { background-color: #c0392b; font-weight:normal; }
