@page {
    margin: 2cm 0.5cm;
}

body {
    font-size: 10pt;
    color: #000000;
    background-color: #FFFFFF;
    border: 0;
    margin: 0 10px 0 0;
    padding: 0;
}

table td,
table th {
    font-size: 7pt !important;
}
a:link,
a:visited {
    color: #000000;
}

.container-fluid {
    border: 0;
    margin: 0;
    padding: 0;
}

.block {
    page-break-inside: avoid;
}

.block-heading {
    line-height: 2em;
    font-size: 1em;
    page-break-after: avoid;
}

.block-body {
    margin: 0.5em;
}

.block-body table {
    margin: 0;
}

.table {
    margin: 0;
}
.table th,
.table td {
    line-height: 1em;
}

.canvas {
    height: 150px;
}

/***
 * WinXP-IE8 + excanvasで印刷できない問題の対応
 * http://frmmpgit.blog.fc2.com/blog-entry-177.html
 */
canvas div ~ div {
    display: none !important;
}