<input type="hidden" id="move_pager" name="move_pager" value="">
<input type="hidden" id="page_no" name="page_no" value="<{$page_no}>">
<div class="pagination pull-right">
    <div id="pager"></div>
</div>
&nbsp;<{*← firefoxでレイアウトが崩れるを防ぐ*}>
