div.clear {
    clear: both;
    margin: 0;
    padding: 0;
}
table.list {
    border-collapse: collapse;
    border: 1px solid #5279a5;
    margin-bottom: 10px;
}
table.list tr td {
    border: 1px solid #5279a5;
    font-size: 12px;
    padding: 3px 5px;
}
table.list tr td.center {
    text-align: center;
}
table.list tr td.hover {
    background-color: #FFFFCC;
}
table.list thead {
    background-color: #f6f9ff;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}
div.pulldown {
    margin: 0 0 5px 5px;
    padding: 0;
    font-size: 14px;
    float:left;
    height:25px;
}
div.change_switch {
    margin: 0 0 5px 5px;
    padding: 0;
    font-size: 14px;
}
input.num {
    text-align: right;
    ime-mode: disabled;
}