.job-select {
    border-collapse: collapse;
    margin: 5px 10px 30px 10px;
}
.job-pattern {
    border-collapse: collapse;
    margin: 5px 10px 30px 10px;
    border: 1px solid black;
}
.job-pattern td {
    border: #5279a5 solid 1px;
}
.job-pattern td td {
    border-width: 0;
}
.listHeader {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 10px 5px 10px;
}
button.submit {
    margin: 5px 10px;
}
button.select {
    display: block;
    width: 80px;
    margin: 20px 50px;
}
select.select {
    width: 200px;
}
select.select option.disabled {
    background-color: #ccc;
}