<?
require_once("common.php"); // 読込みと同時にログイン判別
if(!$EAL[SELF_USER_AUTH_FLG]) c2ShowAlertAndGotoLoginPageAndDie("閲覧権限がありません。"); // ﾛｸﾞｲﾝ者にspf権限が無ければﾛｸﾞｲﾝﾍﾟｰｼﾞへ強制送還するJS発行

//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
?>
<? c2env::echoStaticHtmlTag("HTML5_DOCTYPE_HTML"); ?>
<? c2env::echoStaticHtmlTag("HTML5_HEAD_META"); ?>
<title>CoMedix <?=SELF_APPNAME?> - ヘルプ</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<style type="text/css">
</style>
<script type="text/javascript" src="../js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/JavaScript">
$.ajaxSettings.type = "POST";
$.ajaxSettings.async = false;
function contentPrint() {}
</script>
</head>
<body><div id="CLIENT_FRAME_CONTENT" pageBottomMargin="0" parentBodyOverflowY="hidden" thisBodyOverflowY="hidden" thisBodyOverflowX="hidden">


<div class="window_title" style="background-color:#ffffff;">
    <table cellspacing="0" cellpadding="0" style="width:100%"><tr>
        <th><nobr><?=SELF_APPNAME?>　ヘルプ</nobr></th>
        <td width="80"><button type="button" oncilck="contentPrint()">印刷</button></td>
    </tr></table>
</div>




<? //============================================================================================ ?>
<? // 左側：メニュー                                                                              ?>
<? //============================================================================================ ?>
<table cellspacing="0" cellpadding="0" style="width:100%" id="main_table"><tr><td style="width:170px">
<div style="overflow-y:scroll" id="div_menu_wrapper">
<div style="padding-bottom:20px">



    <div style="padding:0 5px 5px 0;" class="div_menu">
        <div style="padding:3px; background-color:#1f5289; border-bottom:1px solid #c0cfe0; color:#ffffff; border-top:1px solid #dddddd">申請・受付</div>
        <div class="menu_container" id="menu_Apply_container" style="padding-top:3px">
            <table cellspacing="0" cellpadding="0"><tr id="menu_Dashboard">
                <td class="refresh" onclick="showSummarySect('Dashboard')" navi="セクションの最新表示 ⇒ セクションへスクロールのみ"></td>
                <td class="move" onclick="moveSummarySect('Dashboard')" navi="セクションへスクロールのみ（非表示状態なら最新表示）"><nobr>ダッシュボード</nobr></td>
                <td class="hide" onclick="closeSection('Dashboard')" navi="セクションを閉じる"></td>
            </table>

            <table cellspacing="0" cellpadding="0"><tr id="menu_ApplySinsei">
                <td class="refresh" onclick="showSummarySect('ApplySinsei')" navi="セクションの最新表示 ⇒ セクションへスクロールのみ"></td>
                <td class="move" onclick="moveSummarySect('ApplySinsei')" navi="セクションへスクロールのみ（非表示状態なら最新表示）"><nobr>申請一覧</nobr></td>
                <td class="hide" onclick="closeSection('ApplySinsei')" navi="セクションを閉じる"></td>
            </table>

            <? if ($EAL[SELF_ADMIN_AUTH_FLG]) { ?>
            <table cellspacing="0" cellpadding="0"><tr id="menu_ApplyUketuke">
                <td class="refresh" onclick="showSummarySect('ApplyUketuke')" navi="セクションの最新表示 ⇒ セクションへスクロールのみ"></td>
                <td class="move" onclick="moveSummarySect('ApplyUketuke')" navi="セクションへスクロールのみ（非表示状態なら最新表示）"><nobr>受付一覧</nobr></td>
                <td class="hide" onclick="closeSection('ApplyUketuke')" navi="セクションを閉じる"></td>
            </table>
            <? } ?>
        </div>
    </div>


    <? if ($kensaku_disp) { ?>
    <div style="padding:5px 5px 5px 0;" class="div_menu">
        <div style="padding:3px; background-color:#1f5289; border-bottom:1px solid #c0cfe0; color:#ffffff; border-top:1px solid #dddddd">検索</div>
        <div class="menu_container" style="padding-top:3px">
            <table cellspacing="0" cellpadding="0"><tr id="menu_Kensaku">
                <td class="refresh" onclick="showSummarySect('Kensaku',lastSummaryCallOptions['Kensaku'])" navi="セクションの最新表示 ⇒ セクションへスクロールのみ"></td>
                <td class="move" onclick="moveSummarySect('Kensaku')" navi="セクションへスクロールのみ（非表示状態なら最新表示）">検索</td>
                <td class="hide" onclick="closeSection('Kensaku')" navi="セクションを閉じる"></td>
            </table>

            <!-- table cellspacing="0" cellpadding="0"><tr id="menu_KensakuResult" style="display:none">
                <td class="refresh" onclick="showSummarySect('KensakuResult')" navi="セクションの最新表示 ⇒ セクションへスクロールのみ"></td>
                <td class="move" onclick="moveSummarySect('KensakuResult')">⇒検索結果</td>
                <td class="hide" onclick="closeSection('KensakuResult')" navi="セクションを閉じる"></td>
            </table -->
        </div>
    </div>
    <? } ?>


    <?
        //--------------------------------------------------
        // 対象者の個人情報
        //--------------------------------------------------
    ?>
    <div style="padding:5px 5px 0 0;">
        <? // ここに個人情報 ?>
        <div style="background-color:#1f5289; padding:3px; color:#ffffff; border-bottom:1px solid #c0cfe0; border-top:1px solid #dddddd">職員プロファイル</div>
        <select id="ope_emp_id_selector" style="width:150px" onchange="showSummarySect('EmpInfo', '&emp_id='+this.value, 1)">
        <option value="<?=hh(C2_LOGIN_EMP_ID)?>"><?=hh(C2_LOGIN_EMP_LT_NM." ".C2_LOGIN_EMP_FT_NM)?></option>
        </select>
        <div id="sect_EmpInfo" class="menu_title"></div>
    </div>


    <div style="padding:5px 5px 5px 0;" class="div_menu">
    <?
        //--------------------------------------------------
        // 個別プロファイルメニュー
        //--------------------------------------------------
        foreach ($menuList as $dai_muid => $crows) {
            $menuRow = $menuRows[$dai_muid];
            if (!count(isDispOrEditable("display", $loginEmpmstRow, $menuRow))) continue;
            echo '<a href="javascript:void(0)" onclick="toggleNode(this.id)" id="menu_DaiMenu'.$dai_muid.'">';
            echo '<nobr><span>▼</span>'.hh($menuRow["menu_label"])."</nobr></a>\n";
            echo '<div class="menu_container" id="menu_DaiMenu'.$dai_muid.'_container" style="display:none">'."\n";
            foreach ($crows as $chu_muid => $srows) {
                $menuRow = $menuRows[$chu_muid];
                if (!count(isDispOrEditable("display", $loginEmpmstRow, $menuRow))) continue;

                echo '<table cellspacing="0" cellpadding="0"><tr id="menu_Menu'.$chu_muid.'" muid="'.$chu_muid.'">';
                echo '  <td class="refresh" onclick="showBSect(\''.$chu_muid.'\')" navi="セクションの最新表示 ⇒ セクションへスクロールのみ"></td>';
                echo '  <td class="move" onclick="moveBSect(\''.$chu_muid.'\')" navi="セクションへスクロールのみ（非表示状態なら最新表示）"><nobr>'.hh($menuRow["menu_label"]).'</nobr></td>';
                echo '  <td class="hide" onclick="closeSection(\'Menu'.$chu_muid.'\')" navi="セクションを閉じる"></td>';
                echo '</table>'."\n";

                echo '<div class="menu_container" id="menu_Menu'.$chu_muid.'_container" style="display:none">'."\n";
                foreach ($srows as $syo_muid) {
                    $menuRow = $menuRows[$syo_muid];
                    if (!count(isDispOrEditable("display", $loginEmpmstRow, $menuRow))) continue;

                    echo '<table cellspacing="0" cellpadding="0"><tr id="menu_Menu'.$syo_muid.'" muid="'.$syo_muid.'">';
                    echo '  <td class="refresh" onclick="showBSect(\''.$syo_muid.'\')" navi="セクションの最新表示 ⇒ セクションへスクロールのみ"></td>';
                    echo '  <td class="move" onclick="moveBSect(\''.$syo_muid.'\')" navi="セクションへスクロールのみ（非表示状態なら最新表示）"><nobr>'.hh($menuRow["menu_label"]).'</nobr></td>';
                    echo '  <td class="hide" onclick="closeSection(\'Menu'.$syo_muid.'\')" navi="セクションを閉じる"></td>';
                    echo '</table>'."\n";

                }
                echo '</div>';
            }
            echo '</div>';
        }
    ?>
    </div>
</div>
</div>
</td>



<? //============================================================================================ ?>
<? // 右側：メインコンテンツ                                                                      ?>
<? //============================================================================================ ?>
<td>
<div id="div_content" style="padding:0 5px; overflow-y:scroll; border-top:1px solid #dddddd">
    <div id="div_profile_receive_stocker" style="display:none; border:2px solid #ff0000"></div>
    <div class="input_section" id="sect_Dashboard"    style="display:none;"></div>
    <div class="input_section" id="sect_ApplySinsei"  style="display:none;"></div>
    <div class="input_section" id="sect_ApplyUketuke" style="display:none;"></div>
    <div class="input_section" id="sect_Kensaku"      style="display:none; margin-bottom:10px;"></div>
    <?
        //--------------------------------------------------
        // 個人プロファイル群のコンテンツコンテナ
        //--------------------------------------------------
        foreach ($menuList as $dai_muid => $crows) {
            echo '<div class="div_content input_section div_dai" id="sect_DaiMenu'.$dai_muid.'">'."\n";
            foreach ($crows as $chu_muid => $srows) {
                echo '<div class="input_section" id="sect_Menu'.$chu_muid.'" style="display:none;"></div>'."\n";
            }
            echo "</div>\n";
        }
    ?>
    <div id="cont_margin">&nbsp;</div>
</div>

</td></tr></table>
<? // 右側おわり ?>


</div><!-- //CLIENT_FRAME_CONTENT -->



<div style="position:absolute">
    <div id="spfAssistDialog"></div>
    <div id="spfDialog"></div>
    <div id="imageDialog"></div>
</div>

</body>
</html>