<?
require_once("../common.php"); // 読込みと同時にログイン判別
if(!$EAL[SELF_USER_AUTH_FLG]) c2ShowAlertAndGotoLoginPageAndDie("閲覧権限がありません。"); // ﾛｸﾞｲﾝ者にspf権限が無ければﾛｸﾞｲﾝﾍﾟｰｼﾞへ強制送還するJS発行

//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
?>
<? c2env::echoStaticHtmlTag("HTML5_DOCTYPE_HTML"); ?>
<? c2env::echoStaticHtmlTag("HTML5_HEAD_META"); ?>
<title>CoMedix <?=SELF_APPNAME?> - ヘルプ</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<style type="text/css">
    div.menu_container a { display:block; padding-top:3px }
    div.menu_container a.indent1 { padding-left:12px }
    div.menu_container h1 { font-size:13px; padding:8px 0 0 0; margin:0 }
    div.help_title { height:28px; line-height:26px }
    .section_title th.az { background-color:#1f5289; color:#ffffff; font-size:12px; width:40px; text-align:center }
    div.kiji { padding:10px 0 0 50px }
    a.anchor { margin-bottom:32px; display:block;  }
</style>
<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/JavaScript">
$.ajaxSettings.type = "POST";
$.ajaxSettings.async = false;
function contentPrint() {}
</script>
</head>
<body><div id="CLIENT_FRAME_CONTENT" pageBottomMargin="0" parentBodyOverflowY="hidden" thisBodyOverflowY="hidden" thisBodyOverflowX="hidden">


<? //============================================================================================ ?>
<? // 上側：タイトルヘッダ                                                                        ?>
<? //============================================================================================ ?>
<div class="window_title" style="background-color:#ffffff; position:fixed; width:100%;">
    <table cellspacing="0" cellpadding="0" style="width:100%"><tr>
        <th class="pankuzu"><nobr><?=SELF_APPNAME?>　管理画面ヘルプ</nobr></th>
        <td width="80" style="padding-right:5px"><button type="button" oncilck="contentPrint()">印刷</button></td>
    </tr></table>
</div>




<? //============================================================================================ ?>
<? // 左側：メニュー                                                                              ?>
<? //============================================================================================ ?>
<div style="position:fixed; top:32px; left:5px; width:175px; border-right:1px dashed #bbccdd">
<div style="width:170px;">
    <div style="padding:3px; background-color:#1f5289; border-bottom:1px solid #c0cfe0; color:#ffffff; border-top:1px solid #dddddd">インデックス</div>

    <div class="menu_container" id="menu_Apply_container" style="padding:10px 5px 10px 0">
        <div style="color:#0c967d; border-bottom:1px solid #0c967d; padding-bottom:3px">■操作説明</div>
        <h1><nobr>1:メニューの操作</nobr></h1>
        <a href="#adminmenu_1a" class="indent1" id="menu_mst_menu"><nobr>a:メニューの追加</nobr></a>
        <a href="#adminmenu_1b" class="indent1" id="menu_mst_menu"><nobr>b:メニューの削除</nobr></a>
        <h1><nobr>2:一般入力項目の操作</nobr></h1>
        <a href="#adminmenu_2a" class="indent1" id="menu_mst_menu"><nobr>a:一般入力項目の追加</nobr></a>
        <a href="#adminmenu_2b" class="indent1" id="menu_mst_menu"><nobr>b:一般入力項目の設定変更</nobr></a>
        <a href="#adminmenu_2c" class="indent1" id="menu_mst_menu"><nobr>c:一般入力項目の削除</nobr></a>
        <h1><nobr>3:リスト項目の操作</nobr></h1>
        <a href="#adminmenu_3a" class="indent1" id="menu_mst_menu"><nobr>a:リスト項目の追加</nobr></a>
        <a href="#adminmenu_3b" class="indent1" id="menu_mst_menu"><nobr>b:リスト項目の設定変更</nobr></a>
        <a href="#adminmenu_3c" class="indent1" id="menu_mst_menu"><nobr>c:リスト項目の削除</nobr></a>
        <h1><nobr>4:評価項目の操作</nobr></h1>
        <a href="#adminmenu_4a" class="indent1" id="menu_mst_menu"><nobr>a:評価項目の追加</nobr></a>
        <a href="#adminmenu_4b" class="indent1" id="menu_mst_menu"><nobr>b:評価項目の設定変更</nobr></a>
        <a href="#adminmenu_4c" class="indent1" id="menu_mst_menu"><nobr>c:評価項目の削除</nobr></a>
        <h1><nobr>5:メッセージ通知の設定</nobr></h1>
        <a href="#adminmenu_5a" class="indent1" id="menu_mst_menu"><nobr>a:表示内容の操作</nobr></a>
        <a href="#adminmenu_5b" class="indent1" id="menu_mst_menu"><nobr>b:失効期限の操作</nobr></a>
        <h1><nobr>6:権限設定</nobr></h1>
        <a href="#adminmenu_6a" class="indent1" id="menu_mst_menu"><nobr>a:権限について</nobr></a>
        <a href="#adminmenu_6b" class="indent1" id="menu_mst_menu"><nobr>b:権限の操作</nobr></a>
        <h1><nobr>7:検索設定の操作</nobr></h1>
        <a href="#adminmenu_7a" class="indent1" id="menu_mst_menu"><nobr>a:検索設定の追加</nobr></a>
        <a href="#adminmenu_7b" class="indent1" id="menu_mst_menu"><nobr>b:検索設定の変更</nobr></a>
        <a href="#adminmenu_7c" class="indent1" id="menu_mst_menu"><nobr>c:検索設定の削除</nobr></a>

        <div style="padding-top:15px; color:#0c967d; border-bottom:1px solid #0c967d; padding-bottom:3px">■機能説明</div>
        <a href="#adminmenu_A" id="menu_mst_menu"><nobr>A:メニュー構成</nobr></a>
        <a href="#adminmenu_B" id="menu_mst_ippan">B:基本マスタ</a>
        <a href="#adminmenu_C" id="menu_mst_field_struct">C:一般入力項目</a>
        <a href="#adminmenu_D" id="menu_mst_hyouka">D:評価内容</a>
        <a href="#adminmenu_E" id="menu_mst_list_struct">E:リスト項目</a>
        <a href="#adminmenu_F" id="menu_mst_total_layout"><nobr>F:メニュー内容構成</nobr></a>
        <a href="#adminmenu_G" id="menu_mst_kensaku">G:検索条件</a>
        <a href="#adminmenu_H" id="menu_mst_appr"><nobr>H:承認構成</nobr></a>
        <a href="#adminmenu_I" id="menu_mst_kigen"><nobr>I:メッセージ通知</nobr></a>
        <a href="#adminmenu_J" id="menu_mst_kigen"><nobr>J:環境設定</nobr></a>
    </div>
</div>
</div>




<? //============================================================================================ ?>
<? // 右側：メインコンテンツ                                                                      ?>
<? //============================================================================================ ?>
<div id="div_content" style="padding:2px 5px 30px 185px">



    <a class="anchor" name="adminmenu_1a"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">1a</th><th><nobr>メニューの追加</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>

    <a class="anchor" name="adminmenu_1b"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">1b</th><th><nobr>メニューの削除</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>

    <a class="anchor" name="adminmenu_2a"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">2a</th><th><nobr>一般入力項目の追加</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>

    <a class="anchor" name="adminmenu_2b"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">2b</th><th><nobr>一般入力項目の設定変更</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>

    <a class="anchor" name="adminmenu_2c"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">2c</th><th><nobr>一般入力項目の削除</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>

    <a class="anchor" name="adminmenu_3a"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">3a</th><th><nobr>リスト項目の追加</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_3b"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">3b</th><th><nobr>リスト項目の設定変更</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_3c"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">3c</th><th><nobr>リスト項目の削除</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_4a"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">4a</th><th><nobr>評価項目の追加</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_4b"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">4b</th><th><nobr>評価項目の設定変更</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_4c"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">4c</th><th><nobr>評価項目の削除</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>

    <a class="anchor" name="adminmenu_5a"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">5a</th><th><nobr>表示内容の操作</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_5b"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">5b</th><th><nobr>失効期限の操作</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_6a"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">6a</th><th><nobr>権限について</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_6b"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">6b</th><th><nobr>権限の操作</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>



    <a class="anchor" name="adminmenu_7a"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">7a</th><th><nobr>検索設定の追加</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_7b"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">7b</th><th><nobr>検索設定の変更</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_7c"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">7c</th><th><nobr>検索設定の削除</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_A"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">A</th><th><nobr>メニュー構成</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_B"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">B</th><th><nobr>基本マスタ</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_C"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">C</th><th><nobr>一般入力項目</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_D"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">D</th><th><nobr>評価内容</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_E"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">E</th><th><nobr>リスト項</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_F"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">F</th><th><nobr>メニュー内容構成</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_G"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">G</th><th><nobr>検索条件</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_H"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">H</th><th><nobr>承認構成</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_I"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">I</th><th><nobr>メッセージ通知</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>


    <a class="anchor" name="adminmenu_J"></a>
    <div class="section_title help_title">
        <table cellspacing="0" cellpadding="0" class="section_title"><tr><th class="az">J</th><th><nobr>環境設定</nobr></th></tr></table>
    </div>
    <div class="kiji">
    </div>





    <ul class="main">
        <li></li>
    </ul>






</div>
<? // 右側おわり ?>


</div><!-- //CLIENT_FRAME_CONTENT -->



</body>
</html>