@charset "euc-jp";

/* -----------------------------------------------------------------------------
simple tag
----------------------------------------------------------------------------- */
* { font-family:Verdana, "メイリオ" }
html { overflow-y:scroll; height:100%; }
body { margin:0; padding:0; height:100%; }
body, table, textarea, input, select { font-size:13px; letter-spacing:0 }
form { margin:0; padding:0; }
body, table, textarea { line-height:1.3 }
table { border:0; border-collapse:collapse; }
th, td { padding:0; vertical-align:top; font-weight:normal; border:0; }
img { border:0; margin:0; padding:0; vertical-align:bottom; }
label { cursor:pointer; white-space:nowrap; border:1px solid transparent }
body.is_pc label:hover { background-color:#ffff99 }
span { padding:0 2px }
body.is_pc label.reverse:hover { background-color:#ff8866 }
textarea, select { margin:0; }
select { padding:1px; }
button { cursor:pointer; white-space:nowrap; height:25px; line-height:13px; padding:2px; overflow:hidden; font-size:14px }
button.w60 { width:60px }
input, textarea { padding:3px; }
input.text, select, textarea { border: 1px solid #8f92c0; background:url(../img/bk_tbox.png) repeat-x #ffffff; }
label.focussing, input.focussing, select.focussing, textarea.focussing { border: 1px solid #ffaa00; }
input.text_readonly, textarea.text_readonly { background:url(../img/bk_tbox_readonly_ddd.png) repeat-x #dddddd; border: 1px solid #8f92c0; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance:none; margin:0; -moz-appearance: none; }
input[type=number] { -moz-appearance:textfield; }
hr { height:0; line-height:0; font-size:1px; border:0; border-bottom:1px solid #ffffff; border-top:1px solid #92c1e6; margin-top:4px; margin-bottom:4px; width:100% }
h4 { display:inline; font-weight:normal; padding:0 2px; margin:0; background-color:#888888; color:#ffffff; font-size:13px; }
input.checkbox, input.radio { padding-right:2px; }

nobr * { white-space:nowrap }

ul { margin:0 0 0 10px; padding-left:10px; list-style-image:url(../img/dot.gif) }
li, li a { line-height:36px }

em { font-style:normal; font-weight:normal; color:#ff5599; }

form, form table, form textarea, form input, form select { font-size:14px; }
form table { width:100% }

/* -----------------------------------------------------------------------------
 anchor
----------------------------------------------------------------------------- */
.bikou_cell { background-color:#f5f5f5 }
a:link    { color:#00f; }
a:visited { color:#00f; }
body.is_pc a:hover   { color:#f50; }

a.block1 { display:block; text-decoration:none }
body.is_pc a.block1:hover { background-color:#ffff99; cursor:pointer; }
a.block1 span { border-bottom:1px solid #00f; }
body.is_pc a.block1:hover span { border-bottom:1px solid #ff5500 }

a.block2 { display:block; text-decoration:none }
body.is_pc a.block2:hover { background-color:#ffff99; cursor:pointer; }
a.block2 span { border-bottom:1px solid #05d; }
body.is_pc a.block2:hover span { border-bottom:1px solid #ff5500 }

.line_height26 a.block1 { line-height:26px }

a.a_selected { background-color:#ff8866; color:#ffffff; }
body.is_pc a.a_selected:hover { background-color:#ffb680; cursor:pointer; color:#ffffff; }
a.a_selected span { border-bottom:1px solid #ffffff; }
body.is_pc a.a_selected:hover span { background-color:#ffb680; border-bottom:1px solid #ffffff }

a.menubtn { border-right:1px solid #88aaee; width:40px; height:27px; display:block; text-align:center; line-height:25px; color:#ffffff; }
a.menubtn { text-decoration:none; background:url(../img/menubtn.gif) repeat-x; padding:2px 0 } /* 568FFA - 064EBC */
a.menubtn50 { width:50px; }
a.menubtn70 { border:0; width:70px; }
body.is_pc a.menubtn:hover { background:#ff8866; color:#ffffff  }
a.menubtn_on { background:url(../img/menubtn_on.gif) repeat-x; }
a.closebtn { background-image:url(../img/close.gif); width:50px }

/* -----------------------------------------------------------------------------
 simple class
----------------------------------------------------------------------------- */
.cell_taiin { background-image:url(../img/bk_taiin_w.gif); }
.bikou_cell_taiin { background-image:url(../img/bk_taiin_g.gif); }
.siji_cell_taiin { background-image:url(../img/bk_taiin_w.gif); }
.soap_cell_taiin { background-image:url(../img/bk_taiin_w.gif); }
.bikou_cell { background-color:#f5f5f5 }
.siji_cell { background-color:#ffffff }
.soap_cell { background-color:#ffffff }
.white { background-color:#ffffff }
.imeoff { ime-mode:disabled }
.relative { position:relative }
.absolute { position:absolute }
.bottom { vertical-align:bottom }
.block1 { display:block; }
.center { text-align:center }
.right { text-align:right }
.left { text-align:left }
.none { display:none }
.middle { vertical-align:middle }
td.dot { padding-left:15px; background:url(../img/dot.gif) 0 4px no-repeat; }

.clickbox { position:absolute; cursor:pointer; top:0; z-index:90; }
body.is_pc .clickbox:hover { background:url(../img/ffff00_alpha34.png); }

.template { display:none }

.number { ime-mode:disabled }
.num2 { ime-mode:disabled; width:30px }
.num3 { ime-mode:disabled; width:40px }
.num4 { ime-mode:disabled; width:50px }

body.is_pc .hover:hover { background:#ffff99; cursor:pointer }
body.is_pc .hover2:hover { background:#ffff99; }
.dot_title { background:url(../img/dot.gif) 0 6px no-repeat; padding-left:15px; }

.instruction { color:#999999 }

.repeat_object_template { display:none }

.ymd_button { width:90px; }
.pale { color:#999999 }

.hm_button { width:60px; }
.pale { color:#999999 }

.time_selected { background-color:#ff8866; color:#ffffff }

.vital_selector { border-collapse:collapse; background-color:#fff; border:0; width:100% }
.vital_selector td { border:1px solid #1f97f5; padding:2px }

.tooltip td { padding:1px; padding-left:3px; }
.tooltip th { padding-right:4px; padding-left:4px }

.borderl { border-left:1px dashed #cccccc; }
.borderb { border-bottom:1px solid #d7f0ff; }
.bordert { border-top:1px solid #d7f0ff; }

.vital_t  { color:#0000ff }
.vital_p  { color:#ff0000 }
.vital_r  { color:#008822 }
.vital_bp { color:#958f22 }
.vital_hr { color:#d064f2 }
.vital_sp { color:#ffb185 }
.vital_w  { color:#aaaaaa }
.fontsize12 { font-size:12px; }

span.nikkin { background-color:#444444 !important; color:#ffffff !important; line-height:12px !important; padding:0 3px !important; }
span.junya { background-color:#2a9cf4 !important; color:#ffffff !important; line-height:12px !important; padding:0 3px !important; }
span.sinya { background-color:#e43434 !important; color:#ffffff !important; line-height:12px !important; padding:0 3px !important; }
span.action_hm { background-color:#3cc816 !important; color:#ffffff !important; line-height:12px !important; padding:0 3px !important; }
span.az { background-color:#3cc816 !important; color:#ffffff !important; line-height:12px !important; padding:0 3px !important; }
span.is_continue { background-color:#bfb715 !important; color:#ffffff !important; line-height:12px !important; padding:0 1px !important; }
span.is_sumi { background-color:#e43434 !important; color:#ffffff !important; line-height:12px !important; padding:0 1px !important; }
span.is_stop { background-color:#f78eff !important; color:#ffffff !important; line-height:12px !important; padding:0 1px !important; }
span.pict { background-color:#2a9cf4 !important; color:#ffffff !important; line-height:12px !important; padding:0 1px !important; }

body.is_pc label.is_sumi, body.is_not_pc label.is_sumi { background-color:#e43434; color:#ffffff; }
body.is_pc label.is_stop, body.is_not_pc label.is_stop { background-color:#f78eff; color:#ffffff; }
label.is_continue { background-color:#bfb715; color:#ffffff; }

.bikou_cell div.new_entry, .bikou_cell_taiin div.new_entry { padding:2px 0 6px 0; position:relative; height:20px; overflow:hidden }
.siji_cell div.new_entry, .siji_cell_taiin div.new_entry { padding:2px 0 6px 0; position:relative; height:20px; overflow:hidden; }
.soap_cell div.new_entry, .soap_cell_taiin div.new_entry { padding:2px 0 6px 0; position:relative; height:20px; overflow:hidden; }

div.new_entry div { color:#ff8800; top:-100px; position:absolute; white-space:nowrap; }
body.is_pc .hover div.new_entry div { top:0 }

.dlg_delete_btn { margin-right:50px; color:#bb0000 }

/* -----------------------------------------------------------------------------
 画像領域
----------------------------------------------------------------------------- */
div.picture_area { background-color:#555555; position:relative; }
div.picture_m_container { float:left; width:130px; height:160px; margin:10px 0 10px 10px; text-align:left; position:relative; background-color:#444444 }
div.picture_m_container button { position:absolute; right:0; top:0; }
div.picture_m_container a { position:absolute; border:2px solid #333333; }
body.is_pc div.picture_m_container a:hover { border:2px solid #ffff99; }


div.picture_area { background-color:#555555; position:relative }
div.picture_s_container { float:left; width:36px; height:36px; margin:2px 0 2px 2px; text-align:left; position:relative; background-color:#444444 }
div.picture_s_container button { position:absolute; right:0; top:0; }
div.picture_s_container a { position:absolute; border:1px solid #333333; }
body.is_pc div.picture_s_container a:hover { border:1px solid #ffff99; }


/* -----------------------------------------------------------------------------
 ヘッダ
----------------------------------------------------------------------------- */
div#header_menu_div  { position:relative; top:0; height:30px; z-index:100; border-bottom:1px solid #88caff; width:100%; background-color:#cbe2f5; }
body.is_pc div#header_menu_div label:hover { background-color:#ff984d }

table#header_menu_table { background-color:#2a9cf4; width:100%; font-size:14px; color:#ffffff; line-height:27px; }



/* -----------------------------------------------------------------------------
 指示板・SOAP
----------------------------------------------------------------------------- */
table.sijiban_soap_table { width:100%; table-layout:fixed }
table.sijiban_soap_table th, table.sijiban_soap_table td { border:1px solid #88caff; overflow:hidden; }
table.sijiban_soap_table th { background-color:#d7f0ff; }

table.sijiban_soap_table td table.ward_ptrm_panel td { border:1px solid #c5d506; color:#889304; padding:0px 3px; background-color:#f8fdb7 }
table.sijiban_soap_table td table.ward_ptrm_panel td.no_ptrm { border:1px solid #ff0000; color:#ffffff; padding:0px 3px; background-color:#ff6666 }
body.is_pc table.sijiban_soap_table td table.ward_ptrm_panel td:hover { border:1px solid #ff8866; color:#ffffff; background-color:#ff8866 }
body.is_pc table.sijiban_soap_table td table.ward_ptrm_panel td.no_ptrm:hover { border:1px solid #990000; color:#990000; background-color:#ffcccc }

table#sijiban_soap_table_float_header { position:fixed; top:30px; height:25px; z-index:100; }

table.sijiban_soap_table td td { border:0 }
table.sijiban_soap_table div.siji_panel { background-color:#d7f0ff; }
table.sijiban_soap_table div.siji_panel span { color:#ffffff; padding:0 1px; }
body.is_pc table.sijiban_soap_table div.hover2 div.hover2child { background-color:#eee257; }

table.input_care_table td span { padding:0 2px 0 0 }

/* -----------------------------------------------------------------------------
 温度板
----------------------------------------------------------------------------- */
table.ondoban_table { width:auto; table-layout:fixed; background-color:#88caff; border-spacing:1px; border-collapse:separate;  }
table.ondoban_table th, table.ondoban_table td { overflow:hidden; position:relative; padding:0 }
table.ondoban_table th { background-color:#d7f0ff; }
table.ondoban_table td { background-color:#ffffff }
body.is_pc table.ondoban_table tr.hover_tr th { background-color:#ffffaa; }
table.ondoban_table th.th_color2 { background-color:#d3ffca }

table.ondoban_table table.o_child { width:100%; position:static; }
table.ondoban_table table.o_child td { background:transparent }
table.ondoban_table table.o_child td.right { text-align:right }
table.ondoban_table table.o_child td.left { text-align:left }


table#ondoban_table_float_header { position:fixed; top:30px; height:25px; z-index:100; }
div.o_abs { position:static; font-size:12px; text-align:center }
div.left { text-align:left }
table.fontsize11 div.o_abs { font-size:11px }

table.ondoban_table td.wp15 { width:15%; }
table.ondoban_table td.wp20 { width:20%; }
table.ondoban_table td.wp25 { width:25%; }
table.ondoban_table td.wp30 { width:30%; }
table.ondoban_table td.wp35 { width:35%; }
table.ondoban_table td.wp33 { width:33%; }
table.ondoban_table td.wp40 { width:40%; }
table.ondoban_table td.wp50 { width:50%; }
table.ondoban_table td.wp60 { width:60%; }
table.ondoban_table td.wp70 { width:70%; }
table.ondoban_table td.wp80 { width:80%; }

body.is_not_pc table#ondoban_table { width:820px; table-layout:fixed; }
body.is_not_pc table.o_child { position:static; width:100px }
body.is_not_pc div.o_abs { position:static; width:100px; }
body.is_not_pc div.ww2 { width:50px }
body.is_not_pc div.ww3 { width:33px }
body.is_not_pc div.ww4 { width:25px }
body.is_not_pc div.ww015 { width:15px }
body.is_not_pc div.ww02 { width:20px }
body.is_not_pc div.ww03 { width:30px }
body.is_not_pc div.ww035 { width:35px }
body.is_not_pc div.ww04 { width:40px }
body.is_not_pc div.ww06 { width:60px }
body.is_not_pc div.ww07 { width:70px }
body.is_not_pc div.ww08 { width:80px }



/* -----------------------------------------------------------------------------
 指示（温度板右側）
----------------------------------------------------------------------------- */
table.siji_hist th { width:60px; background-color:#d7f0ff; border-right:1px solid #88caff }
table.siji_hist td { width:54px; background-color:#d7f0ff }
table.siji_hist th, table.siji_hist td { height:26px; line-height:26px; text-align:center; border-bottom:1px solid #88caff; }
#ondoban_siji hr { height:4px; line-height:4px; font-size:1px; border:0; border-bottom:1px dashed #ffaadd; margin:0; border-top:0 }


table.general_list {  background-color:#f5f5f5 }
table.general_list th, table.general_list td { border:1px solid #88caff }
table.general_list th { background-color:#ace0ff }

table.white_list td { background-color:#ffffff }

table.no_border td { border:0; }
table.no_border td.b_l { border-left:1px solid #88caff; }
table.no_border td.b_r { border-right:1px solid #88caff; }
table.no_border td.b_t { border-top:1px solid #88caff; }
table.no_border td.b_b { border-bottom:1px solid #88caff; }


/* -----------------------------------------------------------------------------
 ダイアログ
----------------------------------------------------------------------------- */
div.dialog_first_line { height:36px; padding-top:3px }
div.dialog_first_line table { width:100%; height:28px }
div.dialog_first_line table th { padding:2px 30px 2px 0px; vertical-align:bottom; color:#1883b6; border-bottom:2px solid #b3d9ee; font-weight:normal; text-align:left; width:10%; white-space:nowrap; }
div.dialog_first_line table th.ptif_name { padding:2px 30px 0px 0px; color:#49a5d6; font-size:18px; letter-spacing:3px; }
div.dialog_first_line table td { text-align:right; width:80%; vertical-align:bottom }

/* -----------------------------------------------------------------------------
 カレンダ
----------------------------------------------------------------------------- */
div#calendarButtonContainer { width:450px; border-left:1px solid #88caff }
div#calendarButtonContainer div { float:left; width:63px; height:36px; border-right:1px solid #88caff; }
div#calendarButtonContainer div { border-bottom:1px solid #88caff; background-color:#ffffff }
div#calendarButtonContainer div.clear { clear:both; width:auto; height:auto; border:0; background-color:transparent }
div#calendarButtonContainer div.week { height:24px; float:left; text-align:center; border:1px solid #88caff; border-left:0; }
div#calendarButtonContainer div.week { background-color:#ace0ff }
div#calendarButtonContainer div.saturday { color:blue }
div#calendarButtonContainer div.sunday { color:red }
div#calendarButtonContainer a.block1 { width:63px; height:36px; display:block; text-align:center; line-height:34px; }
div#calendarButtonContainer a.pale { color:#999999; background-color:#eeeeee }
div#calendarButtonContainer a.today { width:57px; height:30px; background-color:#ace0ff; color:#000000; line-height:14px !important; border:3px solid #ace0ff }
div#calendarButtonContainer a.sijibi { width:57px; height:30px; background-color:#ffc1da; color:#99003e; line-height:14px !important; border:3px solid #ffc1da}
div#calendarButtonContainer a.current { width:57px; height:30px; border:3px solid #ff8866; line-height:29px; }
body.is_pc div#calendarButtonContainer a.block1:hover { background-color:#ffff99; color:#ff5500 }


/* -----------------------------------------------------------------------------
 ナビゲーション・ツールチップ
----------------------------------------------------------------------------- */
table#tblNavi { border:1px solid #404040; background-color:#606060; display:none; position:fixed; line-height:1.5; z-index:50000; color:#ffffff; font-size:12px }
table#tblNavi th, table#tblNavi td { vertical-align:top; padding:6px; letter-spacing:1px; text-align:left }
table#tblNavi th { font-weight:bold; }

/* -----------------------------------------------------------------------------
UI Dialog
----------------------------------------------------------------------------- */
.ui-dialog { background-color:#d7f0ff }
.ui-dialog .ui-dialog-titlebar { padding:5px 4px; background-color:#2a9cf4; font-size:14px; }
.ui-widget-header { font-weight:normal; }

.ui-dialog-buttonset { text-align:left; padding-left:10px; }
.ui-dialog-buttonpane { background-color:#a2d0ea; border:0; height:14px; position:relative; left:-10px; bottom:-4px; width:120%; }
.ui-dialog-buttonpane { border-top:1px solid #8fbcd1; color:#33657d; font-size:12px; text-align:left; }
.ui-dialog-buttonset span.display_time { padding-left:20px; }
.ui-dialog .ui-dialog-content { padding:0 0.5em 0.5em 0.5em }
