<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
	<title>CoMedix {$cl_title} | 申請一覧</title>
	<script type="text/javascript" src="js/fontsize.js"></script>
	<script type="text/javascript" src="js/cl_application_apply_list.js"></script>
	{$yui_cal_part}
	{literal}
	<script type="text/javascript">
	<!--
	function cateOnChange() {

		var obj_cate = document.apply.category;
		var obj_wkfw = document.apply.workflow;

		var cate_id = getSelectedValue(obj_cate);
		// 申請書セレクトボックスのオプションを全削除
		deleteAllOptions(obj_wkfw);

		// 申請書セレクトボックスのオプションを作成
		addOption(obj_wkfw, '-', 'すべて');

		{/literal}{$js_str}{literal}
	}

	//-->
	</script>
	{/literal}
	{literal}
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<style type="text/css">
		.list {border-collapse:collapse;}
		.list td {border:#A0D25A solid 1px;}

		table.block_in {border-collapse:collapse;}
		table.block_in td {border:#A0D25A solid 0px;}
	</style>
	{/literal}
</head>

<body bgcolor="#ffffff" text="#000000" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" onload="initPage();initcal();setEventHandler();">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr bgcolor="#f6f9ff">
						<td width="32" height="32" class="spacing"><a href="ladder_menu.php?session={$session}"><img src="img/icon/s42.gif" width="32" height="32" border="0" alt="{$cl_title}"></a></td>
						<td><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j16">&nbsp;<a href="ladder_menu.php?session={$session}"><b>{$cl_title}</b></a> &gt; <a href="cl_application_apply_list.php?session={$session}"><b>申請一覧</b></a></font></td>

						{if $workflow_auth == "1"}
						<td align="right" style="padding-right:6px;"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j16">&nbsp;<a href="cl_workflow_menu.php?session={$session}&workflow=1"><b>管理画面へ</b></a></font></td>
						{else}
						{/if}

					</tr>
				</table>
				{$aplyctn_mnitm_str}
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#A0D25A"><img src="img/spacer.gif" width="1" height="2" alt=""></td>
					</tr>
				</table>
				<img src="img/spacer.gif" alt="" width="1" height="2"><br>
				<form name="apply" action="#" method="post">
					<input type="hidden" name="session" value="{$session}">
					<img src="img/spacer.gif" alt="" width="1" height="2"><br>
					<table width="100%" border="0" cellspacing="0" cellpadding="1" class="list">
						<tr>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="1" class="list">
									<tr>
										<td bgcolor="#E5F6CD"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">フォルダ</font></td>
										<td ><select name="category" onchange="cateOnChange();">{$cate_options_str}</select></td>
										<td bgcolor="#E5F6CD"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">申請書名</font>
										<td ><select name="workflow"></select></td>


										<td bgcolor="#E5F6CD"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">研修区分</font>
										<td ><select id="training_div" name="training_div">{$training_div_options_str}</select></td>


									</tr>
									<tr>
										<td bgcolor="#E5F6CD"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">承認者</font></td>
										<td colspan="5"><input type="text" size="30" maxlength="30" name="approve_emp_nm" value="{$approve_emp_nm}"></td>
									</tr>
									<tr>
										<td bgcolor="#E5F6CD"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">申請日</font></td>
										<td colspan="3">

											<table border="0" cellspacing="0" cellpadding="0" class="block_in">
												<tr>
													<td>
														<select id="date_y1" name="date_y1">{$option_date_y1}</select>/<select id="date_m1" name="date_m1">{$option_date_m1}</select>/<select id="date_d1" name="date_d1">{$option_date_d1}</select>
													</td>
													<td>
														<img src="img/calendar_link.gif" style="position:relative;top:1px;left:3px;z-index:1;cursor:pointer;" onclick="show_cal1();"/><br>
														<font size='3' face='ＭＳ Ｐゴシック, Osaka' class='j12'>
															<div id="cal1Container" style="position:absolute;display:none;z-index:10000;"></div>
														</font>
													</td>
													<td>
														&nbsp;〜<select id="date_y2" name="date_y2">{$option_date_y2}</select>/<select id="date_m2" name="date_m2">{$option_date_m2}</select>/<select id="date_d2" name="date_d2">{$option_date_d2}</select>
													</td>
													<td>
														<img src="img/calendar_link.gif" style="position:relative;top:1px;left:3px;z-index:1;cursor:pointer;" onclick="show_cal2()"/><br>
														<font size='3' face='ＭＳ Ｐゴシック, Osaka' class='j12'>
															<div id="cal2Container" style="position:absolute;display:none;z-index:10000;"></div>
														</font>
													</td>
												</tr>
											</table>
										</td>
										<td bgcolor="#E5F6CD"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">申請状況</font></td>
										<td>
											<select name="apply_stat">{$aply_stt_optns_str}</select>
										</td>
									</tr>
									<tr>
										<td bgcolor="#E5F6CD"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">開催日</font></td>
										<td colspan="3">
											<table border="0" cellspacing="0" cellpadding="0" class="block_in">
												<tr>
													<td>
														<select id="date_y3" name="date_y3">{$option_date_y3}</select>/<select id="date_m3" name="date_m3">{$option_date_m3}</select>/<select id="date_d3" name="date_d3">{$option_date_d3}</select>
													</td>
													<td>
														<img src="img/calendar_link.gif" style="position:relative;top:1px;left:3px;z-index:1;cursor:pointer;" onclick="show_cal3();"/><br><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12"><div id="cal3Container" style="position:absolute;display:none;z-index:10000;"></div></font>
													</td>
													<td>
														&nbsp;〜<select id="date_y4" name="date_y4">{$option_date_y4}</select>/<select id="date_m4" name="date_m4">{$option_date_m4}</select>/<select id="date_d4" name="date_d4">{$option_date_d4}</select>
													</td>
													<td>
														<img src="img/calendar_link.gif" style="position:relative;top:1px;left:3px;z-index:1;cursor:pointer;" onclick="show_cal4()"/><br><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12"><div id="cal4Container" style="position:absolute;display:none;z-index:10000;"></div></font>
													</td>
												</tr>
											</table>
										</td>
										<td colspan="2">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block_in">
												<tr align="right">
													<td>
														<input type="button" value="検索" onclick="apply_search();">
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<img src="img/spacer.gif" alt="" width="1" height="1">
					<!-- 2012/03/12 Yamagawa del(s) 一括処理復活時に復活させる -->
					<!--<table width="100%" border="0" cellspacing="0" cellpadding="1">
						<tr>
							<td align="right">
								<input type="button" value="再申請" onclick="re_apply()">
								<input type="button" value="申請取消" onclick="apply_cancel()">
							</td>
						</tr>
					</table>-->
					<!-- 2012/03/12 Yamagawa del(e) 一括処理復活時に復活させる -->
					<img src="img/spacer.gif" alt="" width="1" height="5"><br>
					<table width="100%" border="0" cellspacing="0" cellpadding="1" class="list">
						<tr bgcolor="#E5F6CD">
							<!-- 2012/03/12 Yamagawa del(s) 一括処理復活時に復活させる -->
							<!--<td width="50"  align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">再申請</font></td>
							<td width="40"  align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">申請<br>取消</font></td>-->
							<!-- 2012/03/12 Yamagawa del(e) 一括処理復活時に復活させる -->
							<td width="100" align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">申請番号<br>(管理ＣＤ-連番)</font></td>
							<td width="*"   align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">申請書名</font></td>
							<td width="*"   align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">研修名</font></td>
							<!-- 2012/09/21 Yamagawa add(s) -->
							<td width="100" align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">志願者</font></td>
							<td width="100" align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">志願者所属</font></td>
							<!-- 2012/09/21 Yamagawa add(e) -->
							<td width="100" align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">承認者</font></td>
							<td width="100" align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">承認者所属</font></td>
							<td width="60"  align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">承認<BR>状況</font></td>
							<td width="100" align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">申請日</font></td>
							<td width="60"  align="center"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j12">申請<BR>状況</font></td>
						</tr>
						{$srch_aplctn_lst_str}
					</table>
				</form>
			</td>
		</tr>
	</table>
	<img src="img/spacer.gif" alt="" width="1" height="5"><br>
</body>
</html>