{literal}
<html>
	<head>
{/literal}
		<script type="text/javascript" src="/comedix/cl/sample/samplelist.js"></script>
{literal}
	</head>
	<body>
	<table>
	<tr>
	<td width=100>
	</td>
	<td align=left>
			<form name="testform" method="post" >
				<table border="1">
					<tr><th>申請ID	  </th><td><input type="text" name="apply_id" value=""></td></tr>
					<tr><th>院内研修ID  </th><td><input type="text" name="training_id"	value="123456"></td></tr>
					<tr><th>申請日	  </th><td><input type="text" name="training_date"  value="2012/01/30 17:33:00"></td></tr>
					<tr><th>学びたいこと</th><td><input type="text" name="learn_memo"	 value="あいうえお"></td></tr>
				</table>

				<input type="hidden" name="charange_level" value="1">
				<input type="hidden" name="mode" value="">
				<input type="hidden" name="code" value="">
				<input type="button" name="reg" onclick="javascript:create_data();" value="登録">
				<input type="button" name="upd" onclick="javascript:update_data();" value="更新">

			<br>
			<table border="1">
				<tr>
					<th width=120>申請番号</th>
					<th width=30>レベル</th>
					<th width=100>院内研修番号</th>
					<th width=100>院内研修日程</th>
					<th width=100>研修で学びたいこと</th>
					<th width=30>論理削除フラグ</th>
					<th width=200>作成日時</th>
					<th width=100>作成者</th>
					<th width=200>更新日時</th>
					<th width=100>更新者</th>
					<th width=55>更新</th>
					<th width=55>物理<br>削除</th>
					<th width=55>論理<br>削除</th>
					<th width=12><br></th>
				</tr>
			</table>
{/literal}

			<div style="overflow: auto; height:500; width:1349;">
			<table border="1">
{section name=cell loop=$data}


{if $data[cell].delete_flag == "1"}
                <tr bgcolor="f0f0f0">
{else}
                <tr>
{/if}

					<td width=120><a href="javascript:void(0);" onclick="javascript:detail('{$data[cell].apply_id}');">{$data[cell].apply_id}</a><br></td>
					<td width=30>{$data[cell].charange_level}<br></td>
					<td width=100>{$data[cell].inside_training_id}<br></td>
					<td width=100>{$data[cell].inside_training_date}<br></td>
					<td width=100>{$data[cell].learn_memo}<br></td>
					<td width=30>{$data[cell].delete_flag}<br></td>
					<td width=200>{$data[cell].create_date}<br></td>
					<td width=100>{$data[cell].create_user}<br></td>
					<td width=200>{$data[cell].update_date}<br></td>
					<td width=100>{$data[cell].update_user}<br></td>
					<td width=55><input type="button" name="del" onclick="javascript:set_data('{$data[cell].apply_id}','{$data[cell].charange_level}','{$data[cell].inside_training_id}','{$data[cell].inside_training_date}','{$data[cell].learn_memo}');" value="選択"></td>
					<td width=55><input type="button" name="del" onclick="javascript:p_delete_data('{$data[cell].apply_id}');" value="削除"></td>
					<td width=55><input type="button" name="del" onclick="javascript:l_delete_data('{$data[cell].apply_id}');" value="削除"></td>
				</tr>

{/section}
	</table>
	</td>
	</tr>
	</table>
    </div>
	</form>


	</body>
</html>
