<base href="<{$BASE_HREF}>/" />
<script type="text/javascript" src="js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/shift/results_edit.js"></script>
<script type="text/javascript">
    <!--
    var e = 'e<{$res_emp_id|escape:'javascript'}>';
    var d = 'd<{$res_date|escape:'javascript'}>';
    var window_close = true;
    var update_pattern = <{$pattern_json}>;
    set_parent_results(
        'e<{$res_emp_id|escape:'javascript'}>',
        'd<{$res_date|escape:'javascript'}>',
        'p<{$res_pattern|escape:'javascript'}>',
        '<{$res_duty|escape:'javascript'}>',
        '<{$res_tmcd_group_id|escape:'javascript'}>',
        '<{$res_ovtm|escape:'javascript'}>',
        '<{$res_ovtmrsn|escape:'javascript'}>',
        update_pattern
        );
    self.close();
    // -->
</script>