//このファイルは使用していません。
//	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
//	<html>
//	<head>
//	<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
//	<title>CoMedix <{$INCIDENT_TITLE}> | <{$INCIDENT_TITLE}>トップ</title>
//	<script type="text/javascript" src="js/fontsize.js"></script>
//	<link rel="stylesheet" type="text/css" href="css/main.css">
//	<style type="text/css">
//	//	.list {border-collapse:collapse;}
//	.list td {border:#35B341 solid 1px;}
//	//	</style>
//	</head>
//	<body bgcolor="#ffffff" text="#000000" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
//	<table width="100%" border="0" cellspacing="0" cellpadding="0">
//	<tr>
//	<td>
//	<!-- ヘッダー START -->
//	<{php}>
//		require_once("./hiyari_common.ini");
//		show_hiyari_header($this->_tpl_vars['session'],$this->_tpl_vars['fname'],false);
//	<{/php}>
//	<!-- ヘッダー END -->
//	<img src="img/spacer.gif" width="1" height="5" alt=""><br>
//	
//	<!--未読の受信レポート件数-->
//	<table border="0" cellspacing="0" cellpadding="0">
//	  <tr>
//	    <td width="10"><img src="img/r_1.gif" width="10" height="10"></td>
//	    <td width="100%" background="img/r_up.gif"><img src="img/spacer.gif" width="1" height="10" alt=""></td>
//	    <td width="10"><img src="img/r_2.gif" width="10" height="10"></td>
//	  </tr>
//	  <tr>
//	    <td background="img/r_left.gif"><img src="img/spacer.gif" width="10" height="1" alt=""></td>
//	    <td>
//		<{$no_recv_read_num}>
//		</td>
//	    <td background="img/r_right.gif"><img src="img/spacer.gif" width="10" height="1" alt=""></td>
//	  </tr>
//	  <tr>
//	    <td><img src="img/r_3.gif" width="10" height="10"></td>
//	    <td background="img/r_down.gif"><img src="img/spacer.gif" width="1" height="10" alt=""></td>
//	    <td><img src="img/r_4.gif" width="10" height="10"></td>
//	  </tr>
//	</table>
//	
//	<img src="img/spacer.gif" width="1" height="5" alt=""><br>
//	
//	<!--news-->
//	<table border="0" cellspacing="0" cellpadding="0">
//	  <tr>
//	    <td width="10"><img src="img/r_1.gif" width="10" height="10"></td>
//	    <td width="100%" background="img/r_up.gif"><img src="img/spacer.gif" width="1" height="10" alt=""></td>
//	    <td width="10"><img src="img/r_2.gif" width="10" height="10"></td>
//	  </tr>
//	  <tr>
//	    <td background="img/r_left.gif"><img src="img/spacer.gif" width="10" height="1" alt=""></td>
//	    <td>
//			<table width="100%" border="0" cellspacing="0" cellpadding="0">
//				<tr>
//					<td colspan="3" bgcolor="#35B341"><img src="img/spacer.gif" width="1" height="1" alt=""></td>
//				</tr>
//				<tr>
//					<td width="1" bgcolor="#35B341"><img src="img/spacer.gif" width="1" height="1" alt=""></td>
//					<td>
//						<table width="100%" border="0" cellspacing="0" cellpadding="0">
//							<tr height="22" bgcolor="#DFFFDC">
//								<td class="spacing"><font size="3" face="ＭＳ Ｐゴシック, Osaka" class="j14" color="#13781D"><b><{$auth_sm_name}>からのお知らせ</b></a></td>
//							</tr>
//							<tr>
//								<td bgcolor="#35B341"><img src="img/spacer.gif" width="1" height="1"></td>
//							</tr>
//						</table>
//						<{$news}>
//	
//					</td>
//					<td width="1" bgcolor="#35B341"><img src="img/spacer.gif" width="1" height="1" alt=""></td>
//				</tr>
//				<tr>
//					<td colspan="3" bgcolor="#35B341"><img src="img/spacer.gif" width="1" height="1" alt=""></td>
//				</tr>
//			</table>
//	
//		</td>
//	    <td background="img/r_right.gif"><img src="img/spacer.gif" width="10" height="1" alt=""></td>
//	  </tr>
//	  <tr>
//	    <td><img src="img/r_3.gif" width="10" height="10"></td>
//	    <td background="img/r_down.gif"><img src="img/spacer.gif" width="1" height="10" alt=""></td>
//	    <td><img src="img/r_4.gif" width="10" height="10"></td>
//	  </tr>
//	</table>
//	
//	<img src="img/spacer.gif" width="1" height="6" alt=""><br>
//	
//	<!-- フッター START -->
//	<{php}>
//		show_hiyari_footer($this->_tpl_vars['session'],$this->_tpl_vars['fname'],false);
//	<{/php}>
//	<!-- フッター END -->
//	
//	</td>
//	</tr>
//	</table>
//	</body>
//	</html>
