<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<script language='javascript'>
var msg = '{$msg}';
if ( msg != '') alert( msg );
location.replace('{$url}');
</script>
</head>
<body>
</body>
</html>
