<{*<!--
---------------------------------------------------------------------------------------------------
患者の年齢（年数・月数どちらか必須なら必須表示）
---------------------------------------------------------------------------------------------------
-->*}>
<{if $i==210 && $j==40}>
  患者の年齢

<{*<!--
---------------------------------------------------------------------------------------------------
種類・場面・内容
---------------------------------------------------------------------------------------------------
-->*}>
<{elseif $i==910 || $i==920 || $i==930 || $i==940 || $i==950 || $i==960 || $i==970 || $i==980 || $i==990}>
  <{if $i==920 || $i==950 || $i==980}>
    <{*空欄*}>
  <{elseif $title!=""}>
    <{$title}>
  <{else}>
    <{$grps[$i].easy_item_list[$j].easy_item_name}>
  <{/if}>

<{*<!--
---------------------------------------------------------------------------------------------------
医療
---------------------------------------------------------------------------------------------------
-->*}>
<{elseif $i==1000}>
  <{$title}>

<{*<!--
---------------------------------------------------------------------------------------------------
通常項目
---------------------------------------------------------------------------------------------------
-->*}>
<{else}>
  <{*タイトルが指定されている場合*}>
  <{if $title!=""}>
    <{$title}>
    <{assign var="" value=$title}>

  <{*対応（カスタマイズ用）の詳細*}>
  <{elseif $i==1410 && $j==30}>
    <{$parent_ic[$key]}>の<{$grps[$i].easy_item_list[$j].easy_item_name}>

  <{*ユーザ指定のタイトル*}>
  <{elseif $i==125
    || $i==120
    || $i==520
    || $i==525
    || $i==530
    || $i==96
    || $i==610
    || $i==630
    || $i==900
    || $i==250
    || $i==290
    || $i==295
    || $i==3300
    || $i==240
    || $i==130
    || $i==1400 && $j==10
    || $i==1410 && $j==10
    || $i==1500 && $j==10
    || $i==1502 && $j==10
    || $i==1504 && $j==10
    || $i==1510 && $j==10
    || $i==1520 && $j==10
    || $i==1530 && $j==10
    || $i>=10000}>
    <{if $eis_item_title[$i]}>
      <{$eis_item_title[$i]}>
    <{else}>
      <{$grps[$i].easy_item_list[$j].easy_item_name}>
    <{/if}>

  <{*他*}>
  <{else}>
    <{$grps[$i].easy_item_list[$j].easy_item_name}>
  <{/if}>

  <{if $grps[$i].easy_item_list[$j].easy_item_type == 'checkbox' && (($i!=140 && count($grps[$i].easy_item_list[$j].easy_list) != 1) || ($i==140 && count($asses_use) != 1))}>
    <br/><span class="notice02">（複数選択可能）</span>
  <{/if}>
<{/if}>

<{*<!--
---------------------------------------------------------------------------------------------------
必須表示
---------------------------------------------------------------------------------------------------
-->*}>
  <{*発生場所詳細（発生場所が必須の場合、選択肢がある場合のみ必須。必須マークはJSで設定）*}>
  <{if $i==110 && $j==65}>
    <{if in_array("110_60", $item_must)}>
      <span id="id_<{$i}>_<{$j}>_required" class="notice01"></span>
    <{/if}>

  <{*患者の年齢（年数・月数どちらか必須なら必須）*}>
  <{elseif $i==210 && $j==40}>
    <{if in_array("210_40", $item_must) || in_array("210_50", $item_must)}>
      <span id="id_<{$i}>_<{$j}>_required" class="notice01">必須</span>
    <{/if}>

  <{*種類・場面・内容（概要が必須なら必須）*}>
  <{elseif $i==910 || $i==920 || $i==930 || $i==940 || $i==950 || $i==960 || $i==970 || $i==980 || $i==990}>
    <{if in_array('900_10', $item_must)}>
      <span id="id_<{$i}>_<{$j}>_required" class="notice01">必須</span>
    <{/if}>

  <{*医療*}>
  <{elseif $i==1000}>
    <{if in_array($m, $item_must)}>
      <span id="id_<{$i}>_<{$j}>_required" class="notice01">必須</span>
    <{/if}>

  <{*他*}>
  <{else}>
    <{if in_array($i|cat:'_'|cat:$j, $item_must)}>
      <span class="notice01">必須</span>
    <{/if}>
  <{/if}>

