<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<script type='text/javascript' src='./js/showpage.js'></script>
<script language='javascript'>showLoginPage(window);</script>
</head>
<body>
</body>
</html>
