<{if $block.title != $smarty.const._MI_SYSTEM_BNAME6 && $block.title != $smarty.const._MI_SYSTEM_BNAME2}>
<div class="blockTitle"><{$block.title}></div>
<{/if}>
<div class="blockContent"><{$block.content}></div>
