<{include file='db:system_notification_select.html'}>
<p><center>
<font face="arial, helvetica" size"-2">XooPopChat Started.<br>
by <a href="http://www.bluemooninc.biz">Copyright(c) Bluemoon inc. </a>2005</font>
</center><p>
