@charset "euc-jp";

/* -------------------------------------------------------------------
 共通・全体
------------------------------------------------------------------- */
* { font-family:"ＭＳ Ｐゴシック", Osaka; letter-spacing:1px }
a { color:#0000ff; cursor:pointer; }

a.custom_visited { color:#000000 }
a.green { color:#00aa00 }
a:hover, a.green:hover, a.custom_visited:hover { color:#ff6600 }

a.block { display:block; padding:2px }
a.block:hover { background-color:#fbffa2 }


html { width:100% }
script { display:none }
body { background-color:#ffffff; margin:0; padding:0; border:0; position:relative; width:100% }
body, table, textarea { line-height:1.2; }
body, table, textarea, select, input { font-size:13px; }
table { border-collapse:collapse; border:0 }
form{ margin:0; padding:0 }
img { border:0; vertical-align:middle }
label { cursor:pointer; padding-right:4px; }
label:hover { color:#999966 }
select { padding:2px; }
input, textarea { padding:3px; }


input.text, select, textarea { border: 1px solid #b7aa99; background:url(../img/bk_tbox.png) repeat-x #ffffff; }
input.text_readonly { background:url(../img/bk_tbox_readonly_ddd.png) repeat-x #dddddd; }

table th { font-weight:normal }

table tr.pickup_color { background-color:#fcffb5; }
table tr.color_hover:hover { background-color:#fcffb5; }
table tr.color_hover:hover td { background-color:#fcffb5; }
table tr.is_history:hover td { background-color:#f5f5f5; }
table tr.color_hover:hover td.is_history { background-color:#7a7ecb; }
table tr.color_hover:hover td.sumi { background-color:#ff3352; }

.imeoff { ime-mode:disabled }

label, .input_subguide { line-height:22px; display:inline; }

.fontsize12 { font-size:12px; }
.fontsize11 { font-size:11px; }


.unselected_fileitem { text-decoration:none; color:black; }
.selected_fileitem   { text-decoration:none; color:blue; font-weight:bold; }

.unselected_linkitem { color:black; }
.selected_linkitem   { color:blue; font-weight:bold; }

.ui-datepicker-trigger { vertical-align:middle; cursor:pointer; padding-left:2px; }

.mini_prefix_green { color:#ff77aa; font-size:12px; padding-right:2px }
.mini_prefix_gray { color:#aaaaaa; font-size:12px; padding-right:2px }

input.numeric { ime-mode: disabled; text-align: right; }

.section_title { color:#185816; background-color:#b1f1af; padding:5px; border-top:1px solid #ffffff; border-bottom:1px solid #4bba3f }
.section_title2 { color:#ffffff; background-color:#35b341; padding:5px; border-bottom:1px solid #b4f8ba }

.out_of_date { color:#aaaaaa; background-color:#f5f5f5 }

.visibility_hidden { visibility:hidden }

.warningbox { border:1px solid #e46bb1; background-color:#ffd2ef; padding:6px 10px; color:#000000 }
.warningfont { color:#ff7e71 }

.sumi { color:#ffffff; background-color:#ff5555; border:1px solid #ff5555; padding:0 }
.publishing_mark { color:#ffffff; background-color:#3fc94d; border:1px solid #3fc94d; padding:0 }
.publishing_bk { background-color:#d7ffdc }

.marubatu_maru { background-color:#33bb33; color:#ffffff; border:2px solid #33bb33 }
.marubatu_batu { background-color:#ff6666; color:#ffffff; border:2px solid #ff6666 }

label.important_label { color:#ff0000 }
label.important_label:hover { color:#ff9999 }

table.fixed { table-layout:fixed }

.vtop { vertical-align:top }

div.findbox { background-color:#f5f5f5; border-top:1px solid #f5f5f5; border-bottom:1px solid #c0c0c0; padding:5px 0 5px 5px; }
div.sectionbox { background-color:#eeeeee; border-top:1px solid #ffffff; border-bottom:1px solid #bbbbbb; padding:0 }

div.findbox2 { border-bottom:1px solid #c0c0c0; background-color:#f8f8f8; color:#b87105 }
div.findbox2 input.text, div.findbox2 select { border:1px solid #f19407 }

.bk3gray { background-color:#cccccc; border:3px solid #cccccc; padding:0 2px; }
.brown { border:3px solid #f5f5f5; color:#de5836 }
.brown2 { border:3px solid #ffffff; color:#de5836 }
.red { border:3px solid #f5f5f5; color:#ff0000 }
.retired { background-color:#cd3434; padding:0 2px; color:#ffffff }
.no_auth { color:#ff0000; font-size:12px }

/*div.table100outer { padding:5px 15px 5px 5px; width:auto }*/
div.usual_box { padding:5px; width:auto }

/*table.usual_box td { padding:5px } */


select.strong { background:url(../img/bk_tbox_y.gif) repeat-x #ffff77; color:#a88e17 }
option.strong { background:#ffff77; color:#a88e17 }
option.normal { background:#ffffff; color:#000000 }


/* -------------------------------------------------------------------
 テーブル（入力フィールド型）
------------------------------------------------------------------- */
table.inputlist { width:100%; border-bottom:1px solid #bbbbbb; }
table.inputlist th, table.inputlist td { padding:3px; line-height:22px; }
table.inputlist th { background-color:#ffe7d2; text-align:center; font-weight:normal; border:1px solid #f99d66;  }
table.inputlist td { text-align:left; background-color:#f5f5f5; border-top:1px solid #d5d5d5; border-right:1px solid #d5d5d5 }
table.inputlist td td { border:0; }
table.inputlist td table.inputlist td { border:1px solid #7ee47c; }

/* -------------------------------------------------------------------
 テーブル（入力フィールド型）
------------------------------------------------------------------- */
table.inputlist2 { width:100%; border-bottom:1px solid #bbbbbb; }
table.inputlist2 th, table.inputlist2 td { padding:3px; height:22px; line-height:22px; }
table.inputlist2 th { background-color:#ffe7d2; text-align:center; font-weight:normal; border:1px solid #f99d66; }
table.inputlist2 td { text-align:left; background-color:#eeeeee; border:1px solid #bbbbbb; }
table.inputlist2 td td { border:0; }
table.inputlist2 td table.inputlist td { border:1px solid #7ee47c; }
table.inputlist2 td.center { text-align:center; }


/* -------------------------------------------------------------------
 テーブル（リスト型）
------------------------------------------------------------------- */
table.list { background-color:#ffffff; width:100% }
table.list th, table.list td { padding:2px; height:22px; }
table.list th { background-color:#ffe7d2; text-align:center; font-weight:normal; border:1px solid #f99d66 }
table.list td { text-align:left; line-height:20px; border-bottom:1px solid #888888; border-left:1px solid #dddddd; border-right:1px solid #dddddd; }
table.list td img { padding-right:6px; }

table.list td.right, td.right { text-align:right }
table.list td.center, td.center { text-align:center }
table.list th.left, th.left { text-align:left }
table.list th.right, th.right { text-align:right }
table.list th.top, table.list td.top, td.top { vertical-align:top; }

table.list th.border0l, table.list td.border0l { border-left:0; }
table.list th.border0r, table.list td.border0r { border-right:0; }

table.list td.padding0 { padding:0 }
table.list td.tri_r a { background:url(../img/tri_r.gif) no-repeat; }
table.list td.tri_g a { background:url(../img/tri_g.gif) no-repeat; }
table.list td.tri_r a:hover, table.list td.tri_g a:hover { background-color:#fbffa2; }

table.padding_vertical0 td { padding-top:0; padding-bottom:0; }

table.list td.is_history { background-color:#5f5f85; color:#ffffff }

/* -------------------------------------------------------------------
 テーブル（ラジオボタングループなど）
------------------------------------------------------------------- */
table.rgroup { width:auto; height:auto; line-height:1; }
table.rgroup th { padding:0; height:auto; border:0; line-height:1; background:transparent }
table.rgroup td { padding:0 4px 0 2px; height:auto; border:0; line-height:1; background:transparent }

table.padding3 td { padding:3px }

/* -------------------------------------------------------------------
 テーブル（ファイルダウンロード一覧）
------------------------------------------------------------------- */
table.file_list { background-color:#ffffff; width:100% }
table.file_list th, table.file_list td { padding:4px 2px 2px 2px; height:22px; line-height:20px; border-bottom:1px solid #dddddd }
table.file_list th { text-align:left; font-weight:normal; vertical-align:top; padding-top:7px }
table.file_list td { text-align:left; }

.link_type_url { padding:2px; background-color:#ffffdd; color:#aaaaaa; border:1px solid #dddddd }
.link_type_download { padding:2px; background-color:#ffffdd; color:#aaaaaa; border:1px solid #dddddd }


/* -------------------------------------------------------------------
 受講状況テーブル
------------------------------------------------------------------- */
div#flow_block { padding:10px 0; }
div#flow_block div.hissu { color:#ff0000 }
table.ttl td { padding:0 6px 0 1px; vertical-align:top }
table.ttl td.middle { padding:0 4px; vertical-align:middle }

table.jj_list th, table.jj_list td { padding:0px 4px; height:22px; width:110px; }
table.jj_list th { background-color:#ffe7d2; border:1px solid #f99d66; }
table.jj_list td { text-align:right; padding-right:6px; vertical-align:middle; background-color:#f5f5f5; border:1px solid #bbbbbb; }
table.jj_list td.no_color { border:1px solid #ffffff; border-bottom:1px solid #f99d66; background-color:#ffffff; }


/* -------------------------------------------------------------------
 ツリー補正
------------------------------------------------------------------- */
ul.filetree { position:relative; top:5px }
ul.filetree li { line-height:1; padding:3px 0 0px 16px; position:relative; margin:0 }
ul.filetree li span.folder { line-height:1; padding:1px 0 2px 16px }
ul.filetree li span.folder a { padding-left:3px }
ul.filetree li ul { display:block; position:relative; top:-3px; }


/* -------------------------------------------------------------------
 ダイアログタイプ画面のヘッダ
------------------------------------------------------------------- */
div#title_margin { height:25px; position:relative; top:0; width:100% }
div#title_area { position:fixed; _position:absolute; top:0; width:100%; z-index:10000; background-color:#f4962a; border-bottom:1px solid #eeeeee; width:100%  }
div#title_area * { letter-spacing:3px; color:#ffffff; font-weight:normal; font-size:13px; }
div#title_area table { height:24px; width:100%; }
div#title_area table th { text-align:left; padding-left:34px; padding-right:14px; background:url(../../img/icon/s45.gif?v=1) 3px 2px no-repeat; width:50px; border-bottom:1px solid #777777 }
div#title_area table td { text-align:right; width:32px; border-bottom:1px solid #777777 }
div#title_area table td.contents_title { text-align:left; width:auto; padding:0 0 0 8px; letter-spacing:1px; border-right:1px solid #ccaaaa; border-left:1px solid #ccaa99; font-size:13px; background-color:#f5f5f5; color:#000000; border-bottom:1px solid #aaaaaa; font-size:16px; overflow:hidden }
div#title_area table td a { display:block; width:32px; height:24px; background:url(../img/close.gif) no-repeat; }
div#title_area table td a:hover { background-image:url(../img/closeo.gif); }

div#title_area table td input.contents_title { color:#000000; font-size:16px; background:transparent; border:0; letter-spacing:1px; display:block; width:100%; height:22px; padding:0; line-height:1 }


/* -------------------------------------------------------------------
 メニュー （ロゴ部  ＋  メインメニュー「お知らせ」「研修・講義」「職員検索」など）
------------------------------------------------------------------- */
table#tblLogoMenu { width:100%; border:0; font-size:16px; background:url(../img/bk_headerx.gif) repeat-x #f5f5f5zz; }
table#tblMainLink { width:100%; height:22px; line-height:22px; background-color:#cccccc; color:#ffffff }
table#tblMainLink td { height:22px; line-height:22px; padding:0; text-align:center; }
table#tblMainLink td.link:hover { background-color:#bbbbbb; border-top:1px solid #888888 }
table#tblMainLink td.link a { display:block; position:relative; text-decoration:none; height:22px; line-height:22px; color:#ffffff }

table#tblMainLink td { border-left:1px solid #f7b062; border-top:1px solid #d87327; background-color:#f19833; width:120px; border-bottom:1px solid #995902 }
table#tblMainLink td.link { border-left:1px solid #808080; border-top:1px solid #4a4a4a; background-color:#606060; border-bottom:1px solid #995902; }
table#tblMainLink td.after_margin { border-top:1px solid #d5d5d5; background:#f5f5f5; width:auto; border-left:0 }

table#tblMainLink td a img#notify_new_icon { position:absolute; right:1px; top:-6px; }


div#divMainLinkWrapper { border-bottom:1px solid #fedcc2; padding-top:3px }
div#divMainLinkWrapper2 { border-bottom:1px solid #feaf76 }


table.letterspace2 * { letter-spacing:2px }

/* -------------------------------------------------------------------
 ベージュボックス
------------------------------------------------------------------- */
.beige { background-color:#f4df97; padding:4px; border:1px solid #dfbd57 }
.gray { color:#aaaaaa }
.gray2 { color:#888888 }
.graybox { background-color:#777777; color:#ffffff; border:2px solid #777777 }

/* -------------------------------------------------------------------
 スクロール領域
------------------------------------------------------------------- */
div.scroll_div { overflow-y:scroll; overflow-x:hidden; border-bottom:1px solid #c0c0c0; position:relative }
div.orange_border { border:1px solid #c0c0c0 }

/* -------------------------------------------------------------------
 ナビゲーション・ツールチップ
------------------------------------------------------------------- */
iframe#iframeNavi { z-index:49999 }

table#tblNavi { border:1px solid #404040; background-color:#606060; display:none; position:absolute; line-height:1.5; z-index:50000; color:#ffffff; font-size:12px }
table#tblNavi th, table#tblNavi td { vertical-align:top; padding:6px; letter-spacing:1px; text-align:left }
table#tblNavi th { font-weight:bold; }

/* -------------------------------------------------------------------
 設問エリア
------------------------------------------------------------------- */
p.test_question {
    margin:24px 0 0 0;
    padding:8px 3px 8px 8px;
    background-color:#fff7d2;
    border:1px solid #f19833;
    border-left:8px solid #f19833;
    text-indent: 10px;
    width: 825px;
    color:#995409;
    text-indent:0;
    line-height:1.5;
}
p.questionnaire_pickup {
    background-color:#c1ffd2;
    border:1px solid #52e261;
    border-left:8px solid #52e261;
    color:#178a23;
}

div.test_answer2 { padding:6px; border-top:1px solid #f1e7e0; background-color:#f5f5f5; }
div.test_answer1 { border-top:1px solid #ccab93; border-bottom:1px solid #d9c1bb; }
h3.test_editor { font-weight:normal; font-size:12px; padding:8px; margin:0; background-color:rgb(250, 250, 250); }

h3.questionnaire_pickup {
    background-color:#c1ffd2;
    color:#178a23;
}
div.test_answer1 div.questionnaire_pickup {
    background-color:#c1ffd2;
}



/* -------------------------------------------------------------------
 ポーリングiframe
------------------------------------------------------------------- */
iframe#iframe_polling {
    position:absolute;
    width:230px;
    height:20px;
    top:-30;
    left:0;
}

/* -------------------------------------------------------------------
 ボタン
------------------------------------------------------------------- */
button.btn-main, button.btn-off, button.btn-sel { height:22px; padding:1px 2px 1px 3px; border:0; color:#ffffff; cursor:pointer; text-align:center; vertical-align:top }

button.btn-main { background:url(../img/btn_gr.gif) #5fd741 repeat-x; border:1px solid #00cc00; margin-left:1px; }
button.btn-main:hover { background:url(../img/btn_gr_on.gif) #5fd741 repeat-x; }
button.btn-sel { background:url(../img/btn_gr.gif) #5fd741 repeat-x; border:1px solid #00cc00; height:20px; vertical-align:middle; padding:0 2px }
button.btn-sel:hover { background:url(../img/btn_gr_on.gif) #5fd741 repeat-x; }

button.btn-off { background:url(../img/btn_off.gif) #e1e1e1 repeat-x; border:1px solid #d5d5d5; cursor:default; color:#ffffff; }
button.btn-off:hover { background:url(../img/btn_off.gif) #e1e1e1 repeat-x; }

